
@*@{
    PTW.DataAccess.ServicesImpl.MasterService masterService = new PTW.DataAccess.ServicesImpl.MasterService();

    var data = masterService.GetDashboardDetails(0, 1, 2, "en-US");

}

@Html.Raw(data.HtmlContent);*@



    <div id="FooterDiv"></div>

<script src="~/js/jquery-3.3.1.min.js"></script>

<script>

    $(document).ready(function () {
        var lan = '@(ViewContext.RouteData.Values["culture"]!=null?ViewContext.RouteData.Values["culture"].ToString():"en-US")';

        LoadFooter(lan);
    });

    function LoadFooter(languagecode) {
        var moduleId = 2;
        //var languagecode = "en-US";
        $("#FooterDiv").html = '';
        $.ajax({
            type: "GET",
            url: '../../Home/GetFooterPageDetails?ModuleId=' + parseInt(moduleId) + '&Languagecode=' + languagecode + '',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                if (result == 'Logout') {
                    window.location = '../Logout';
                }
                $("#FooterDiv").append(result);

            },

            error: function (err) {
                if (err.status === 0) {
                    window.location = '../Logout';
                }
            }
        });

    }
</script>