@model PTW.DataAccess.Models.MasterPage
@{
    ViewData["Title"] = "Careers | PTW -Pole To Win";
}


<style>
    ul.whr-info {
        color: #1F1F24;
    }
</style>


@Html.Raw(Model.HtmlContent)

@*
<div class="container_div about_bg" style="background-image: url(../images/Careers/CareerImages/CareerHeader.png);">
    <div class="row mb-5">
        <div class="col-md-2">

            <div class="wrapper">
                <div class="line"></div>
                <div class="wordwrapper">
                    <p class="vericaltext">
                        HOME
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-careers">
                <p>JOIN OUR </p>
                <p class="squad-car">SQUAD</p>
            </div>



        </div>
    </div>



    <div style="height:160px"></div>
    <div class="row">
        <div class="col-md-4">
            <img style=" width: 100%; height: auto;" src="../images/New_UI/Career/DeborahBike.png" />

        </div>
        <div class="col-md-8">
            <p class="desc-p">
                I love that I am surrounded by people from all over the world, working on rewarding projects. We believe in what we are doing. Together we work on all types of games, software, platforms, languages - with clients in extremely varied backgrounds. There is always something new to learn, and new projects start on almost a daily basis. It seems there are an infinite number of experiences to be had here.
            </p>
            <p class="name">
                - Deborah Kirkham
            </p>
        </div>

    </div>
    <div class="row justify-content-center mt-5">
        <div style="text-align:center">
            <p class=" player-txt career" style="color:#EE6E03">FEATURED JOBS</p>
            <p class="sm-border"></p>
        </div>
    </div>




    <div class="table-responsive ">
        <table class="table w-auto" style="  color: #1F1F24">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="input-group ">


                            <div class="input-group-append">
                                <input type="text" class="form-control" placeholder="" id="search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <span class="input-group-text carrer-search" id="basic-addon2">SEARCH</span>
                            </div>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="dropdown show">
                            <select id="ddldepts" class="country" name="countries">
                                <option value="" class="child"> Department </option>
                            </select>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="dropdown show">
                            <select id="ddlcountries" class="country" name="depts">
                                <option value=""> Location </option>
                            </select>
                        </div>
                    </th>
                    <th>
                        <input type="button" id="btns" class="btn btn-primary" value="Clear" onclick="ClearValues();">
                    </th>
                </tr>
                <tr>
                    <th scope="col">Open Positions : 35</th>
                    <th scope="col">Dept</th>
                    <th scope="col">Location</th>

                </tr>
            </thead>
            <tbody id="allJobs">
                <!--<tr>

                    <td>Arabic Localisation QA Tester</td>
                    <td>Audio Project Engineer (Freelance)</td>
                    <td>Audio Recording Engineer</td>

                </tr>
                <tr>

                    <td>LQA</td>
                    <td>Audio</td>
                    <td>Audio</td>

                </tr>
                <tr>

                    <td>United Kingdom, England, Brentford</td>
                    <td>Malaysia, Federal Territory of Kuala Lumpur, Kuala Lumpur</td>
                    <td>United States, California, Marina del Rey</td>

                </tr>-->
            </tbody>
        </table>
    </div>
    <section class="panel">

        <div class="jobs">
            <!--  <div class="row">
                  <div class="col-md-2">
                      <h2 class="featured_h2">Featured Jobs</h2>
                  </div>
                  <div class="col-md-2">
                      <select id="ddlcountries" class="country" name="countries">
                              <option value="" class="child">&lt;-- Country --&gt;</option>
                          </select>

                  </div>


                  <div class="col-md-3">
                      <select id="ddldepts" class="country" name="depts">
                              <option value="">&lt;-- Department --&gt;</option>
                          </select>
                  </div>
                  <div class="col-md-3">
                      <input type="text" id="search" placeholder="Type to Search.." class="country" name="search">
                  </div>
                  <div class="col-md-2">
                      <input type="button" id="btns" class="btn btn-primary" value="Clear" onclick="ClearValues();">
                  </div>
              </div>-->

            <div class="row" style="display:none;">

                <div class="col-md-12">

                    <div id="whr_embed_hook"></div>
                </div>

            </div>


        </div>
    </section>

    <div class="row mb-10">
        <div class="col-md-12">
            <div class="middleSection">
                <div class="mSec">
                    <p class="num">35</p>
                    <p class="desc">Studios</p>
                </div>

                <div class="mSec">
                    <p class="num">25 Yrs</p>
                    <p class="desc">Experience</p>
                </div>

                <div class="mSec">
                    <p class="num">1000+</p>
                    <p class="desc">Products</p>
                </div>

                <div class="mSec">
                    <p class="num">40+</p>
                    <p class="desc">Languages</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 row justify-content-center">
        <h5 class="prod5txt">HELPFUL LINKS</h5>
        <div class="row col-md-12 helpfulDivs">
            <div class="">
                <div class="animationDiv">
                    <img class="btnImage" src="../images/New_UI/pic1.png">

                    <div class="squaredDiv" style="background-image: url(../Images/Homepage/HomeImages/Frame.svg);">
                        <div class="squaredText">
                            <p>How to manage your users on mobile devices</p>
                        </div>
                        <div class="MoreDiv">
                            <p>More..</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="">
                <div class="animationDiv">
                    <img class="btnImage" src="../Images/New_UI/pic2.png">

                    <div class="squaredDiv" style="background-image: url(../Images/Homepage/HomeImages/Frame.svg);">
                        <div class="squaredText">
                            <p>How to build a localization strategy</p>
                        </div>
                        <div class="MoreDiv">
                            <p>More..</p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="">
                <div class="animationDiv">
                    <img class="btnImage" src="../Images/New_UI/pic3.png">

                    <div class="squaredDiv" style="background-image: url(../Images/Homepage/HomeImages/Frame.svg);">
                        <div class="squaredText">
                            <p>Building your first open world game</p>
                        </div>
                        <div class="MoreDiv">
                            <p>More..</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>





</div>


<!-- Footer -->
<div class="footerbg">
    <div class="row home  footerStripe  justify-content-center">

        <div class="  stripe">

            <p>SHOUT OUT!</p>
            <p class="stripe_subtxt">Get in touch with us</p>

        </div>
    </div>

    <section class=" position-relative clip-footer footer-parent">


        <footer class="text-white d-sm-block d-none">
            <div class="row no-padding">
                <div class="col-md-3 col-sm-3  footer-info footer-font f1">
                    <div class="mb-3 p-3 pl-5"> <img style="width: 45%;" src="../images/Logo/PTW.svg" /></div>
                    <div style="opacity: .4; margin-left:25px">Follow us</div>
                    <div class="pull-xs-right d-flex nav navbar-nav navbar-toggleable-sm pl-4" style=" flex-direction: row;">
                        <div class="nav-item"><a href="https://twitter.com/PTW" target="_blank" rel="noopener noreferrer" class="twitter nav-link" title="Twitter" style="color: rgb(255, 255, 255);"><i class="fa fa-twitter"></i><span class="m-l-20"></span></a></div>
                        <div class="nav-item"><a href="https://www.facebook.com/PTWintl/" target="_blank" rel="noopener noreferrer" class="facebook nav-link" title="Facebook" style="color: rgb(255, 255, 255);"><i class="fa fa-facebook"></i><span class="m-l-20"></span></a></div>
                        <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-linkedin-square"></i><span class="m-l-20"></span></a></div>
                        <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-instagram"></i><span class="m-l-20"></span></a></div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2  footer-info footer-font f1">

                    <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm">
                        <li class="nav-item">
                            <a href="/home" id="Footer1_A1" class="nav-link footer-nav-text" titlevalue="1" style="color: rgb(255, 255, 255);font-size: 15px;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Service" id="Footer1_A2" class="nav-link footer-nav-text" titlevalue="2" style="color: rgb(255, 255, 255);font-size: 15px;">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="about" id="Footer1_A3" class="nav-link footer-nav-text" titlevalue="3" style="color: rgb(255, 255, 255);font-size: 15px;">About</a>
                        </li>

                        <li class="nav-item">
                            <a href="careers" id="Footer1_A5" class="nav-link footer-nav-text" titlevalue="5" style="color: rgb(255, 255, 255);font-size: 15px;">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Contact" id="Footer1_A6" class="nav-link contact footer-nav-text" titlevalue="6" style="color: rgb(255, 255, 255);font-size: 15px;">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="lab" id="Footer1_A7" class="nav-link footer-nav-text" titlevalue="7" style="color: rgb(255, 255, 255);font-size: 15px;">Lab</a>
                        </li>
                    </ul>
                </div>



                <div class="col-md-4 col-sm-3  col-lg-3  footer-social footer-font   f1">
                    <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm footer-font">
                        <li class="nav-item">
                            <a href="PDF/PTW_New_Website_Terms_of_Usage_2018.pdf" id="Footer1_A8" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255); font-size: 15px;">Website Terms of Usage</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/PTW_Privacy_Policy.pdf" id="Footer1_A9" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/PTW_Modern_Slavery_Statement_2018.pdf" id="Footer1_A18" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Modern Slavery Statement</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/Corporate_Social_Responsibility_V2.pdf" id="Footer1_A21" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">CSR Policy (India)</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/2019_Gender_Pay_Gap_Report.pdf" id="Footer1_A23" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Gender Pay Gap Report</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3  col-lg-4  col-sm-4">
                  
                    <div class="d-flex justify-content-between">
                        <a href="#" class="mr-4"><img src="../images/Logo/SIDE-foooter-logo.svg" class="footer-logoImg mr-2"></a>
                        <a href="#" class="mr-4"><img src="../images/Logo/OR-footer-logo.svg" class="mr-2 footer-logoImg"></a>
                        <a href="#" class="mr-4"><img src="../images/Logo/entalize-footer-logo.svg" class="mr-2 footer-logoImg"></a>
                    </div>
                    <div class="iso mt-5 text-right">
                        <img src="../images/Logo/ISO.png" title="ISO 27001" class="no-margin-bottom ml-auto text-white text-center iso-logo">
                    </div>
                </div>


               
            </div>
        </footer>
        <!--<div class="col-lg-12 col-md-4 col-sm-4 order-lg-6 order-md-6 order-sm-6 order-sx-6 footer-copyright">
                    <p id="Footer1_P5" class="poppins-copyright v-d">Copyright © 2020. All Rights Reserved. Pole To Win International is a group of subsidiaries of <a class="Pitcrew" href="http://www.poletowin-pitcrew-holdings.co.jp/en/" target="_blank" rel="noopener noreferrer">Poletowin Pitcrew Holdings Inc.</a></p>
                </div> -->
        <footer class="text-white d-sm-none d-block">
            <div class="row no-padding">
                <div class="col-xs-6 footer-info footer-font f1">
                    <div>
                        <div class="mb-4 pl-0"> <img style="width: 45%;" src="../images/Logo/PTW.svg" /></div>
                    </div>
                    <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm m-0">
                        <li class="nav-item">
                            <a href="/home" id="Footer1_A1" class="nav-link p-0" titlevalue="1" style="color: rgb(255, 255, 255);font-size: 11px;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Service" id="Footer1_A2" class="nav-link p-0" titlevalue="2" style="color: rgb(255, 255, 255);font-size: 11px;">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="about" id="Footer1_A3" class="nav-link p-0" titlevalue="3" style="color: rgb(255, 255, 255);font-size: 11px;">About</a>
                        </li>

                        <li class="nav-item">
                            <a href="careers" id="Footer1_A5" class="nav-link p-0" titlevalue="5" style="color: rgb(255, 255, 255);font-size: 11px;">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Contact" id="Footer1_A6" class="nav-link p-0 contact" titlevalue="6" style="color: rgb(255, 255, 255);font-size: 11px;">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="lab" id="Footer1_A7" class="nav-link p-0" titlevalue="7" style="color: rgb(255, 255, 255);font-size: 11px;">Lab</a>
                        </li>
                    </ul>
                </div>
              
                <div class="col-xs-6 footer-social footer-font f3">
                    <div style="opacity: .4;">Follow us</div>
                    <div class="pull-xs-right d-flex nav navbar-nav navbar-toggleable-sm pl-4 mb-4 mt-0" style=" flex-direction: row;">
                        <div class="nav-item"><a href="https://twitter.com/PTW" target="_blank" rel="noopener noreferrer" class="twitter nav-link pl-0 pr-0" title="Twitter" style="color: rgb(255, 255, 255);"><i class="fa fa-twitter"></i><span class="m-l-20"></span></a></div>
                        <div class="nav-item"><a href="https://www.facebook.com/PTWintl/" target="_blank" rel="noopener noreferrer" class="facebook nav-link pl-0 pr-0" title="Facebook" style="color: rgb(255, 255, 255);"><i class="fa fa-facebook"></i><span class="m-l-20"></span></a></div>
                        <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link pl-0 pr-0" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-linkedin-square"></i><span class="m-l-20"></span></a></div>
                        <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link pl-0 pr-0" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-instagram"></i><span class="m-l-20"></span></a></div>
                    </div>

                    <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm footer-font m-0">
                        <li class="nav-item">
                            <a href="PDF/PTW_New_Website_Terms_of_Usage_2018.pdf" id="Footer1_A8" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255); font-size: 11px;">Website Terms of Usage</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/PTW_Privacy_Policy.pdf" id="Footer1_A9" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/PTW_Modern_Slavery_Statement_2018.pdf" id="Footer1_A18" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">Modern Slavery Statement</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/Corporate_Social_Responsibility_V2.pdf" id="Footer1_A21" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">CSR Policy (India)</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/2019_Gender_Pay_Gap_Report.pdf" id="Footer1_A23" class="nav-link p-0 target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">Gender Pay Gap Report</a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12 mt-5 align-items-center">
                    <div class="d-flex justify-content-between">
                        <a href="#" class="mr-4"><img src="../images/Logo/SIDE-foooter-logo.svg" class="mr-2" style="max-width: 100%"></a>
                        <a href="#" class="mr-4"><img src="../images/Logo/OR-footer-logo.svg" class="mr-2" style="max-width: 100%"></a>
                        <a href="#" class="mr-4"><img src="../images/Logo/entalize-footer-logo.svg" class="mr-2" style="max-width: 100%"></a>
                    </div>
                </div>

                <div class="col-xs-12 d-flex align-items-center">
                    <div class="backtop pull-right" style="">
                        <a href="#top"><img src="../images/up-arrow.png" class="a-to-top"></a>
                    </div>
                    <div class="iso pull-right">
                        <img src="../images/Logo/ISO.png" title="ISO 27001" class="no-margin-bottom text-white text-center iso-logo">
                    </div>
                </div>
            </div>
        </footer>

    </section>
</div>
*@


<script src="../js/jquery-3.3.1.min.js"></script>

<script src='https://www.workable.com/assets/embed.js' type='text/javascript'></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type='text/javascript' charset='utf-8'>
    var countrylList = [];
    var deptList = [];
    var deptarray = [];
    var handle;
    var handle1;
    var handle2;

    whr(document).ready(function () {
        whr_embed(302673, { detail: 'titles', base: 'jobs', zoom: 'country', grouping: 'none' });

        handle = setInterval(function () { Countrys() }, 500);
        handle1 = setInterval(function () { Departments() }, 500);
        handle2 = setInterval(function () { BindAllJobstoTable() }, 5000);
    });

    // getting countries
    function Countrys() {
        // console.log('dfsaga');
        if ($('.whr-location').length > 0) {
            clearInterval(handle);
            $('.whr-location').each(function (index, currentElement) {
                if (countrylList.indexOf($(this).text().split(',')[0].split(':')[1].trim()) == -1)
                    countrylList.push($(this).text().split(',')[0].split(':')[1].trim());
            });
            countrylList.sort((a, b) => a.localeCompare(b));
            BindDataToDdlcountries();
        }

    }
    // getting departments
    function Departments() {
        // console.log('dfsaga');
        if ($('.whr-dept').length > 0) {
            clearInterval(handle1);
            $('.whr-dept').each(function (index, currentElement) {
                if (deptList.indexOf($(this).text().split(":")[1].trim()) == -1)
                    deptList.push($(this).text().split(":")[1].trim());
            });
            deptList.sort((a, b) => a.localeCompare(b));
            BindDataToDdlDepts();
        }

    }

    // when you select country that country departments bind to department drpodown
    function Binddepts() {

        if ($(deptarray).length > 0) {
            deptarray.sort((a, b) => a.localeCompare(b));
            var select = document.getElementById("ddldepts");
            $(select).html("");
            var el = document.createElement("option");
            el.text = "<-- Department -->";
            el.value = "";
            $(select).append(el);
            for (var i = 0; i <= deptarray.length - 1; i++) {
                var opt = deptarray[i];
                var e2 = document.createElement("option");
                e2.text = opt;
                e2.value = opt;
                $(select).append(e2);
            }
        }
    }



    // countries bind to country dropdown
    function BindDataToDdlcountries() {

        var select = document.getElementById("ddlcountries");

        for (var i = 0; i < countrylList.length; i++) {
            var opt = countrylList[i];
            var el = document.createElement("option");
            el.text = opt;
            el.value = opt;

            el.setAttribute("class", "child");

            //console.log(el);
            $(select).append(el);
        }
    }
    // defautly departments bind to department drpodown
    function BindDataToDdlDepts() {

        var select = document.getElementById("ddldepts");

        for (var i = 0; i < deptList.length; i++) {
            var opt = deptList[i];
            var el = document.createElement("option");
            el.text = opt;
            el.value = opt;
            //console.log(el);
            $(select).append(el);
        }
    }

    function BindDataToDdlDepts1() {
        var select = document.getElementById("ddldepts");

        for (var i = 0; i < deptarray.length; i++) {
            var opt = deptarray[i];
            var el = document.createElement("option");
            el.text = opt;
            el.value = opt;
            //console.log(el);
            $(select).append(el);
        }
    }

    // search by country and if department is empty from department dropdown showing all countries and
    // if department is not empty from department dropdown showing that country and that country departments
    $("#ddlcountries").change(function () {
        deptarray = [];
        var country = $("#ddlcountries").val();
        var department = $("#ddldepts").val();
        var global = $("#search").val().toLowerCase();


        var tbody = '';
        $('#allJobs').html('');
        $('.whr-item').each(function () {

            if (department != "" && country != "") {
                if ($.trim($(this).find("ul .whr-dept").clone().children().remove().end().html()) == department && $.trim($(this).find("ul .whr-location").clone().children().remove().end().html().split(',')[0]) == country) {

                    if ($(this).find("ul .whr-dept").clone().children().remove().end().html() == undefined) {
                        tbody += '<tr>' +

                            '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                            '<td></td>' +
                            '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                            '</tr>';
                    }
                    else {
                        tbody += '<tr>' +

                            '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                            '<td>' + $(this).find("ul .whr-dept").clone().children().remove().end().html() + '</td>' +
                            '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                            '</tr>';
                    }
                }
            }
            else if ($.trim($(this).find("ul .whr-dept").clone().children().remove().end().html()) == department && department != "") {
                console.log("department" + department);
                if ($(this).find("ul .whr-dept").clone().children().remove().end().html() == undefined) {
                    tbody += '<tr>' +

                        '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                        '<td></td>' +
                        '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                        '</tr>';
                }
                else {
                    tbody += '<tr>' +

                        '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                        '<td>' + $(this).find("ul .whr-dept").clone().children().remove().end().html() + '</td>' +
                        '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                        '</tr>';
                }
            }
            else if ($.trim($(this).find("ul .whr-location").clone().children().remove().end().html().split(',')[0]) == country) {

                if ($(this).find("ul .whr-dept").clone().children().remove().end().html() == undefined) {
                    tbody += '<tr>' +

                        '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                        '<td></td>' +
                        '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                        '</tr>';
                }
                else {
                    tbody += '<tr>' +

                        '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                        '<td>' + $(this).find("ul .whr-dept").clone().children().remove().end().html() + '</td>' +
                        '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                        '</tr>';
                }
            }
        });

        $('#allJobs').append(tbody);


        clearInterval(handle2);
        Binddepts();
        if (global == "" && department == "" && country == "") {
            BindAllJobstoTable();
        }

    });



    $("#ddldepts").change(function () {

        var department = $(this).val();
        var country = $("#ddlcountries").val();
        var global = $("#search").val().toLowerCase();

        var tbody = '';
        $('#allJobs').html('');
        $('.whr-item').each(function () {

            if (department != "" && country != "") {
                if ($.trim($(this).find("ul .whr-dept").clone().children().remove().end().html()) == department && $.trim($(this).find("ul .whr-location").clone().children().remove().end().html().split(',')[0]) == country) {

                    if ($(this).find("ul .whr-dept").clone().children().remove().end().html() == undefined) {
                        tbody += '<tr>' +

                            '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                            '<td></td>' +
                            '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                            '</tr>';
                    }
                    else {
                        tbody += '<tr>' +

                            '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                            '<td>' + $(this).find("ul .whr-dept").clone().children().remove().end().html() + '</td>' +
                            '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                            '</tr>';
                    }
                }
            }
            else if ($.trim($(this).find("ul .whr-dept").clone().children().remove().end().html()) == department) {
                console.log("department case");
                if ($(this).find("ul .whr-dept").clone().children().remove().end().html() == undefined) {
                    tbody += '<tr>' +

                        '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                        '<td></td>' +
                        '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                        '</tr>';
                }
                else {
                    tbody += '<tr>' +

                        '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                        '<td>' + $(this).find("ul .whr-dept").clone().children().remove().end().html() + '</td>' +
                        '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                        '</tr>';
                }
            }
            else if ($.trim($(this).find("ul .whr-location").clone().children().remove().end().html().split(',')[0]) == country && country != "") {
                console.log("contry case");
                if ($(this).find("ul .whr-dept").clone().children().remove().end().html() == undefined) {
                    tbody += '<tr>' +

                        '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                        '<td></td>' +
                        '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                        '</tr>';
                }
                else {
                    tbody += '<tr>' +

                        '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                        '<td>' + $(this).find("ul .whr-dept").clone().children().remove().end().html() + '</td>' +
                        '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                        '</tr>';
                }
            }

        });

        $('#allJobs').append(tbody);


        clearInterval(handle2);
        if (global == "" && department == "" && country == "") {
            BindAllJobstoTable();
        }

    });



    $("#search").on("keyup", function () {
        var global = $(this).val().toLowerCase();

        var department = $("#ddldepts").val();
        var country = $("#ddlcountries").val();

        var tbody = '';
        $('#allJobs').html('');
        $('.whr-item').each(function () {
            var departmentVlaue = $.trim($(this).find("ul .whr-dept").clone().children().remove().end().html());
            var location = $.trim($(this).find("ul .whr-location").clone().children().remove().end().html().split(',')[0]);
            var alllocation = $.trim($(this).find("ul .whr-location").clone().children().remove().end().html());
            var jobTitle = $(this).closest('li').children('h3').children().html();

            if (department != "" && country != "") {
                
                if (departmentVlaue == department && location == country) {
                    if (jobTitle.toLowerCase().toString().includes(global.toString()) || departmentVlaue.toLowerCase().toString().includes(global) || alllocation.toLowerCase().toString().includes(global)) {
                        if (departmentVlaue == undefined) {
                            tbody += '<tr>' +

                                '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                                '<td></td>' +
                                '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                                '</tr>';
                        }
                        else {
                            tbody += '<tr>' +

                                '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                                '<td>' + $(this).find("ul .whr-dept").clone().children().remove().end().html() + '</td>' +
                                '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                                '</tr>';
                        }
                    }


                }
            }
            else if (departmentVlaue == department) {
                if (jobTitle.toLowerCase().toString().includes(global) || departmentVlaue.toLowerCase().toString().includes(global) || alllocation.toLowerCase().toString().includes(global)) {
                    if (departmentVlaue == undefined) {
                        tbody += '<tr>' +

                            '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                            '<td></td>' +
                            '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                            '</tr>';
                    }
                    else {
                        tbody += '<tr>' +

                            '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                            '<td>' + $(this).find("ul .whr-dept").clone().children().remove().end().html() + '</td>' +
                            '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                            '</tr>';
                    }
                }

            }
            else if (location == country && country != "") {
                if (jobTitle.toLowerCase().toString().includes(global) || departmentVlaue.toLowerCase().toString().includes(global) || alllocation.toLowerCase().toString().includes(global)) {
                    if (departmentVlaue == undefined) {
                        tbody += '<tr>' +

                            '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                            '<td></td>' +
                            '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                            '</tr>';
                    }
                    else {
                        tbody += '<tr>' +

                            '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                            '<td>' + $(this).find("ul .whr-dept").clone().children().remove().end().html() + '</td>' +
                            '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                            '</tr>';
                    }
                }

            }
            else {
                if (jobTitle.toLowerCase().toString().includes(global) || departmentVlaue.toLowerCase().toString().includes(global) || alllocation.toLowerCase().toString().includes(global)) {
                    if (departmentVlaue == undefined) {
                        tbody += '<tr>' +

                            '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                            '<td></td>' +
                            '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                            '</tr>';
                    }
                    else {
                        tbody += '<tr>' +

                            '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                            '<td>' + $(this).find("ul .whr-dept").clone().children().remove().end().html() + '</td>' +
                            '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                            '</tr>';
                    }
                }
            }


        });

        $('#allJobs').append(tbody);


        clearInterval(handle2);
        if (global == "" && department == "" && country == "") {
            BindAllJobstoTable();
        }

    });

    function ClearValues() {
        $('#ddlcountries').val("");
        $('#ddldepts').val("");
        $("#search").val("");
        // $(".whr-item").show();
        //$('#ddlcountries').trigger("change");
        BindAllJobstoTable()
    }

</script>

<script>
    $(document).ready(function () {
        RemoveLastSlashInUrl();

    });

    function RemoveLastSlashInUrl() {
        var str = window.location.href.replace(window.location.origin, "");
        var lastchar = str.charAt(str.length - 1);
        if (lastchar == '/') {
            str = str.slice(0, -1);
            window.location = window.location.origin + str;
        }
    }


    function BindAllJobstoTable() {
        console.log("loading");
        var tbody = '';
        $('#allJobs').html('');
        $('.whr-item').each(function () {
            if ($(this).find("ul .whr-dept").clone().children().remove().end().html() == undefined) {
                tbody += '<tr>' +

                    '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                    '<td></td>' +
                    '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                    '</tr>';
            }
            else {
                tbody += '<tr>' +

                    '<td>' + $(this).closest('li').children('h3').html() + '</td>' +
                    '<td>' + $(this).find("ul .whr-dept").clone().children().remove().end().html() + '</td>' +
                    '<td>' + $(this).find("ul .whr-location").clone().children().remove().end().html() + '</td>' +
                    '</tr>';
            }

        });

        $('#allJobs').append(tbody);
        clearInterval(handle2);
    }

</script>