<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pole To Win</title>
    <meta charset="utf-8">
    <!--   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <!--<meta name="description" content="Pole To Win (PTW) is the premier global provider of outsourced quality assurance, engineering, customer experience, translation, localization, interactive voice production and audio recording services to leading video games, e-learning, software and technology clients worldwide.">-->
    <meta name="author" content="Pole To Win">

    @*<environment include="Development">*@

    @*</environment>*@


    <!-- Custom fonts for this template -->

    @*<link href="~/css/clean-blog.min.css" rel="stylesheet" />*@
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/maxcdn.bootstrapcdn.com.3.4.css" rel="stylesheet" />
    <script src="~/js/ajax.googleapis.com.3.5.1.js"></script>
    <link href="~/css/cdnjs.cloudflare.com.4.7.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/CSS/cookieconsent.min.css" />
    <script src="~/js/count-up.min.js"></script>
    @*</----------------------respective Individual stylesheet----------------------->*@

    <link href="~/css/quality_assurance.css" rel="stylesheet" />
    <link href="~/css/audio_production.css" rel="stylesheet" />
    <link href="~/css/Localization.css" rel="stylesheet" />
    <link href="~/css/Localization_QA.css" rel="stylesheet" />
    <link href="~/css/speechTech.css" rel="stylesheet" />
    <link href="~/css/ProdDev.css" rel="stylesheet" />
    <link href="~/css/PlayerSupport.css" rel="stylesheet" />
    <link href="~/css/about_us.css" rel="stylesheet" />
    <link href="~/css/newsEvents.css" rel="stylesheet" />
    <link href="~/css/lab.css" rel="stylesheet" />
    <link href="~/css/carrer.css" rel="stylesheet" />
    <link href="~/css/talent.css" rel="stylesheet" />
    <link href="~/css/jobs.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <script src="~/js/jquery-3.3.1.min.js"></script>

</head>
<body>
    @Html.Raw(ViewData["Header"])


    @RenderBody()


    @*@Html.Raw(ViewData["Footer"])*@

  


    <script type="text/javascript">

        var languages = ["en-US", "zh-CHS", "zh-CHT", "ja", "ko", "fr-CA"];
        function languageChange(Langauge) {
            var currentpageurl = window.location.href;
            currentpageurl = currentpageurl.replace(window.location.origin, '');

            
            if (languages[0] == "en-US") {
                $("#Languages").text('En');
            }
            else if (languages[1] == "zh-CHS") {
                $("#Languages").text('繁體中文');
            }
            else if (languages[2] == "zh-CHT") {
                $("#Languages").text(' 简体中文');
            }
            else if (languages[3] == "ja") {
                $("#Languages").text('日本語');
            }
            else if (languages[4] == "ko") {
                $("#Languages").text('한국어');
            }
            else if (languages[5] == "fr-CA") {
                $("#Languages").text('French');
            }

            $.each(languages, function (i, val) {

                currentpageurl = currentpageurl.replace(val, '');

            });
            currentpageurl = currentpageurl.replace('//', '/');
            if (currentpageurl == '/') {
                currentpageurl = '';
            }

            var redirectURL = origin + (Langauge != "en-US" ? '/' + Langauge : '') + currentpageurl;

            window.location.assign(redirectURL);
        }


        $(document).ready(function ()
        {
           // Services();

            var currentpageurl = window.location.href;
            currentpageurl = currentpageurl.replace(window.location.origin, '');
            

            if (currentpageurl.split('/')[1] == "en-US") {
                $("#Languages").text('En');
            }
            else if (currentpageurl.split('/')[1] == "zh-CHS") {
                $("#Languages").text('繁體中文');
            }
            else if (currentpageurl.split('/')[1] == "zh-CHT") {
                $("#Languages").text(' 简体中文');
            }
            else if (currentpageurl.split('/')[1] == "ja") {
                $("#Languages").text('日本語');
            }
            else if (currentpageurl.split('/')[1] == "ko") {
                $("#Languages").text('한국어');
            }
            else if (currentpageurl.split('/')[1] == "fr-CA") {
                $("#Languages").text('French');
            }
        });

        window.onload = function () {
            var pageValue = getParameterByName('pageValue');
            if (pageValue == null) {
                pageValue = '1';
             }
            $('#navbarResponsive ul').each(function () {
                var phrase = '';
                $(this).find('a').each(function () {
                    var current = $(this);
                    var titleValue = current.attr("titleValue");
                    if (pageValue === titleValue) {
                        current.append(' <div class="underline"></div>');
                    }
                });
            });

        };

        function getParameterByName(name, url) {

            if (!url) url = window.location.href;
            var pageValue = null;
            if (url.indexOf("home") !== -1 && (url.indexOf("home") !== 0)) {
                pageValue = 1;
            }
            if (url.indexOf("Service") !== -1 && (url.indexOf("Service") !== 0)) {
                pageValue = 2;

            }

            if (url.indexOf("about") !== -1 && (url.indexOf("about") !== 0)) {
                pageValue = 3;
            }

            if (url.indexOf("News") !== -1 && (url.indexOf("News") !== 0)) {
                pageValue = 4;
            }

            if (url.indexOf("careers") !== -1 && (url.indexOf("careers") !== 0)) {
                pageValue = 5;
            }

            if (url.indexOf("Contact") !== -1 && (url.indexOf("Contact") !== 0)) {
                pageValue = 6;
            }

            if (url.indexOf("LAB") !== -1 && (url.indexOf("LAB") !== 0)) {
                pageValue = 7;
            }
            return decodeURIComponent(pageValue);
        }

        function ApplyLocalizaiotn() {

            var str = window.location.href.replace(window.location.origin, '');
            if (str == '/') {
                str = '';
            }
            var values = $("#Languages").children('option').map(function (i, e) {
                return e.value;
            }).get();
            $.each(values, function (i, val) {

                str = str.replace(values[i], '');
            });
        str = str.replace('//', '/');

            if ($("#Languages").val() == 'en-US') {
                window.location = window.location.origin + str;
            }
            else {

                window.location = window.location.origin + '/' + $("#Languages").val() + str;


            }

        }

        function Services() {
            var reqUrl = window.location.href.replace(window.location.origin, '');
            var urlElements = reqUrl.split('/');
            if (urlElements.indexOf('Service_Cx') > -1) {
                $('#dropdown_Services').show();
                $('#Header1_A2').hide();
            }
            else if (urlElements.indexOf('Service_QA') > -1) {
                $('#dropdown_Services').show();
                $('#Header1_A2').hide();
            }
            else if (urlElements.indexOf('Localization') > -1) {
                $('#dropdown_Services').show();
                $('#Header1_A2').hide();
            }
            else if (urlElements.indexOf('AudioProduction') > -1) {
                $('#dropdown_Services').show();
                $('#Header1_A2').hide();
            }
            else if (urlElements.indexOf('ProductDevelopment') > -1) {
                $('#dropdown_Services').show();
                $('#Header1_A2').hide();
            }
            else {
                $('#Header1_A2').show();
            }
        }

    @RenderSection("Scripts", required: false)

        var cu = new counterUp({
            start: 0,
            duration: 6000,
            intvalues: true,
            interval: 100
        });
        cu.start();

    </script>

    <script>
        //jQuery(document).ready(function (e) {
        //    "use strict";
        //    e(".backtop").hide(), e(window).on("scroll", function () {
        //        e(this).scrollTop() > 400 ? e(".backtop").fadeIn() : e(".backtop").fadeOut()
        //    }), e(".backtop").on("click", function () {
        //        return e("html, body").animate({
        //            scrollTop: 0
        //        }, 800), !1
        //    }), (new WOW).init();

        //});
    </script>

</body>
</html>
