<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pole To Win</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/Loader.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <link href="~/css/Loader.css" rel="stylesheet" />
    </environment>
    <style>
        /* Add some padding on document's body to prevent the content
        to go underneath the header and footer */
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .container {
            width: 80%;
            margin: 0 auto; /* Center the DIV horizontally */
        }

        .fixed-header, .fixed-footer {
            width: 100%;
            position: fixed;
            background: #333;
            padding: 10px 0;
            color: #fff;
        }

        .fixed-header {
            top: 0;
        }

        .fixed-footer {
            bottom: 0;
        }
        /* Some more styles to beutify this example */
        nav a {
            color: #fff;
            text-decoration: none;
            padding: 7px 25px;
            display: inline-block;
        }

        .container p {
            line-height: 200px; /* Create scrollbar to test positioning */
        }
    </style>
</head>
<body>
    @{
        Html.RenderPartial("Header/_Header");
    }


        @RenderBody()
        <hr />

    @{
        Html.RenderPartial("Footer/_Footer");
    }

    <environment include="Development">

    </environment>
    <environment exclude="Development">
        @*<script src=" ~/JS/jquery.sticky.js"></script>*@


    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
