<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pole To Win</title>
    <meta charset="utf-8">
    <!--   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <!--<meta name="description" content="Pole To Win (PTW) is the premier global provider of outsourced quality assurance, engineering, customer experience, translation, localization, interactive voice production and audio recording services to leading video games, e-learning, software and technology clients worldwide.">-->
    <meta name="author" content="Pole To Win">

    <environment include="Development">
        <link href="~/CSS/Poppins.css" rel="stylesheet" type="text/css" />
        <link href="~/CSS/Poppins-Bold.css" rel="stylesheet" type="text/css" />
        <link href="~/CSS/Poppins-SemiBold.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" />
        <link rel="icon" type="image/png" href="~/Images/icon-ms.png" />
        <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />

        <link href="~/css/videobackground.css" rel="stylesheet" />
        <link href="~/css/animate.min.css" rel="stylesheet" />
        <link href="~/css/clean-blog.min.css" rel="stylesheet" />
        <link href="~/css/elba.css" rel="stylesheet" />

        <!-- Custom fonts for this template -->
        <link href="~/Fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" type="text/css" href="~/CSS/cookieconsent.min.css" />
    </environment>
    <environment exclude="Development">

        <link href="~/CSS/Poppins.css" rel="stylesheet" type="text/css" />
        <link href="~/CSS/Poppins-Bold.css" rel="stylesheet" type="text/css" />
        <link href="~/CSS/Poppins-SemiBold.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" />
        <link rel="icon" type="image/png" href="~/Images/icon-ms.png" />
        <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/clean-blog.min.css" rel="stylesheet" />
        <!-- Custom fonts for this template -->
        <link href="~/Fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" type="text/css" href="~/CSS/cookieconsent.min.css" />
    </environment>
    <style>
        .wow {
            visibility: hidden;
        }

        .dropdown-toggle::before {
            width: 0;
            height: 0;
            margin: -5px 0.455em 0 0;
            content: "";
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 2.5px;
            vertical-align: middle;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

        .dropdown-toggle::after {
            display: none;
        }
    </style>

  
</head>
<body>
    @{
        Html.RenderPartial("Header/_Header");
    }


    @RenderBody()


    @{
        Html.RenderPartial("Footer/_Footer");
    }

    <environment include="Development">

        <script src=" ~/JS/jquery.sticky.js"></script>
        <script src="~/wwwroot/js/wow.min.js"></script>
        <script src="~/js/jquery-3.3.1.min.js"></script>
    </environment>
    <environment exclude="Development">
        @*<script src=" ~/JS/jquery.sticky.js"></script>
        <script src="~/wwwroot/js/wow.min.js"></script>*@

    </environment>
    <!-- Google Tag Manager -->
    <script>
        
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P23N6P9');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47490486-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-47490486-4');
        gtag('config', 'AW-738489994');
    </script>
    <script type="text/javascript">
        
        //$("#Languages").change(function () {
        //    alert();
        //    var str = window.location.href.replace(window.location.origin, '');
        //    console.log(str);

        //    var values = $(this).children('option').map(function (i, e) {
        //        return e.value;
        //    }).get();
        //    $.each(values, function (i, val) {

        //        str = str.replace(values[i], '');
        //    });
        //    str = str.replace('//', '/');
        //    console.log(str);

        //    if ($("#Languages").val() == 'en-US') {
        //        window.location = window.location.origin + str;
        //    }
        //    else {
        //        window.location = window.location.origin + '/' + $("#Languages").val() + str;
        //    }

        //});

    @RenderSection("Scripts", required: false)

</body>
</html>
