@model PTW.DataAccess.Models.LabsEvents
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}


<div class="container_div lab-bg">
    <div class="row">
        <div class="col-md-2">

            <div class="wrapper">
                <div class="line"></div>
                <div class="wordwrapper">
                    <p class="vericaltext">
                        LAB
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="home-text">
                <p>PTW LAB</p>
            </div>

        </div>
    </div>
    <div class="row " style="margin-top:20%">
        <div class="icons-holder d-flex">
            <p class="txt-color">Latest Insigths</p>
            <img src="~/images/New_UI/Lab/img1.png" /><h6>Quality Assurance </h6>
            <img src="~/images/New_UI/Lab/img2.png" /><h6>Product Development </h6>
            <img src="~/images/New_UI/Lab/img3.png" /><h6>Audio Production</h6>
            <img src="~/images/New_UI/Lab/img4.png" /><h6>Localization </h6>
            <img src="~/images/New_UI/Lab/img5.png" /><h6>Player Support </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

            <div class="nEAnim">
                <div class="borders">
                    <img src="/Images/New_UI/news/border.svg">
                </div>
                <div class="imageContent">
                    <!-- <img class="btnImage" src="/Images/New_UI/news/news.png"> -->
                </div>
                <div class="textContent">
                    <p>Non-Technical Guide for Player Support</p>

                    <div class="ReadMe">
                        <a href="#" class="ReadMeBtn">Read More</a>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-md-4">
            <div class="eventHeading">
                <p class="upText">Upcoming Events</p>
                <p class="calText">Calendar 2020</p>
            </div>

            <div class="col-md-12">
                <div class="d-flex upComingSection">
                    <div class="eventsImage event1">
                        <img src="/Images/New_UI/news/event.svg">
                    </div>

                    <div class="content" style="width:50%">
                        <p class="title">Middle East - Games Con</p>
                        <p class="date">20th - 23rd Sept 2020</p>
                        <p class="date">Abu Dhabi</p>
                        <div class="shareSec colorPurple">
                            <div class="d-flex">
                                <p class="share marginRight">Share Now</p>
                                <p class="bookNow purple">Book Now</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="d-flex upComingSection">
                    <div class="eventsImage event2">
                        <img src="/Images/New_UI/news/event.svg">
                    </div>

                    <div class="content" style="width:50%">
                        <p class="title">MIGS - 15th Edition</p>
                        <p class="date">20th - 23rd Sept 2020</p>
                        <p class="date">Abu Dhabi</p>
                        <div class="shareSec">
                            <div class="d-flex">
                                <p class="share marginRight">Share Now</p>
                                <p class="bookNow orange ">Book Now</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


        </div>

    </div>

    <!-- helps -->

    <div class="row mt-10 mb-5">
        <div class="col-md-4">
            <div class="animationDiv">
                <img class="btnImage" src="/Images/New_UI/news/allEvents1.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p class="">Demystifying Great Character Performances</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="animationDiv">
                <img class="btnImage" src="/Images/New_UI/news/allEvents2.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p>Localization Questions Answered</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="animationDiv">
                <img class="btnImage" src="/Images/New_UI/news/allEvents3.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p>Developers take a lesson from Netflix</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <div class="row mt-10 mb-10">
        <div class="col-md-4">
            <div class="animationDiv">
                <img class="btnImage" src="/Images/New_UI/news/allEvents4.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p>Localization Questions Answered</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="animationDiv">
                <img class="btnImage" src="/Images/New_UI/news/allEvents5.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p>Lessons From a Games Audio Pro</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="animationDiv">
                <img class="btnImage" src="/Images/New_UI/news/allEvents6.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p>Non-Technical Guide for Player Support</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>
                </div>

            </div>
        </div>


    </div>


    <div class="row mt-10 mb-10">
        <div class="col-md-4">
            <div class="animationDiv">
                <img class="btnImage" src="/Images/New_UI/news/allEvents4.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p>Localization Questions Answered</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="animationDiv">
                <img class="btnImage" src="/Images/New_UI/news/allEvents5.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p>Lessons From a Games Audio Pro</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="animationDiv">
                <img class="btnImage" src="/Images/New_UI/news/allEvents6.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p>Non-Technical Guide for Player Support</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>
                </div>

            </div>
        </div>


    </div>


    <div class="row mt-10 mb-10">
        <div class="col-md-4">
            <div class="animationDiv">
                <img class="btnImage" src="/Images/New_UI/news/allEvents4.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p>Localization Questions Answered</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="animationDiv">
                <img class="btnImage" src="/Images/New_UI/news/allEvents5.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p>Lessons From a Games Audio Pro</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="animationDiv">
                <img class="btnImage" src="/Images/New_UI/news/allEvents6.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p>Non-Technical Guide for Player Support</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <!-- end helps -->

    <div class="row mb-10">
        <div class="col-md-12">
            <div class="middleSection">
                <div class="mSec">
                    <p class="num">35</p>
                    <p class="desc">Studios</p>
                </div>

                <div class="mSec">
                    <p class="num">25 Yrs</p>
                    <p class="desc">Experience</p>
                </div>

                <div class="mSec">
                    <p class="num">1000+</p>
                    <p class="desc">Products</p>
                </div>

                <div class="mSec">
                    <p class="num">40+</p>
                    <p class="desc">Languages</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-5">
            <div class="nameContainer">
                <div class="imgName">
                    <img src="/Images/New_UI/Lab/Mikey_23-July.png">
                </div>
            </div>


        </div>
        <div class="col-lg-7  col-md-7 mt-10 paddingLeft">
            <div class="description">
                <p><span class="quoteText">"</span> <span class="onceText">ONCE A GAMER<br></span> <span class="alwaysText">DO OR DO NOT<br></span></p>
                <p class="gamerText">THERE IS  <span class="" style="color:black">"</span></p>

            </div>

        </div>
    </div>


</div>


<!-- Footer -->
<section class=" position-relative  footer-parent">

    <footer class="text-white">
        <div class="row no-padding">
            <div class="col-md-4 order-lg-1 order-md-1  order-sm-1 v-excmob footer-info footer-font f1">
                <div class="mb-3 p-3 pl-5"> <img style="width: 45%;" src="~/images/Logo/PTW.svg" /></div>
                <div style="opacity: .4; margin-left:25px">Follow us</div>
                <div class="pull-xs-right d-flex nav navbar-nav navbar-toggleable-sm pl-4" style=" flex-direction: row;">
                    <div class="nav-item"><a href="https://twitter.com/PTW" target="_blank" rel="noopener noreferrer" class="twitter nav-link" title="Twitter" style="color: rgb(255, 255, 255);"><i class="fa fa-twitter"></i><span class="m-l-20"></span></a></div>
                    <div class="nav-item"><a href="https://www.facebook.com/PTWintl/" target="_blank" rel="noopener noreferrer" class="facebook nav-link" title="Facebook" style="color: rgb(255, 255, 255);"><i class="fa fa-facebook"></i><span class="m-l-20"></span></a></div>
                    <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-linkedin-square"></i><span class="m-l-20"></span></a></div>
                    <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-instagram"></i><span class="m-l-20"></span></a></div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 order-lg-1 order-md-1  order-sm-1 v-excmob footer-info footer-font f1">

                <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm">
                    <li class="nav-item">
                        <a href="/home" id="Footer1_A1" class="nav-link" titlevalue="1" style="color: rgb(255, 255, 255);font-size: 15px;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Service" id="Footer1_A2" class="nav-link" titlevalue="2" style="color: rgb(255, 255, 255);font-size: 15px;">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="about" id="Footer1_A3" class="nav-link" titlevalue="3" style="color: rgb(255, 255, 255);font-size: 15px;">About</a>
                    </li>

                    <li class="nav-item">
                        <a href="careers" id="Footer1_A5" class="nav-link" titlevalue="5" style="color: rgb(255, 255, 255);font-size: 15px;">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Contact" id="Footer1_A6" class="nav-link contact" titlevalue="6" style="color: rgb(255, 255, 255);font-size: 15px;">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="lab" id="Footer1_A7" class="nav-link" titlevalue="7" style="color: rgb(255, 255, 255);font-size: 15px;">Lab</a>
                    </li>
                </ul>
            </div>



            <div class="col-lg-2 col-md-4 col-sm-12  order-lg-3 order-md-5 order-sm-3 order-sx-2 footer-social footer-font  mob-hidden f3">
                <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm footer-font">
                    <li class="nav-item">
                        <a href="PDF/PTW_New_Website_Terms_of_Usage_2018.pdf" id="Footer1_A8" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255); font-size: 15px;">Website Terms of Usage</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/PTW_Privacy_Policy.pdf" id="Footer1_A9" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/PTW_Modern_Slavery_Statement_2018.pdf" id="Footer1_A18" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Modern Slavery Statement</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/Corporate_Social_Responsibility_V2.pdf" id="Footer1_A21" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">CSR Policy (India)</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/2019_Gender_Pay_Gap_Report.pdf" id="Footer1_A23" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Gender Pay Gap Report</a>
                    </li>
                </ul>
            </div>



            <div class="backtop pull-right" style="">
                <a href="#top"><img src="/Images/up-arrow.png" class="a-to-top"></a>
            </div>
            <div class="iso pull-right">
                <img src="/Images/Logo/ISO.png" title="ISO 27001" class="no-margin-bottom text-white text-center iso-logo">
            </div>


            <div class="col-lg-12 col-md-4 col-sm-12 order-lg-6 order-md-6 order-sm-6 order-sx-6 footer-copyright">
                <p id="Footer1_P2" class="poppins-copyright v-tab">Copyright © 2020.</p>
                <p id="Footer1_P3" class="poppins-copyright v-tab">All Rights Reserved. Pole To Win International is a group of subsidiaries of <a class="Pitcrew" href="http://www.poletowin-pitcrew-holdings.co.jp/en/" target="_blank" rel="noopener noreferrer">Poletowin Pitcrew Holdings Inc.</a></p>
                <p id="Footer1_P4" class="poppins-copyright v-mob">Copyright © 2020. All Rights Reserved. Pole To Win International is a group of subsidiaries of <a class="Pitcrew" href="http://www.poletowin-pitcrew-holdings.co.jp/en/" target="_blank" rel="noopener noreferrer">Poletowin Pitcrew Holdings Inc.</a></p>
            </div>
        </div>
    </footer>
    <!--<div class="col-lg-12 col-md-4 col-sm-4 order-lg-6 order-md-6 order-sm-6 order-sx-6 footer-copyright">
                <p id="Footer1_P5" class="poppins-copyright v-d">Copyright © 2020. All Rights Reserved. Pole To Win International is a group of subsidiaries of <a class="Pitcrew" href="http://www.poletowin-pitcrew-holdings.co.jp/en/" target="_blank" rel="noopener noreferrer">Poletowin Pitcrew Holdings Inc.</a></p>
            </div> -->
    <div id="mobile-footer" class="p-40px v-mob">
        <ul class="navbar-nav">
            <li class="nav-item-t dropdown">
                <a class="dropdown-toggle color-black" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="Footer1_fLanguage">English</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right " aria-labelledby="bd-versions">
                    <p onclick="languageChange('en-US')" class="dropdown-item" meta:resourcekey="EnglishListItem">English</p>
                    <div class="dropdown-divider"></div>
                    <p onclick="languageChange('fr-CA')" class="dropdown-item" meta:resourcekey="CAFrenchListItem">Canadian French</p>
                    <div class="dropdown-divider"></div>
                    <p onclick="languageChange('ja')" class="dropdown-item" meta:resourcekey="JapaneseListItem">Japanese 日本語</p>
                    <div class="dropdown-divider"></div>
                    <p onclick="languageChange('ko')" class="dropdown-item" meta:resourcekey="KoreanListItem">Korean 한국어</p>
                    <div class="dropdown-divider"></div>

                    <p onclick="languageChange('zh-CHS')" class="dropdown-item" meta:resourcekey="CHSListItem">Simplified Chinese 简体中文</p>

                </div>
            </li>
            <li class="nav-item-t">
                <a href="home" id="Footer1_A10" class="nav-link" titlevalue="1">Home</a>
            </li>
            <li class="nav-item-t">
                <a href="services-industries" id="Footer1_A11" class="nav-link" titlevalue="2">Services &amp; Industries</a>
            </li>
            <li class="nav-item-t">
                <a href="about" id="Footer1_A12" class="nav-link" titlevalue="3">About</a>
            </li>
            <li class="nav-item-t">
                <a href="news-events" id="Footer1_A13" class="nav-link" titlevalue="4">News &amp; Events</a>
            </li>
            <li class="nav-item-t">
                <a href="careers" id="Footer1_A14" class="nav-link" titlevalue="5">Careers</a>
            </li>
            <li class="nav-item-t">
                <a href="contact" id="Footer1_A15" class="nav-link" titlevalue="6">Contact &amp; Locations</a>
            </li>
            <li class="nav-item-t navitem1">
                <a href="lab" id="Footer1_A20" class="nav-link" titlevalue="7">Lab</a>
            </li>
            <li class="nav-item-t navitem2">
                <a href="PDF/PTW_New_Website_Terms_of_Usage_2018.pdf" id="Footer1_A16" titlevalue="8" target="_blank" rel="noopener noreferrer">Website Terms of Usage</a>
            </li>
            <li class="nav-item-t">
                <a href="PDF/PTW_Privacy_Policy.pdf" id="Footer1_A17" titlevalue="9" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
            </li>
            <li class="nav-item-t">
                <a href="PDF/PTW_Modern_Slavery_Statement_2018.pdf" id="Footer1_A19" target="_blank" rel="noopener noreferrer">Modern Slavery Statement</a>
            </li>
            <li class="nav-item-t">
                <a id="A22" href="../PDF/Corporate_Social_Responsibility_V2.pdf" target="_blank" rel="noopener noreferrer">CSR Policy (India)</a>
            </li>
            <li class="nav-item">
                <a id="A24" href="../PDF/2019_Gender_Pay_Gap_Report.pdf" target="_blank" rel="noopener noreferrer">Gender Pay Gap Report</a>
            </li>
        </ul>
    </div>
</section>