@model PTW.DataAccess.Models.MasterPage
@{
    Layout = "";//"_Layout";
    ViewData["Title"] = "PTW | Leading QA, Localization & Player Support Company";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
@*<link href="~/css/Editor/Css/chosen.min.css" rel="stylesheet" />*@

<link href="~/css/jquery.gritter.css" rel="stylesheet" />
<script src="~/js/Editor/jquery-3.5.1.min.js"></script>
<script src="~/js/Editor/popper.min.js"></script>
<script src="~/js/Editor/1.9.1.jquery.js"></script>
<script src="~/js/Editor/chosen.jquery.min.js"></script>
<script src="~/js/jquery.gritter.min.js"></script>
<link href="~/css/Editor/Css/4.4.1.bootstrap.min.css" rel="stylesheet" />
<script src="~/js/Editor/4.4.1.bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
@*<link href="~/css/Editor/Css/summernote-bs4.min.css" rel="stylesheet" />*@
<script src="~/js/Editor/summernote-bs4.min.js"></script>
@*<script src="~/js/summernote.min.js"></script>*@
<style>
    /* Loader Start*/

    #PostBackMsg, #PostBackMsg-1 {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: block;
        background: rgba(255, 255, 255, 0.6509803921568628);
        z-index: 1001;
    }

        #PostBackMsg img, #PostBackMsg-1 img {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 100%;
            height: auto;
        }

    /* Loader End*/

    #ModuleId {
        outline: 0;
        background-image: none;
        width: 100%;
        height: 100%;
        color: black;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 15px;
        padding: 6px 6px 6px 6px;
    }

    #LanguageCode {
        outline: 0;
        background-image: none;
        width: 100%;
        height: 100%;
        color: black;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 15px;
        padding: 6px 6px 6px 6px;
    }

    #lblMessage {
        display: inline-block;
        margin-bottom: .5rem;
        color: red;
        white-space: nowrap;
        padding-left: 20px;
        display: none;
    }
</style>
<div id="PostBackMsg" style="display:none;">

    <img alt="loader" src="~/images/loader.gif" />

</div>
@*@Html.Raw(ViewBag.HomeContent)*@


<div class="page-header" style="text-align: center;">
    <h3>Update module pages</h3>
</div>
<div class="contentpanel report" style="border: 1px solid #00b8ff85;width: 1180px;margin-top: 45px;margin-left:50px;">
    <div class="row distribute-container">
        <div class="col-md-2" style="margin-top:45px;margin-left:100px">
            <label style="display:flex !important">Module</label>
            @Html.DropDownList("ModuleId", new SelectList(Model.ModuleList, "ModuleId", "ModuleName"), htmlAttributes: new { @class = "dropdown-select my-3 float-label", onchange = "GetContent();", autocomplete = "off" })

        </div>
        <div class="col-md-2" style="margin-top:45px;margin-left:64px">
            <label style="display:flex !important">Language</label>
            @Html.DropDownList("LanguageCode", new SelectList(Model.LanguageList, "LanguageCode", "Language"), "Languages", htmlAttributes: new { @class = "dropdown-select my-3 float-label", onchange = "GetContent();", autocomplete = "off" })


        </div>
    </div>

    <div class="row distribute-container myfile">
        <div class="col-lg-10 col-md-8" style="margin-top:45px;margin-left:98px">
            <label id="service" style="display:none">Dimentions(95*95)</label>
            <input id="image" width="95" height="95" type="file" accept=".png" class="form-control" style="display:none" />
        </div>

        <div class="col-lg-10 col-md-8" style="margin-top:45px;margin-left:98px">
            <label id="industries" style="display:none">Dimentions(95*95)</label>
            <input id="image1" width="95" height="95" type="file" accept=".png" class="form-control" style="display:none" />
        </div>

    </div>

    <div class="row distribute-container">
        <div class="col-lg-10 col-md-8" style="margin-top:45px;margin-left:98px">
            <div id="summernote"></div>
        </div>
    </div>
    <div class="row distribute-container">
        <div class="col-md-2" style="margin-top:40px;margin-left:98px;margin-bottom:15px;display:flex">
            <button type="button" id="Update" class="btn btn-success" onclick="UpdateContent()">Update</button>
            <label id="lblMessage">No data Updated</label>
            @*<input type="button" class="btn btn-primary" style="background-color:darkgray"  value="Update" />*@
        </div>
    </div>
</div>






<script>

    $("#ModuleId").change(function () {
        if ($(this).val() == 5) {
            $("#image").show();
            $("#image1").show();
            $("#service").show();
            $("#industries").show();

            $("#UploadImage").show();
        }
        else if ($(this).val() == 6) {
            $("#image").show();
            $("#image1").show();
            $("#service").show();
            $("#industries").show();
            $("#UploadImage").show();
        }
        else if ($(this).val() == 7) {
            $("#image").show();
            $("#image1").show();
            $("#service").show();
            $("#industries").show();
            $("#UploadImage").show();
        }
        else if ($(this).val() == 8) {
            $("#image").show();
            $("#image1").show();
            $("#service").show();
            $("#industries").show();
            $("#UploadImage").show();
        }
        else if ($(this).val() == 9) {
            $("#image").show();
            $("#image1").show();
            $("#service").show();
            $("#industries").show();
            $("#UploadImage").show();
        }
        else {
            $("#image").hide();
            $("#UploadImage").hide();
            $("#image1").hide();
            $("#service").hide();
            $("#industries").hide();
        }
    });

    $('#summernote').summernote({
        placeholder: 'Hello Bootstrap 4',
        tabsize: 2,
        height: 300,
        dialogsInBody: true
    });


    $(document).ready(function () {
        $("#ModuleId").chosen();
        $("#LanguageCode").chosen();

    });


    function GetContent() {

        if ($("#ModuleId").children("option:selected").val() > 0 && $("#LanguageCode").children("option:selected").val() != "") {
            $("#PostBackMsg").show();
            $('#summernote').summernote('code', '')
            console.log($("#ModuleId").children("option:selected").val());
            console.log($("#LanguageCode").children("option:selected").val());
            $.ajax({
                type: "GET",
                url: '../Home/GetContent?ModuleId=' + parseInt($("#ModuleId").children("option:selected").val()) + '&LanguageCode=' + $("#LanguageCode").children("option:selected").val() + '',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    if (result == 'Logout') {
                        window.location = '../Logout';
                    }
                    console.log(result);

                    if (result != null) {
                        $('#summernote').summernote('code', result);
                    }


                    $("#PostBackMsg").fadeOut("slow");
                },

                error: function (err) {
                    if (err.status === 0) {
                        window.location = '../Logout';
                    }
                    $("#PostBackMsg").fadeOut("slow");
                }
            });
        }
    }


     function UpdateContent() {
        if (Validate()) {
           if ($("#LanguageCode").children("option:selected").val() != "" && $("#ModuleId").children("option:selected").val() > 0) {
                $("#PostBackMsg").show();

                var fd = new FormData();
                if ($("#ModuleId").val() == 5) {
                    var files1 = $('#image')[0].files[0];
                    var files2 = $('#image1')[0].files[0];
                    var fileString = '';
                    if (files1 != undefined) {
                        fd.append(files1.name, files1);
                        fileString = fileString + 'file1,';
                    }
                    if (files2 != undefined) {
                        fd.append(files2.name, files2);
                        fileString = fileString + 'file2';
                    }

                    fd.append('ModuleId', parseInt($("#ModuleId").children("option:selected").val()));
                    fd.append('LanguageCode', $("#LanguageCode").children("option:selected").val());
                    fd.append('Content', $('#summernote').summernote('code'));
                    fd.append('FileString', fileString);
                }
                else if ($("#ModuleId").val() == 6) {
                    var files1 = $('#image')[0].files[0];
                    var files2 = $('#image1')[0].files[0];

                    var fileString = '';
                    if (files1 != undefined) {
                        fd.append(files1.name, files1);
                        fileString = fileString + 'file1,';
                    }
                    if (files2 != undefined) {
                        fd.append(files2.name, files2);
                        fileString = fileString + 'file2';
                    }

                    fd.append('ModuleId', parseInt($("#ModuleId").children("option:selected").val()));
                    fd.append('LanguageCode', $("#LanguageCode").children("option:selected").val());
                    fd.append('Content', $('#summernote').summernote('code'));
                    fd.append('FileString', fileString);
                }
                else if ($("#ModuleId").val() == 7) {
                    var files1 = $('#image')[0].files[0];
                    var files2 = $('#image1')[0].files[0];

                    var fileString = '';
                    if (files1 != undefined) {
                        fd.append(files1.name, files1);
                        fileString = fileString + 'file1,';
                    }
                    if (files2 != undefined) {
                        fd.append(files2.name, files2);
                        fileString = fileString + 'file2';
                    }

                    fd.append('ModuleId', parseInt($("#ModuleId").children("option:selected").val()));
                    fd.append('LanguageCode', $("#LanguageCode").children("option:selected").val());
                    fd.append('Content', $('#summernote').summernote('code'));
                    fd.append('FileString', fileString);
                }
                else if ($("#ModuleId").val() == 8) {
                    var files1 = $('#image')[0].files[0];
                    var files2 = $('#image1')[0].files[0];

                    var fileString = '';
                    if (files1 != undefined) {
                        fd.append(files1.name, files1);
                        fileString = fileString + 'file1,';
                    }
                    if (files2 != undefined) {
                        fd.append(files2.name, files2);
                        fileString = fileString + 'file2';
                    }

                    fd.append('ModuleId', parseInt($("#ModuleId").children("option:selected").val()));
                    fd.append('LanguageCode', $("#LanguageCode").children("option:selected").val());
                    fd.append('Content', $('#summernote').summernote('code'));
                    fd.append('FileString', fileString);
                }
                else if ($("#ModuleId").val() == 9) {
                    var files1 = $('#image')[0].files[0];
                    var files2 = $('#image1')[0].files[0];

                    var fileString = '';
                    if (files1 != undefined) {
                        fd.append(files1.name, files1);
                        fileString = fileString + 'file1,';
                    }
                    if (files2 != undefined) {
                        fd.append(files2.name, files2);
                        fileString = fileString + 'file2';
                    }

                    fd.append('ModuleId', parseInt($("#ModuleId").children("option:selected").val()));
                    fd.append('LanguageCode', $("#LanguageCode").children("option:selected").val());
                    fd.append('Content', $('#summernote').summernote('code'));
                    fd.append('FileString', fileString);
                }
                else {
                    fd.append('ModuleId', parseInt($("#ModuleId").children("option:selected").val()));
                    fd.append('LanguageCode', $("#LanguageCode").children("option:selected").val());
                    fd.append('Content', $('#summernote').summernote('code'));
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateContentByModelIdAndLanguageId", "Home")',
                    data: fd,
                    contentType: false,
                    processData: false,

                    success: function (result) {

                        if (result == 'Logout') {
                            window.location = '../Logout';
                        }
                        if (result.message == null) {
                            if (result.ResultCode == 0) {
                                $("#lblMessage").css({ display: 'inline' });
                            }

                            else {
                                $('#summernote').summernote('code', result.HtmlContent);
                            }
                            $("#image").val(null);
                            $("#image1").val(null);
                            var alertmsg = "Successfully updated";
                            AlertMessage('growl-success', 'Information', alertmsg, false, 3000);

                            $("#PostBackMsg").fadeOut("slow");
                        }

                        else {
                            AlertMessage('growl-danger', 'Validation', result.message, false, 3000);
                        }
                    },

                    error: function (err) {
                        if (err.status === 0) {
                            window.location = '../Logout';
                        }
                        $("#PostBackMsg").fadeOut("slow");
                    }
                });
            }
        }
    }

    function UpLoadImage() {

        var formData = new FormData();
        formData.append('files', $("#image")[0].files[0]);
        formData.append('files', $("#image1")[0].files[0]);


        var jqxhr = $.ajax({
            url: "../Home/UploadImage",
            type: "POST",
            contentType: false,
            data: formData,
            dataType: "json",
            cache: false,
            processData: false,
            async: false,
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress",
                    function (evt) {
                        if (evt.lengthComputable) {
                            var progress = Math.round((evt.loaded / evt.total) * 100);

                            // Do something with the progress
                        }
                    },
                    false);
                return xhr;
            }
        })
            .done(function (data, textStatus, jqXhr) {
                if (data.Message != null)
                    alert(data.Message);
                else {
                    alert(data.errorMessage);
                }


            })
            .fail(function (jqXhr, textStatus, errorThrown) {
                if (errorThrown === "abort") {
                    alert("Upload was aborted");
                } else {
                    alert("Upload failed");
                }
            })
            .always(function (data, textStatus, jqXhr) { });
        //$("#image").hide();
        //$("#UploadImage").hide();
    }

    function Validate() {
        if ($("#ModuleId").val() == 0) {
            var message = "please select module";
            AlertMessage('growl-danger', 'Validation', message, false, 3000);

            return false;
        }
        else if ($("#LanguageCode").val() == "") {
            var errorMeaasage = "please select language";
            AlertMessage('growl-danger', 'Validation', errorMeaasage, false, 3000);
            return false;
        }
        else {
            return true;
        }
    }
    function AlertMessage(class_name, title, alert, boolstick, timesec) {
        jQuery.gritter.add({
            title: title,
            text: alert,
            class_name: class_name,
            image: '../images/screen.png',
            sticky: boolstick,
            time: timesec,
            before_open: function () {
                $('.gritter-item-wrapper').remove();
            }
        });
        return false;
    };
    function Validate() {
        if ($("#ModuleId").val() == 0) {
            var message = "please select module";
            AlertMessage('growl-danger', 'Validation', message, false, 3000);

            return false;
        }
        else if ($("#LanguageCode").val() == "") {
            var errorMeaasage = "please select language";
            AlertMessage('growl-danger', 'Validation', errorMeaasage, false, 3000);
            return false;
        }
        else {
            return true;
        }
    }
</script>

