@model PTW.DataAccess.Models.MasterPage
@{ Layout = "_Layout";
    ViewData["Title"] = Model.MetaTitle; }

<head>
    <meta name="description" content="@Model.MetaDescription" />
    <link rel="canonical" href="@Model.MetaUrl" />
</head>
@Html.Raw(Model.HtmlContent)
@*<div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
</div>

<video autoplay muted loop playsinline class="HomeVideoBG">
    <source src="../images/Homepage/HomeImages/en-US/HomePageBackgroud.mp4" type="video/mp4">
</video>
<div class="container_div ">

    <div class="row m-0">
        <div class="col-md-2">

            <div class="wrapper">
                <div class="line"></div>
                <div class="wordwrapper">
                    <p class="vericaltext">
                        HOME
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="home-text ">
                <div class="bg-title pl-2">

                    <div>
                        <p>BRINGING YOUR STORY TO THE WORLD</p>

                    </div>
                </div>

            </div>
            <button type="button" class="btn btn-outline">DISCOVER MORE <i class="fa fa-arrow-right" style="font-size:14px"></i></button>


        </div>

        <div class="col-md-4 left-num">
            <div class="d-flex d-none d-md-block justify-content-center">
                <div class="mt-5 mob-num" style="margin: 30% 30px;">
                    <span class="countup" cup-end="40" cup-duration="1000" cup-append="" cup-prepend=""></span>
                    <p>Studios</p>
                </div>
                <div class="mt-5 mob-num" style=" margin: 30% 30px;">
                    <span class="countup" cup-end="15" cup-duration="3000" cup-append="00+" cup-prepend=""></span>
                    <p>Titles</p>
                </div>
            </div>
            <div class="d-flex d-md-block justify-content-center">
                <div class="mt-5 mob-num2" style="margin: 30% 30px;">
                    <span class="countup" cup-end="25" cup-duration="1000" cup-append="+" cup-prepend=""></span>
                    <p>Years of XP</p>
                </div>
                <div class="mt-5 mob-num2" style="margin: 30% 30px;">
                    <span class="countup" cup-end="40" cup-duration="1000" cup-append="+" cup-prepend=""></span>
                    <p>Languages</p>
                </div>
            </div>
        </div>
    </div>


    <div class="spacer5"></div>

    <div class="row">


        <div class="col-md-12 lbl">
            <p>SERVICES</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 d-none d-sm-block ml-5 pl-5">

            <div class="d-flex  qaIcon setMargin" style="position:relative">
                <img class="home-btns" style="transform: scale(1.6)" id="Service_1" onclick="NavigateLink(this);" onmouseover="ShowContent(this , 'qaIcon');" src="../images/Lab/Assets/RUNES/red.png">
                <div class="bg-txt">

                    <p class="sub_label">
                        QUALITY ASSURANCE
                    </p>
                    <p class="sub-content">For quality assurance that’s as wide-ranging as it is thorough, our testing includes functionality, compliance, compatibility, security, usability, focus group, and user experience across all genres and platforms.</p>
                    <button type="button" id="btn_1" onclick="NavigateLink(this)" class="btn btn-red mr-5">TELL ME MORE <i class="fa fa-arrow-right" style=" color:red"></i></button>
                    <button type="button" onclick="NavigateCareers();" class="btn btn-red ml-5">CAREERS <i class="fa fa-arrow-right" style=" color:red"></i></button>
                </div>

            </div>


            <div class="d-flex  localizationIcon setMargin" style="position:relative">
                <img class="home-btns" id="Service_2" onclick="NavigateLink(this);" onmouseover="ShowContent(this, 'localizationIcon');" src="../images/Lab/Assets/RUNES/purple.png">
                <div class="bg-txt d-none">

                    <p class="sub_label">
                        LOCALIZATION
                    </p>
                    <p class="sub-content">For quality assurance that’s as wide-ranging as it is thorough, our testing includes functionality, compliance, compatibility, security, usability, focus group, and user experience across all genres and platforms.</p>
                    <button type="button" id="btn_2" onclick="NavigateLink(this)" class="btn btn-red mr-5">TELL ME MORE <i class="fa fa-arrow-right" style=" color:red"></i></button>
                    <button type="button" onclick="NavigateCareers();" class="btn btn-red ml-5">CAREERS <i class="fa fa-arrow-right" style=" color:red"></i></button>
                </div>
            </div>
            <div class="d-flex  speechTechIcon setMargin" style="position:relative">
                <img class="home-btns" id="Service_3" onclick="NavigateLink(this);" onmouseover="ShowContent(this, 'speechTechIcon');" src="../images/Lab/Assets/RUNES/orange.png">
                <div class="bg-txt d-none">

                    <p class="sub_label">
                        SPEECH TECH
                    </p>
                    <p class="sub-content">For quality assurance that’s as wide-ranging as it is thorough, our testing includes functionality, compliance, compatibility, security, usability, focus group, and user experience across all genres and platforms.</p>
                    <button type="button" id="btn_3" onclick="NavigateLink(this)" class="btn btn-red mr-5">TELL ME MORE <i class="fa fa-arrow-right" style=" color:red"></i></button>
                    <button type="button" onclick="NavigateCareers();" class="btn btn-red ml-5">CAREERS <i class="fa fa-arrow-right" style=" color:red"></i></button>
                </div>
            </div>
            <div class="d-flex m-5 audioProd" style="position:relative">
                <img class="home-btns" id="Service_4" onclick="NavigateLink(this);" onmouseover="ShowContent(this, 'audioProd');" src="../images/Lab/Assets/RUNES/blue.png">
                <div class="bg-txt d-none">

                    <p class="sub_label">
                        AUDIO PRODUCTION
                    </p>
                    <p class="sub-content">For quality assurance that’s as wide-ranging as it is thorough, our testing includes functionality, compliance, compatibility, security, usability, focus group, and user experience across all genres and platforms.</p>
                    <button type="button" id="btn_4" onclick="NavigateLink(this)" class="btn btn-red mr-5">TELL ME MORE <i class="fa fa-arrow-right" style=" color:red"></i></button>
                    <button type="button" onclick="NavigateCareers();" class="btn btn-red ml-5">CAREERS <i class="fa fa-arrow-right" style=" color:red"></i></button>
                </div>
            </div>
            <div class="d-flex m-5 player-supprt" style="position:relative">
                <img class="home-btns" id="Service_5" onclick="NavigateLink(this);" onmouseover="ShowContent(this , 'player-supprt');" src="../images/Lab/Assets/RUNES/green.png">
                <div class="bg-txt d-none">

                    <p class="sub_label">
                        PLAYER SUPPORT
                    </p>
                    <p class="sub-content">For quality assurance that’s as wide-ranging as it is thorough, our testing includes functionality, compliance, compatibility, security, usability, focus group, and user experience across all genres and platforms.</p>
                    <button type="button" id="btn_5" onclick="NavigateLink(this)" class="btn btn-red mr-5">TELL ME MORE <i class="fa fa-arrow-right" style=" color:red"></i></button>
                    <button type="button" onclick="NavigateCareers();" class="btn btn-red ml-5">CAREERS <i class="fa fa-arrow-right" style=" color:red"></i></button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-2  serviceMob d-n d-sm-none d-flex ">
        <div>
            <div class="d-flex">
                <img class="home-btns" src="../images/Homepage/HomeImages/en-US/red.png">
                <p class="home-btns-text">Quality Assurance</p>
            </div>
            <div>
                <img class="mobservice" src="../Images/New_UI/qa_page/mob_bg.png">

            </div>
        </div>


        <div>
            <div class="d-flex">
                <img class="home-btns" src="../images/Homepage/HomeImages/en-US/blue.png">
                <p class="home-btns-text">Localization</p>
            </div>
            <div>
                <img class="mobservice" src="../Images/New_UI/Localization/mobBg.png">

            </div>
        </div>
        <div>
            <div class="d-flex">
                <img class="home-btns" src="../images/Homepage/HomeImages/en-US/orange.png">
                <p class="home-btns-text">Product development</p>
            </div>
            <div>
                <img class="mobservice" src="../Images/New_UI/qa_page/mob_bg.png">

            </div>
        </div>
        <div>
            <div class="d-flex">
                <img class="home-btns" src="../images/Homepage/HomeImages/en-US/green.png">
                <p class="home-btns-text">Quality Assurance</p>
            </div>
            <div>
                <img class="mobservice" src="../Images/New_UI/qa_page/mob_bg.png">

            </div>
        </div>

    </div>

</div>


<div class="row column-reverse-sm deb-row">
    <div class="col-md-6 mt-5 deb d-none d-sm-block text-center">
        <img style="max-width: 60%; width: unset" src="../images/Homepage/HomeImages/en-US/KickStartImage.png">
    </div>
    <div class="col-md-6 deb d-block d-sm-none">
        <div class="d-flex justify-content-around">
            <img class="Deborah-sm-img" src="../images/Homepage/HomeImages/en-US/KickStartImage.png">
            <div class="d-sm-none d-block">
                <div class="d-block">
                    <div class="p-4">
                        <p style="color: #EE6E03; font-size: 30px;margin:0px">
                            <span class="countup" cup-end="40" cup-duration="1000" cup-append="+" cup-prepend=""></span>
                        </p>
                        <p style="font-size: 10px;color: #303143;">Global Studios</p>
                    </div>
                    <div class="p-4">
                        <p style="color: #EE6E03; font-size: 30px;margin:0px">6000+</p>
                        <p style="font-size: 10px;color: #303143;">Employees</p>
                    </div>
                    <div class="p-4">
                        <p style="color: #EE6E03; font-size: 30px;margin:0px ">25+</p>
                        <p style="font-size: 10px;color: #303143;">Years of XP</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn kickstart">LET'S BUILD SOMETHING TOGETHER </button>
        </div>
    </div>
    <div class="col-md-6 join-developers">
        <div>
            <div class="deb_text">
                <p>JOIN 650+ DEVELOPERS AND PUBLISHERS THAT</p>
                <p>WORK WITH PTW</p>
                <p class="sub-debo">Our people make our company special. We’re brilliant, because our people shine. We’re passionate, because our people love what they do.</p>
            </div>
            <div class="d-sm-block d-none kick-start">
                <div class="d-flex">

                    <div class="p-4 count mr-5 ">
                        <p style="color: #EE6E03; font-size: 55px;margin:0px">
                            <span class="countup" cup-end="40" cup-duration="1000" cup-append="+" cup-prepend=""></span>
                        </p>
                        <p style="font-size: 12px;color: #303143;    line-height: 0px;">Global Studios</p>
                    </div>
                    <div class="p-4 count mr-5 ml-5" style="text-align:center">
                        <p style="color: #EE6E03; font-size: 55px;margin:0px">
                            <span class="countup" cup-end="60" cup-duration="1000" cup-append="00+" cup-prepend=""></span>
                        </p>
                        <p style="font-size: 12px;color: #303143;    line-height: 0px;">Employees</p>
                    </div>
                    <div class="p-4 count mr-5 ml-5">
                        <p style="color: #EE6E03; font-size: 55px;margin:0px">
                            <span class="countup" cup-end="25" cup-duration="1000" cup-append="+" cup-prepend=""></span>
                        </p>
                        <p style="font-size: 12px;color: #303143;    line-height: 0px;">Years of XP</p>
                    </div>

                </div>
                <button type="button" class="btn kickstart ml-4">LET'S BUILD SOMETHING TOGETHER </button>
            </div>
        </div>
    </div>


</div>

<div class="row column-reverse-sm deb-row">

    <div class="col-md-6 deb d-block d-sm-none">
        <div class="d-flex justify-content-around">
            <img class="Deborah-sm-img" src="../images/Homepage/HomeImages/en-US/KickStartImage.png">
            <div class="d-sm-none d-block">
                <div class="d-block">
                    <div class="p-4">
                        <p style="color: #EE6E03; font-size: 30px;margin:0px">
                            <span class="countup" cup-end="40" cup-duration="1000" cup-append="+" cup-prepend=""></span>
                        </p>
                        <p style="font-size: 10px;color: #303143;">Global Studios</p>
                    </div>
                    <div class="p-4">
                        <p style="color: #EE6E03; font-size: 30px;margin:0px">6000+</p>
                        <p style="font-size: 10px;color: #303143;">Employees</p>
                    </div>
                    <div class="p-4">
                        <p style="color: #EE6E03; font-size: 30px;margin:0px ">25+</p>
                        <p style="font-size: 10px;color: #303143;">Years of XP</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn kickstart">LET'S BUILD SOMETHING TOGETHER </button>
        </div>
    </div>

    <div class="col-md-6 join-developers">
        <div class="ceo_text">
            <p style="color: #EE6E03;">WELCOME TO PTW JAPAN</p>
            <p><b>Takuto Terao, CEO Japan</b></p>
            <p class="japanceo">As CEO of PTW and a board member of PPHD, Deborah Kirkham is committed to leading transformative change while achieving demanding financial and operational goals. Deborah has been with PTW nearly a decade. Under her leadership, PTW has grown to over 1,800 employees across 16 studios in 10 countries around the world. In her role as President and COO, the company celebrated double digit growth year-on-year. Deborah’s infectious love of her company has built a company culture centered around loyalty, speed, and growth, and has allowed her to lead a high-performing team that is laser-focused on accelerating innovation worldwide.</p>
        </div>

    </div>
    <div class="col-md-6 mt-5 deb d-none d-sm-block text-center">
        <img style="max-width: 60%; width: unset" src="../images/Homepage/HomeImages/en-US/KickStartImage.png">
    </div>

</div>

<div class="mt-5 row justify-content-center">
    <h5 class="prod5txt">HELPFUL LINKS</h5>
    <div class="row col-md-12 helpfulDivs">

    </div>
</div>
<div class="row">
    <div class="col-md-12 d-sm-block d-none">
        <div class="ReadMeSection mt-5">
            <a href="../lab" class="btn ReadMeBtn">Read More</a>
        </div>
    </div>
</div>


<div class="row d-md-block d-none join-our-squad">
    <div class="col-md-8 text-center">
        <div class="tieppe ">

            <p class="join">JOIN OUR</p>
            <p class="squad">SQUAD</p>
            <p class="text-tiepee">of master assassins, wizards, warriors and brethren alike!</p>
            <button type="button" class="btn btn-carrer carrer" onclick="NavigateCareers();" onmouseover="changevalue()" onmouseout="changevalueonout()">CAREERS </button>


        </div>
    </div>
    <div class="col-md-4">
        <img class="man-desk" src="../images/Homepage/HomeImages/en-US/CareersImage.png">
    </div>
</div>
<div class="row d-sm-none d-flex flex-nowrap align-items-center">
    <div class="position-relative">
        <div class="tieppe">
            <p class="join">JOIN OUR</p>
            <p class="squad">SQUAD</p>
            <p class="text-tiepee">of master assassins, wizards, warriors and brethren alike!</p>
            <button type="button" class="btn btn-carrer carrer" onmouseover="changevalue()" onmouseout="changevalueonout()">CAREERS </button>
        </div>
    </div>
    <div class="tieppe-img">
        <img class="black-bg man" src="../images/Homepage/HomeImages/en-US/CareersImage.png">
    </div>
</div>

<div class="row d-sm-block d-none">

    <div class="map-txt">
        <p style=" color: #EE6E03; line-height: 24px;">WE ARE THE</p>
        <p>CHAMPIONS</p>
        <p style="        font-size: 20px;
        font-family: Nunito-regular;
        padding-left: 8px;
        letter-spacing: 2px;
        font-weight: 500;
">of the world...</p>
    </div>
    <div class="" style="width: 80%;margin-left: 15%;">
        <img src="../images/Homepage/HomeImages/en-US/LocationMap.svg" style="width: 100%;">

    </div>
    <div class="d-flex justify-content-end " style=" width: 100%;">
        <button type="button" class="btn btn-location">Locations </button>

    </div>
</div>*@


<script>


    $(document).ready(function () {
        LoadLocation();

        //Preloader
        preloaderFadeOutTime = 500;
        function hidePreloader() {
            var preloader = $('.sk-chase');
            preloader.fadeOut(preloaderFadeOutTime);
        }
        hidePreloader();
    });
    function ShowContent(event, clsName) {
        for (var i = 1; i < 6; i++) {
            $("#Service_" + i + "").closest("div").children("div").addClass("d-none");
            $("#Service_" + i + "").closest("div").children("div").removeClass("d-block");
            $("#Service_" + i + "").css("width", "8%");
            $("#Service_" + i + "").removeClass("d-none");
            $("#Service_" + i + "").css("transform", "scale(1)");
        }

        $("#" + event.id + "").css("transform", "scale(1.6)");
        $("." + clsName + "").css("margin", "3rem");
        $("#" + event.id + "").closest("div").children("div").addClass("d-block")
    }

    function changevalue() {


        $(".carrer").html("WORK WITH US");
    }

    function changevalueonout() {
        $(".carrer").html("CARRERS");
    }

    function LoadLocation() {
        $.ajax({
            url: "../Home/GetHompageLabOrNewsArticles?LanguageCode="+"@Model.LanguageCode"+"",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var appendLabs = "<div class=\"row helpfulDivs\" style=\"Background-color:#fff;\">";

                for (var i = 0; i < result.length; i++) {
                    appendLabs += "<div class=\"col-md-4\"><div class=\"animationDiv\">" +
                        "<img class=\"btnImage\" src=\"" + result[i].ImagePath + "\">" +
                        "<div class=\"squaredDiv\" style=\"background-image: url(../Images/Homepage/HomeImages/en-US/Frame.svg);\">" +
                        "<div class=\"squaredText\">" +
                        "<p>" + result[i].Title + "</p>" +
                        "</div>" +
                        "<div class=\"MoreDiv\">" +
                        "<p>More..</p>" +
                        "</div>" +
                        "  </div>" +
                        "</div>" +
                        " </div>";
                }
                $('.helpfulDivs').append(appendLabs);
            },
            error: function (err) {
                // window.location = '../Logout';
            }
        });

    }


    //$(function () {
    //    var oTop = $('.kick-start').offset().top - window.innerHeight;
    //    $(window).scroll(startCounter);
    //    function startCounter() {
    //        var hT = $('.kick-start').offset().top,
    //            hH = $('.kick-start').outerHeight(),
    //            wH = $(window).height();
    //        if ($(window).scrollTop() > hT + hH - wH) {
    //            $(window).off("scroll", startCounter);
    //            $('.countups').each(function () {
    //                var $this = $(this);
    //                jQuery({ Counter: 0 }).animate({ Counter: $this.text().trim() }, {
    //                    duration: 1000,
    //                    easing: 'swing',
    //                    step: function () {
    //                        $this.text(Math.ceil(this.Counter));
    //                    }
    //                });
    //            });
    //        }
    //    }
    //});

    function NavigateLink(event) {
        if (event.id == "Service_1" || event.id == "btn_1") {
            window.location.href = "../qualityassurance";
        }
        else if (event.id == "Service_2" || event.id == "btn_2") {
            window.location.href = "../localization";
        }
        else if (event.id == "Service_3" || event.id == "btn_3") {
            window.location.href = "../speechtech";
        }
        else if (event.id == "Service_4" || event.id=="btn_4") {
            window.location.href = "../audioproduction";
        }
        else if (event.id == "Service_5" || event.id == "btn_5") {
            window.location.href = "../playersupport";
        }
    }

    function NavigateCareers() {
        window.location.href = "../careers";
    }

    $(window).scroll(function () {
        //more then or equals to
        if ($(window).scrollTop() >= 1992) {
           // start_count();

            //less then 100px from top
        } else {

            //start_count()
        }
    });

    function start_count() {
        alert('start_count');
        //Add your code here
    }


</script>
