@model PTW.DataAccess.Models.Home
@{
    Layout = "~/Views/Shared/_LayoutForPtwCms.cshtml";
    ViewData["Title"] = "Home";
}
<link href="~/css/Editor/Css/4.4.1.bootstrap.min.css" rel="stylesheet" />
<link href="~/css/jquery.gritter.css" rel="stylesheet" />
<script class="imageShow" src="~/js/Editor/jquery-3.5.1.min.js"></script>
<script class="imageShow" src="~/js/Editor/popper.min.js"></script>
<script class="imageShow" src="~/js/Editor/1.9.1.jquery.js"></script>
<script class="imageShow" src="~/js/Editor/4.4.1.bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<script class="imageShow" src="~/js/Editor/summernote-bs4.min.js"></script>
<script class="imageShow" src="~/js/jquery.gritter.min.js"></script>

<style>
    /* Loader Start*/

    #PostBackMsg, #PostBackMsg-1 {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: block;
        background: rgba(255, 255, 255, 0.6509803921568628);
        z-index: 1001;
    }

        #PostBackMsg img, #PostBackMsg-1 img {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 100%;
            height: auto;
        }

    /* Loader End*/

    #ModuleId {
        outline: 0;
        background-image: none;
        width: 100%;
        height: 100%;
        color: black;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 15px;
        padding: 6px 6px 6px 6px;
    }

    #LanguageCode {
        outline: 0;
        background-image: none;
        width: 100%;
        height: 100%;
        color: black;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 15px;
        padding: 6px 6px 6px 6px;
    }

    #lblMessage {
        display: inline-block;
        margin-bottom: .5rem;
        color: red;
        white-space: nowrap;
        padding-left: 20px;
        display: none;
    }

    .form-group {
        margin-bottom: 1rem;
        padding-right: 30px;
        padding-left: 30px;
        margin-top: 2rem;
    }

    .mandatory {
        color: red;
    }

    #NewsList {
        width: 75%;
        margin-left: 4rem;
    }

    .serviceSection {
        border: 2px solid;
        margin-left: 12px;
        width: 98%;
    }

    .serviceLabel {
        padding-left: 40px;
        font-weight: 600;
    }

    .col-md-2 {
        padding: 5px;
    }

    .imageShow {
        display: none;
        border: none;
    }
    .section1 {
        display: none;
        border: none;
    }
    .section2 {
        display: none;
        border: none;
    }
    .section3 {
        display: none;
        border: none;
    }
    .section4 {
        display: none;
        border: none;
    }
    .section5 {
        display: none;
        border: none;
    }
    .section6 {
        display: none;
        border: none;
    }

</style>
<div id="PostBackMsg" style="display:none;">
    <img alt="loader" class="imageShow" src="~/images/loader.gif" />
</div>

<div class="page-header" style="text-align: center;">
    <h3>Edit Home</h3>
</div>

<div class="contentpanel report" style="border: 1px solid #00b8ff85;width: 1180px;margin-top: 45px;margin-left:50px;">
    <div class="row distribute-container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="form-group col-md-6 col-sm-4">
                    <label class="col-form-label">Language</label>
                    <select id="Languages" asp-for="LanguageCode"
                            asp-items="@(new SelectList(Model.Languages,"LanguageCode","Language"))" onchange="GetContent();" class="form-control input-sm dropdown-select my-3">
                        <option>Please select</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-sm-4">
                    <label class="col-form-label">Sections</label>
                    <select id="SectionList" onchange="GetSectionDescription()" class="form-control input-sm dropdown-select my-3">
                        <option>Please select</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8 col-sm-8 section1">
                    <label class="col-form-label">Page Background Image (1920x2986 dimensions)</label>
                    <div class="col-sm-8">
                        <div class="custom-file">
                            <input id="PageBackgroundImage" onchange="UploadImage(this);" type="file" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...1920x2986 dimensions</label>
                        </div>

                    </div>

                </div>

                <div class="col-md-2 section1" style="border: 2px solid #999; margin: 20px;">
                    <img id="PageBackgroundImageImg" src="../images/Homepage/HomeImages/PageBackgroundImage.png" height="150px" width="150px" />
                    <a id="PageBackgroundImage_a" class="section1" href="../images/Homepage/HomeImages/PageBackgroundImage.png" title="Save Backup Image" download>
                        <img src="~/images/downloadIcon.png" class="section1" width="20px" style="float:right;margin: -149px auto;" height="20px" />
                    </a>
                </div>
            </div>
            <div class="row">
                <label class="col-form-label serviceLabel section1">Services Icons</label>
            </div>
            <div class="row serviceSection">

                <div class="form-group col-md-6 col-sm-6 section1">
                    <label class="col-form-label">
                        Customer Experience (150x150 dimensions)
                    </label>
                    <div class="col-md-8 col-sm-6">
                        <div class="custom-file">
                            <input id="CustomerExperience" onchange="UploadImage(this);" type="file" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...150x150 dimensions</label>
                        </div>

                    </div>
                </div>

                <div class="col-md-2 section1" style="display:flex; border: 2px solid #999; margin: 20px;">
                    <img id="CustomerExperienceImg" class="section1" src="../images/Homepage/HomeImages/CustomerExperience.png" height="150px" width="150px" />
                    <a id="CustomerExperience_a" href="../images/Homepage/HomeImages/CustomerExperience.png" title="Save Backup Image" download>
                        <img src="~/images/downloadIcon.png" class="section1" width="20px" style="float:right; margin: -149px auto;" height="20px" />
                    </a>
                </div>


                <div class="form-group  col-md-6 col-sm-6 section1">
                    <label class="col-form-label">Quality Assurance (200x200 dimensions)</label>
                    <div class="col-md-8 col-sm-6">
                        <div class="custom-file">
                            <input id="QualityAssurance" type="file" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...200x200 dimensions</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 section1" style="display:flex; border: 2px solid #999; margin: 20px;">
                    <img id="QualityAssuranceImg" class="section1" src="../images/Homepage/HomeImages/QualityAssurance.png" height="150px" width="150px" />
                    <a id="QualityAssurance_a" class="section1" href="../images/Homepage/HomeImages/QualityAssurance.png" title="Save Backup Image" download>
                        <img src="~/images/downloadIcon.png" class="section1" width="20px" style="float:right;margin: -149px auto;" height="20px" />
                    </a>
                </div>

                <div class="form-group col-md-6 col-sm-6 section1">
                    <label class="col-form-label">Localization (150x150 dimensions)</label>
                    <div class="col-md-8 col-sm-6">
                        <div class="custom-file">
                            <input id="Localization" type="file" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...150x150 dimensions</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 section1" style="display:flex; border: 2px solid #999; margin: 20px;">
                    <img id="LocalizationImg" class="section1" src="../images/Homepage/HomeImages/Localization.png" height="150px" width="150px" />
                    <a id="Localization_a" class="section1" href="../images/Homepage/HomeImages/Localization.png" title="Save Backup Image" download>
                        <img src="~/images/downloadIcon.png" class="section1" width="20px" style="float:right;margin: -149px auto;" height="20px" />
                    </a>
                </div>

                <div class="form-group col-md-6 col-sm-6 section1">
                    <label class="col-form-label">Audio Production (150x150 dimensions)</label>
                    <div class="col-md-8 col-sm-6">
                        <div class="custom-file">
                            <input id="AudioProduction" type="file" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...150x150 dimensions</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 section1" style="display:flex; border: 2px solid #999; margin: 20px;">
                    <img id="AudioProductionImg" class="section1" src="../images/Homepage/HomeImages/AudioProduction.png" height="150px" width="150px" />
                    <a id="AudioProduction_a" class="section1" href="../images/Homepage/HomeImages/AudioProduction.png" title="Save Backup Image" download>
                        <img src="~/images/downloadIcon.png" class="section1" width="20px" style="float:right;margin: -149px auto;" height="20px" />
                    </a>
                </div>


                <div class="form-group col-md-6 col-sm-6 section1">
                    <label class="col-form-label">Product Development (150x150 dimensions)</label>
                    <div class="col-md-8 col-sm-6">
                        <div class="custom-file">
                            <input id="ProductDevelopment" type="file" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...150x150 dimensions</label>
                        </div>
                    </div>
                </div>

                <div id="ProductDevelopmentImg" class="col-md-2 section1" style="display:flex; border: 2px solid #999; margin: 20px;">
                    <img id="ProductDevelopmentImg" class="section1" src="../images/Homepage/HomeImages/ProductDevelopment.png" height="150px" width="150px" />
                    <a id="ProductDevelopment_a" class="section1" href="../images/Homepage/HomeImages/ProductDevelopment.png" title="Save Backup Image" download>
                        <img src="~/images/downloadIcon.png" class="section1" width="20px" style="float:right;margin: -149px auto;" height="20px" />
                    </a>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-8 col-sm-8 section5">
                    <label class="col-form-label">Location Map (548x753 dimensions)</label>
                    <div class="col-sm-8">
                        <div class="custom-file">
                            <input id="LocationMap" type="file" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...548x753 dimensions</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 section5" style="display:flex; border: 2px solid #999; margin: 20px;">
                    <img id="LocationMapImg" class="section5" src="../images/Homepage/HomeImages/LocationMap.svg" height="150px" width="150px" />

                    <a id="LocationMap_a" class="section5" href="../images/Homepage/HomeImages/LocationMap.svg" title="Save Backup Image" download>
                        <img src="~/images/downloadIcon.png" class="section5" width="20px" style="float:right;margin: -149px auto;" height="20px" />
                    </a>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-8 col-sm-8 section2">
                    <label class="col-form-label">Kick Start (548x753 dimensions)</label>
                    <div class="col-sm-8">
                        <div class="custom-file">
                            <input id="KickStartImage" type="file" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...548x753 dimensions</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 section2" style="display:flex; border: 2px solid #999; margin: 20px;">
                    <img id="KickStartImageImg" class="section2" src="../images/Homepage/HomeImages/KickStartImage.png" height="150px" width="150px" />

                    <a id="KickStartImage_a" class="section2" href="../images/Homepage/HomeImages/KickStartImage.png" title="Save Backup Image" download>
                        <img src="~/images/downloadIcon.png" class="section2" width="20px" style="float:right;margin: -149px auto;" height="20px" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8 col-sm-8 section4">
                    <label class="col-form-label">Squad BackgroundImage (490x163 dimensions)</label>
                    <div class="col-sm-8">
                        <div class="custom-file">
                            <input id="Squad" type="file" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...490x163 dimensions</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 section4" style="display:flex; border: 2px solid #999; margin: 20px;">
                    <img id="SquadImg" class="section4" src="../images/Homepage/HomeImages/Squad.png" height="150px" width="150px" />
                    <a id="Squad_a" class="section4" href="../images/Homepage/HomeImages/Squad.png" title="Save Backup Image" download>
                        <img src="~/images/downloadIcon.png" class="section4" width="20px" style="float:right;margin: -149px auto;" height="20px" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8 col-sm-8 section3">
                    <label class="col-form-label">Frame (490x163 dimensions)</label>
                    <div class="col-sm-8">
                        <div class="custom-file">
                            <input id="Frame" type="file" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...490x163 dimensions</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 section3 frameBorder" style="display:flex; border: 2px solid #999; margin: 20px;">
                    <img id="FrameImg" class="section3" src="../images/Homepage/HomeImages/Frame.svg" height="150px" width="150px" />
                    <a id="Frame_a" class="section3" href="../images/Homepage/HomeImages/Frame.svg" title="Save Backup Image" download>
                        <img src="~/images/downloadIcon.png" class="section3" width="20px" style="float:right;margin: -149px auto;" height="20px" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8 col-sm-8 section4">
                    <label class="col-form-label">Careers (651x844 dimensions)</label>
                    <div class="col-sm-8">
                        <div class="custom-file">
                            <input id="CareersImage" type="file" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...651x844 dimensions</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 section4" style="display:flex; border: 2px solid #999; margin: 20px;">
                    <img id="CareersImageImg" class="section4" src="../images/Homepage/HomeImages/CareersImage.png" height="150px" width="150px" />
                    <a id="CareersImage_a" class="section4" href="../images/Homepage/HomeImages/CareersImage.png" title="Save Backup Image" download>
                        <img src="~/images/downloadIcon.png" width="20px" style="float:right;margin: -149px auto;" height="20px" />
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                    <label>Description</label>
                    <textarea id="Description" class="form-control input-sm">  </textarea>
                </div>
            </div>




            <div class="row">
                <div class="form-group  col-md-6 col-sm-6 section6">
                    <label>Meta Title</label>
                    <div class="col-md-8 col-sm-6">

                        <input type="text" id="MetaTitle" class="form-control input-sm" placeholder="Meta Title">
                    </div>
                </div>
                <div class="form-group  col-md-6 col-sm-6 section6">
                    <label>Meta Description</label>
                    <div class="col-md-8 col-sm-6">
                        <div class="custom-file">
                            <textarea id="MetaDescription" class="form-control input-sm"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group  col-md-6 col-sm-6 section6">
                    <label>Meta Url</label>
                    <div class="col-md-8 col-sm-6">

                        <input type="text" id="MetaUrl" class="form-control input-sm" placeholder="Meta Url">
                    </div>
                </div>
            </div>
        </div>

        <div class="row distribute-container">
            <div class="col-md-2" style="margin-top:40px;margin-left:98px;margin-bottom:15px;display:flex">
                <button onclick="UpdateHome();" class="btn btn-success">Update</button>
            </div>
            <div class="col-md-2" style="margin-top:40px;margin-left:98px;margin-bottom:15px;display:flex">
                <button onclick="PreviewHome();" class="btn btn-success">Preview</button>
            </div>
            <div class="col-md-2" style="margin-top:40px;margin-left:98px;margin-bottom:15px;display:flex">
                <button onclick="BackUpCode();" class="btn btn-success">Take BackUp</button>
            </div>
            <a id="donwloadFile" style="display:none;" href="" download></a>
        </div>
    </div>
</div>





<script>
    $('#Description').summernote({
        placeholder: 'Home page here',
        tabsize: 2,
        height: 300,
        dialogsInBody: true
    });

    $('#summernoteUpdate').summernote({
        placeholder: 'Home page here',
        tabsize: 2,
        height: 300,
        dialogsInBody: true
    });

    $(document).ready(function () {
        $('.section1').css("display", "none");
        $('.section2').css("display", "none");
        $('.section4').css("display", "none");
        $('.section5').css("display", "none");
        $('.section6').css("display", "none");
        $('.serviceSection').css("border", "none");
        $('.frameBorder').css("border", "none");
        $('.custom-file-input').on("change", function () {
            var fileLabel = $(this).next('.custom-file-label');
            var files = $(this)[0].files;

            readURL($(this)[0], $(this)[0].id);

            const fileType = files[0]['type'];
            const validImageTypes = ['image/png', 'image/svg+xml']//['image/gif', 'image/jpeg', 'image/png'];
            if (validImageTypes.includes(fileType)) {

                if (files.length > 1) {
                    fileLabel.html(files.length + ' files selected');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }

                var fd = new FormData();
                var files1 = $(this)[0].files[0];
                fd.append($(this)[0].id, files1);
                fd.append('Filename', $(this)[0].id);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateImagesToPreview", "Home")',
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        console.log(result);
                        if (result == 'Logout') {
                            window.location = '../Logout';
                        }
                        if (result == 1) {
                            //$("#PageBackgroundImage").removeAttr("src".attr("src", "");
                            //$("#PageBackgroundImage").attr("src", "../images/Homepage/PreviewImages/PageBackgroundImage.png");

                            //var alertmsg = "Successfully Added";
                            //AlertMessage('growl-success', 'Information', alertmsg, false, 3000);
                            //$("#PostBackMsg").fadeOut("slow");
                        }
                        else {
                            //var alertmsgs = "Added failed";
                            //AlertMessage('growl-danger', 'Validation', alertmsgs, false, 3000);
                            //$("#PostBackMsg").fadeOut("slow");
                        }
                    },
                    error: function (err) {
                        if (err.status === 0) {
                            window.location = '../Logout';
                        }
                        // $("#PostBackMsg").fadeOut("slow");
                    }
                });

            }
            else {
                AlertMessage('growl-danger', 'Validation', "Please upload only image with .png extention", false, 3000);
                fileLabel.html('');

                return false;
            }
        });

    });



    function readURL(input, imgId) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
               // $('#' + imgId + 'Img').attr('src', e.target.result);
                $('#' + imgId + 'Img').css("background-image", "url("+e.target.result+")");
            }
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    function UploadImage(evet) {
        //const file = evet.files[0];
        //const fileType = file['type'];
        //const validImageTypes = ['image/png']//['image/gif', 'image/jpeg', 'image/png'];
        //if (!validImageTypes.includes(fileType)) {
        //    // invalid file type code goes here.
        //    $("#" + evet.files[0]+"").attr('value', '');
        //   // $('#PageBackgroundImage').clearQueue();

        //}
        //else {
        //    alert(event.target.id);
        //}

    }

    function UpdateHome() {
        // if (Validate()) {
        
        if ($("#Languages").children("option:selected").val() != "Please select" && $("#SectionList").children("option:selected").val() != "Please select") {

            var fd = new FormData();
            var files1 = $('#CareersImage')[0].files[0];
            var files2 = $('#KickStartImage')[0].files[0];
            var files4 = $('#ProductDevelopment')[0].files[0];
            var files6 = $('#AudioProduction')[0].files[0];
            var files8 = $('#Localization')[0].files[0];
            var files10 = $('#QualityAssurance')[0].files[0];
            var files12 = $('#CustomerExperience')[0].files[0];
            var files13 = $('#PageBackgroundImage')[0].files[0];
            var files14 = $('#Frame')[0].files[0];
            var files15 = $('#LocationMap')[0].files[0];
            var files16 = $('#Squad')[0].files[0];

            fd.append('Squad', files16);
            fd.append('LocationMap', files15);
            fd.append('Frame', files14);
            fd.append('CareersImage', files1);
            fd.append('KickStartImage', files2);
            fd.append('ProductDevelopment', files4);
            fd.append('AudioProduction', files6);
            fd.append('Localization', files8);
            fd.append('QualityAssurance', files10);
            fd.append('CustomerExperience', files12);
            fd.append('PageBackgroundImage', files13);
            fd.append('Description', $('#Description').summernote('code'));
            fd.append('MetaUrl', $("#MetaUrl").val());
            fd.append('MetaTitle', $("#MetaTitle").val());
            fd.append('MetaDescription', $("#MetaDescription").val());
            fd.append('ModuleId', 3);
            fd.append('LanguageCode', $("#Languages").children("option:selected").val());
            fd.append('SectionId', parseInt($("#SectionList").children("option:selected").val()));
            console.log(fd);

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateHomePageByLanguageId", "Home")',
                data: fd,
                contentType: false,
                processData: false,
                success: function (result) {
                    console.log(result);
                    if (result == 'Logout') {
                        window.location = '../Logout';
                    }
                    if (result == 1) {
                        var alertmsg = "Successfully Added";
                        AlertMessage('growl-success', 'Information', alertmsg, false, 3000);
                        $("#PostBackMsg").fadeOut("slow");
                    }
                    else {
                        var alertmsgs = "Added failed";
                        AlertMessage('growl-danger', 'Validation', alertmsgs, false, 3000);
                        $("#PostBackMsg").fadeOut("slow");
                    }
                },
                error: function (err) {
                    if (err.status === 0) {
                        window.location = '../Logout';
                    }
                    $("#PostBackMsg").fadeOut("slow");
                }
            });


        }
        else {
            AlertMessage('growl-danger', 'Validation', "Please select any Language & section", false, 3000);
        }
       // }
    }

    function PreviewHome() {
        // if (Validate()) {
        if ($("#Languages").children("option:selected").val() != "Please select") {
            var pagecontent = $('#Description').summernote('code');

            var fd = new FormData();
            var files1 = $('#CareersImage')[0].files[0];
            var files2 = $('#KickStartImage')[0].files[0];
            //var files3 = $('#ProductDevelopmentOnMouseHover')[0].files[0];
            var files4 = $('#ProductDevelopment')[0].files[0];
            //var files5 = $('#AudioProductionOnMouseHover')[0].files[0];
            var files6 = $('#AudioProduction')[0].files[0];
            //var files7 = $('#LocalizationOnMouseHover')[0].files[0];
            var files8 = $('#Localization')[0].files[0];
            //var files9 = $('#QualityAssuranceOnMouseHover')[0].files[0];
            var files10 = $('#QualityAssurance')[0].files[0];
            //var files11 = $('#CustomerExperienceOnMouseHover')[0].files[0];
            var files12 = $('#CustomerExperience')[0].files[0];
            var files13 = $('#PageBackgroundImage')[0].files[0];
            var files14 = $('#Frame')[0].files[0];
            var files15 = $('#LocationMap')[0].files[0];
            var files16 = $('#Squad')[0].files[0];


            if ($('#Squad')[0].files[0] != undefined) {
                fd.append('Squad', files16);
            }

            if ($('#LocationMap')[0].files[0] != undefined) {
                fd.append('LocationMap', files15);
            }

            if ($('#CareersImage')[0].files[0] != undefined) {
                fd.append('CareersImage', files1);
                // pagecontent = pagecontent.replace("/HomeImages/CareersImage.svg", "/PreviewImages/CareersImage.svg");
            }
            if ($('#KickStartImage')[0].files[0] != undefined) {
                fd.append('KickStartImage', files2);
                // pagecontent = pagecontent.replace("/HomeImages/KickStartImage.png", "/PreviewImages/KickStartImage.png");
            }

            if ($('#ProductDevelopment')[0].files[0] != undefined) {
                fd.append('ProductDevelopment', files4);
                // pagecontent = pagecontent.replace("/HomeImages/ProductDevelopment.png", "/PreviewImages/ProductDevelopment.png");
            }

            if ($('#AudioProduction')[0].files[0] != undefined) {
                fd.append('AudioProduction', files6);
                // pagecontent = pagecontent.replace("/HomeImages/AudioProduction.png", "/PreviewImages/AudioProduction.png");
            }

            if ($('#Localization')[0].files[0] != undefined) {
                fd.append('Localization', files8);
                // pagecontent = pagecontent.replace("/HomeImages/Localization.png", "/PreviewImages/Localization.png");
            }

            if ($('#QualityAssurance')[0].files[0] != undefined) {
                fd.append('QualityAssurance', files10);
                // pagecontent = pagecontent.replace("/HomeImages/QualityAssurance.png", "/PreviewImages/QualityAssurance.png");
            }

            if ($('#CustomerExperience')[0].files[0] != undefined) {
                 fd.append('CustomerExperience', files12);
                // pagecontent = pagecontent.replace("/HomeImages/CustomerExperience.png", "/PreviewImages/CustomerExperience.png");
            }
            if ($('#PageBackgroundImage')[0].files[0] != undefined) {
                 fd.append('PageBackgroundImage', files13);
                // pagecontent = pagecontent.replace("/HomeImages/PageBackgroundImage.png", "/PreviewImages/PageBackgroundImage.png");
            }
            if ($('#Frame')[0].files[0] != undefined) {
                 fd.append('Frame', files14);
                // pagecontent = pagecontent.replace("/HomeImages/Frame.svg", "/PreviewImages/Frame.svg");
            }

            //fd.append('Description', $("#Description").val());
            fd.append('Description', pagecontent);
            fd.append('MetaUrl', $("#MetaUrl").val());
            fd.append('MetaTitle', $("#MetaTitle").val());
            fd.append('MetaDescription', $("#MetaDescription").val());
            fd.append('ModuleId', 3);
            fd.append('LanguageCode', $("#Languages").children("option:selected").val());
            fd.append('SectionId', $("#SectionList").children("option:selected").val());
            console.log(fd);

            $.ajax({
                type: "POST",
                url: '@Url.Action("PreviewHome", "Home")',
                data: fd,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result == 'Logout') {
                        window.location = '../Logout';
                    }
                    var Url = "../Preview/PreviewPage?ModuleId=" + 3 + "&LanguageCode=" + $("#Languages").children("option:selected").val() + "&SectionId=" + $("#SectionList").children("option:selected").val() +"";

                    if (result === 1) {
                        window.open(Url, "_blank");
                    }
                },
                error: function (err) {
                    if (err.status === 0) {
                        window.location = '../Logout';
                    }
                    $("#PostBackMsg").fadeOut("slow");
                }
            });

        }
        else {
            AlertMessage('growl-danger', 'Validation', "Please select any Language", false, 3000);
        }
       // }
    }

    function Validate() {

        var flag = 0;
        var errorMeaasage = "";

        if ($("#NewsTitle").val() == "") {
            errorMeaasage = errorMeaasage + "please Enter NewsTitle </br>";
            flag = 1;
        }

        if ($("#UrlTitle").val() == "") {
            errorMeaasage = errorMeaasage + "please Enter UrlTitle </br>";
            flag = 1;
        }
        if ($("#PublishedDate").val() == "") {
            errorMeaasage = errorMeaasage + "please select PublishedDate </br>";
            flag = 1;
        }

        if ($('#Description').summernote('code') == "" || $('#Description').summernote('code') == "<p><br></p>") {
            errorMeaasage = errorMeaasage + "please enter Description </br>";
            // $("#lblsummernote").text("please enter Description");
            flag = 1;
        }

        if ($("#Topic").val() == "") {
            errorMeaasage = errorMeaasage + "please Enter Topic </br>";
            flag = 1;
        }

        if ($("#EventStartDate").val() == "") {
            errorMeaasage = errorMeaasage + "please select EventStartDate </br>";
            flag = 1;
        }
        if ($("#EventEndDate").val() == "") {
            errorMeaasage = errorMeaasage + "please select EventEndDate </br>";
            flag = 1;
        }

        if (($("#HeaderImage").val() == "" || $("#HeaderImage").val() == undefined) ||
            ($("#LongerImage").val() == "" || $("#LongerImage").val() == undefined) ||
            ($("#ShorterImage").val() == "" || $("#ShorterImage").val() == undefined)) {
            errorMeaasage = errorMeaasage + "please Upload Image </br>";
            flag = 1;
        }


        if (flag > 0) {
            var errmsg = errorMeaasage;
            AlertMessage('growl-danger', 'Validation', errmsg, false, 3000);
            return false;
        }
        else {
            return true;
        }
    }


    function GetContent() {

        if ($("#Languages").children("option:selected").val() != "" && $("#Languages").children("option:selected").val() != undefined && $("#Languages").children("option:selected").val() != "Please select") {
            $("#PostBackMsg").show();
            $('#Description').summernote('code', '');
            GetSectionList();
            //$('.imageShow').css("display", "block");
            //console.log($("#LanguageCode").children("option:selected").val());
            //$.ajax({
            //    type: "GET",
            //    url: '../Home/GetContent?ModuleId=' + 3 + '&LanguageCode=' + $("#Languages").children("option:selected").val() + '',
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json",
            //    success: function (result) {

            //        console.log(result);

            //        if (result == 'Logout') {
            //            window.location = '../Logout';
            //        }
            //        console.log(result);

            //        if (result != null) {
            //            $('#Description').summernote('code', result.HtmlContent);
            //            $('#MetaDescription').val(result.MetaDescription);
            //            $('#MetaTitle').val(result.MetaTitle);
            //            $('#MetaUrl').val(result.MetaUrl);
            //        }


            //        $("#PostBackMsg").fadeOut("slow");
            //    },

            //    error: function (err) {
            //        if (err.status === 0) {
            //            window.location = '../Logout';
            //        }
            //        $("#PostBackMsg").fadeOut("slow");
            //    }
            //});

           
        }
        else {
            $('.imageShow').css("display", "none");
            $('#Description').summernote('code', '');
            $('#MetaDescription').val('');
            $('#MetaTitle').val('');
            $('#MetaUrl').val('');
        }
    }


    function AlertMessage(class_name, title, alert, boolstick, timesec) {
        jQuery.gritter.add({
            title: title,
            text: alert,
            class_name: class_name,
            image: '',
            sticky: boolstick,
            time: timesec,
            before_open: function () {
                $('.gritter-item-wrapper').remove();
            }
        });
        return false;
    }

    function readURL(input, imgId) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#' + imgId + 'Img').attr('src', e.target.result);
                //var path = $('#' + imgId + '_a').attr('href');

               // $('#' + imgId + '_a').attr("href", path.replace("HomeImages","PreviewImages"));
            }
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    function BackUpCode() {

        $.ajax({
            type: "GET",
            url: '../DownloadBackup?ModuleId=' + 3 + '&LanguageCode=' + $("#Languages").children("option:selected").val() + '&SectionId=' + $("#SectionList").children("option:selected").val() + '&fileName=' + $("#SectionList").children("option:selected").text() + '',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                
                console.log(result);

                if (result == 'Logout') {
                    window.location = '../Logout';
                }
                console.log(result);

                if (result != null) {
                    $('#donwloadFile').attr('href', '../images/Homepage/Backup/'+result);

                    $('#donwloadFile')[0].click();
                }


                $("#PostBackMsg").fadeOut("slow");
            },

            error: function (err) {
                if (err.status === 0) {
                    window.location = '../Logout';
                }
                $("#PostBackMsg").fadeOut("slow");
            }
        });


    }

    function GetSectionList() {

        $.ajax({
            type: "GET",
            url: '../GetSections?ModuleId=' + 3 + '&LanguageCode=' + $("#Languages").children("option:selected").val() + '',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                if (result == 'Logout') {
                    window.location = '../Logout';
                }

                if (result != null) {
                    $('#SectionList').html('');
                    for (var i = 0; i < result.length; i++) {
                        if (i==0) {
                            $('#SectionList').append(new Option("Please select", ""));
                        }
                        
                        $('#SectionList').append(new Option(result[i].SectionName, result[i].SectionId));
                    }

                }

                $("#PostBackMsg").fadeOut("slow");
            },

            error: function (err) {
                if (err.status === 0) {
                    window.location = '../Logout';
                }
                $("#PostBackMsg").fadeOut("slow");
            }
        });

    }

    function GetSectionContent() {
        
        if ($("#Languages").children("option:selected").val() != "" && $("#Languages").children("option:selected").val() != "Please select") {
            if ($("#SectionList").children("option:selected").val() == "1") {
                $('.section1').css("display", "block");
                $('.section2').css("display", "none");
                $('.section3').css("display", "none");
                $('.section4').css("display", "none");
                $('.section5').css("display", "none");
                $('.section6').css("display", "none");
                $('.serviceSection').css("border", "2px solid");
                $('.frameBorder').css("border", "none");
            }
            else if ($("#SectionList").children("option:selected").val() == "2") {
                $('.section2').css("display", "block");
                $('.section1').css("display", "none");
                $('.section3').css("display", "none");
                $('.section4').css("display", "none");
                $('.section5').css("display", "none");
                $('.section6').css("display", "none");
                $('.serviceSection').css("border", "none");
                $('.frameBorder').css("border", "none");
            }
            else if ($("#SectionList").children("option:selected").val() == "4") {
                $('.section1').css("display", "none");
                $('.section2').css("display", "none");
                $('.section3').css("display", "none");
                $('.section5').css("display", "none");
                $('.section6').css("display", "none");
                $('.section4').css("display", "block");
                $('.serviceSection').css("border", "none");
                $('.frameBorder').css("border", "none");
            }
            else if ($("#SectionList").children("option:selected").val() == "5") {
                $('.section1').css("display", "none");
                $('.section2').css("display", "none");
                $('.section3').css("display", "none");
                $('.section4').css("display", "none");
                $('.section6').css("display", "none");
                $('.section5').css("display", "block");
                $('.serviceSection').css("border", "none");
                $('.frameBorder').css("border", "none");
            }
            else if ($("#SectionList").children("option:selected").val() == "3") {
                $('.section1').css("display", "none");
                $('.section2').css("display", "none");
                $('.section3').css("display", "block");
                $('.section4').css("display", "none");
                $('.section6').css("display", "none");
                $('.section5').css("display", "none");
                $('.serviceSection').css("border", "none");
                $('.frameBorder').css("border", "2px solid #999");
            }
            //else if ($("#SectionList").children("option:selected").val() == "5") {
            //    $('.section1').css("display", "none");
            //    $('.section2').css("display", "none");
            //    $('.section4').css("display", "none");
            //    $('.section5').css("display", "none");
            //    $('.section6').css("display", "block");
            //    $('.serviceSection').css("border", "none");
            //}
            $("#PostBackMsg").show();
            $('#Description').summernote('code', '');
            $('.imageShow').css("display", "block");
            console.log($("#LanguageCode").children("option:selected").val());
            $.ajax({
                type: "GET",
                url: '../GetSubContent?ModuleId=' + 3 + '&LanguageCode=' + $("#Languages").children("option:selected").val() + '&SectionId=' + $("#SectionList").children("option:selected").val() + '',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    console.log(result);

                    if (result == 'Logout') {
                        window.location = '../Logout';
                    }
                    console.log(result);

                    if (result != null) {
                        $('#Description').summernote('code', result);
                        //$('#MetaDescription').val(result.MetaDescription);
                        //$('#MetaTitle').val(result.MetaTitle);
                        //$('#MetaUrl').val(result.MetaUrl);
                    }


                    $("#PostBackMsg").fadeOut("slow");
                },

                error: function (err) {
                    if (err.status === 0) {
                        window.location = '../Logout';
                    }
                    $("#PostBackMsg").fadeOut("slow");
                }
            });
        }
        else {
            $('.imageShow').css("display", "none");
            $('#Description').summernote('code', '');
            $('#MetaDescription').val('');
            $('#MetaTitle').val('');
            $('#MetaUrl').val('');
        }
    }

    function GetSEODetails() {
        
        if ($("#Languages").children("option:selected").val() != "" && $("#Languages").children("option:selected").val() != "Please select") {

            if ($("#SectionList").children("option:selected").val() != "" && $("#SectionList").children("option:selected").val() != "Please select") {
                if ($("#SectionList").children("option:selected").val() == "6") {
                    $('.section1').css("display", "none");
                    $('.section2').css("display", "none");
                    $('.section3').css("display", "none");
                    $('.section4').css("display", "none");
                    $('.section5').css("display", "none");
                    $('.section6').css("display", "block");
                    $('.serviceSection').css("border", "none");
                    $('.frameBorder').css("border", "none");
                }
            $("#PostBackMsg").show();
            $('#Description').summernote('code', '');
            $('.imageShow').css("display", "block");
                console.log($("#Languages").children("option:selected").val());
            $.ajax({
                type: "GET",
                url: '../GetSEODetails?ModuleId=' + 3 + '&LanguageCode=' + $("#Languages").children("option:selected").val() + '&SectionId=' + $("#SectionList").children("option:selected").val() + '',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    console.log(result);

                    if (result == 'Logout') {
                        window.location = '../Logout';
                    }
                    console.log(result);

                    if (result != null) {
                        $('#Description').summernote('code', result);
                        //$('#MetaDescription').val(result.MetaDescription);
                        //$('#MetaTitle').val(result.MetaTitle);
                        //$('#MetaUrl').val(result.MetaUrl);
                    }


                    $("#PostBackMsg").fadeOut("slow");
                },

                error: function (err) {
                    if (err.status === 0) {
                        window.location = '../Logout';
                    }
                    $("#PostBackMsg").fadeOut("slow");
                }
            });

            }
        }
        else {
            $('.imageShow').css("display", "none");
            $('#Description').summernote('code', '');
            $('#MetaDescription').val('');
            $('#MetaTitle').val('');
            $('#MetaUrl').val('');
        }
    }

    function GetSectionDescription() {
        
        if ($("#Languages").children("option:selected").val() != "" && $("#Languages").children("option:selected").val() != "Please select") {
            if ($("#SectionList").children("option:selected").val() != "" && $("#SectionList").children("option:selected").val() != "Please select") {
                if ($("#SectionList").children("option:selected").val()!="6") {
                    GetSectionContent();
                }
                else {
                    GetSEODetails();
                }
            }
            else {
                AlertMessage('growl-danger', 'Validation', "Please select any section", false, 3000);

            }
        }
        else {
            AlertMessage('growl-danger', 'Validation', "Please select any Language", false, 3000);
        }
    }

</script>



