
@font-face {
    font-family: 'nunito';
    src: url('../Fonts/fonts/nunito-sans.semibold.ttf'); /* IE9 Compat Modes */
   
  }
@font-face {
    font-family: 'Poppins';
    src: url('../Fonts/fonts/Poppins-Black.ttf');
}
@font-face {
    font-family: 'Nunito-sans';
    src: url('../Fonts/fonts/NunitoSans-Black.ttf');
}
@font-face {
    font-family: 'Poppons-Bold';
    src: url('../Fonts/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'Nunito-Bold';
    src: url('../Fonts/fonts/NunitoSans-Bold.ttf');
}
@font-face {
    font-family: 'Nunito-regular';
    src: url('../Fonts/fonts/NunitoSans-Regular.ttf');
}
@font-face {
    font-family: 'Popins-regular';
    src: url('../Fonts/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Proxima';
    src: url('../Fonts/fonts/proxima bold/Proxima Nova Bold.ott');
}


.about_bg {
    /* The image used */
    /* background-image: url("../Images/New_UI/ABOUT/bg.png"); */
    /* Half height */
    height: 100%;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: contain;
}

.about .coloredBg {
    /* background: url("../Images/New_UI/ABOUT/Union_prod.png"); */
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-color: #fff;
}


.grid {
    position: relative;
    display: flex;
    margin: 0px 14%;
    padding: 1em 0 4em;
    /* max-width: 100%; */
    list-style: none;
    text-align: center;
}

    /* Common style */
    .grid figure {
        position: relative;
        float: r;
        overflow: hidden;
        margin: 10px 6%;
        /* min-width: 320px; */
        max-width: 378px;
        max-height: 100%;
        width: 50%;
        /* background: #3085a3; */
        text-align: center;
        cursor: pointer;
        border: 3px solid #F47F2C;
        box-shadow: 3px 3px 20px #00000091;
    }

        .grid figure img {
            position: relative;
            display: block;
            min-height: 100%;
            max-width: 100%;
     
        }

        .grid figure figcaption {
            padding: 2em;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.25em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

            .grid figure figcaption::before,
            .grid figure figcaption::after {
                pointer-events: none;
            }

            .grid figure figcaption,
            .grid figure figcaption > a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

                /* Anchor will cover the whole item by default */
                /* For some effects it will show as a button */
                .grid figure figcaption > a {
                    z-index: 1000;
                    text-indent: 200%;
                    white-space: nowrap;
                    font-size: 0;
                    opacity: 0;
                }

        .grid figure h2 {
            word-spacing: -0.15em;
            font-weight: 300;
        }

            .grid figure h2 span {
                font-weight: 800;
            }

        .grid figure h2,
        .grid figure p {
            margin: 0;
        }

        .grid figure p {
            letter-spacing: 1px;
            font-size: 68.5%;
        }

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 0%);
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 0%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #484c61;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
    color: #fff;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.about .coloredTitle {
    top: 35%;
}

.about_box {
    padding: 58px;
}
@media (max-width:1300px) {


    .navbar-nav li {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width:1250px) {
    .navbar-nav li {
        margin-left: 5px;
        margin-right: 5px;
    }
}


@media (max-width:1200px) {
}


@media (max-width:1100px) {
    .navbar-nav li {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .about_bg {
        /* The image used */
        background-image: url("../Images/New_UI/ABOUT/mob_bg.png") !important;
        /* Half height */
        height: 100%;
        /* Center and scale the image nicely */
        background-repeat: no-repeat;
        background-size: 100% !important;
    }

    .mob_about .home-text {
        font-size: 3rem;
    padding: 0 80px;
        text-align: center;
        white-space: normal;
        margin-top: 100%;
        margin-bottom: 70px;
        /* line-height: 58px; */
    }

    .mob_about .home-text p{
        line-height: 34px;

    }

    .about_box {
        padding: 0px;
    }

    .abt_txt {
        text-align: center;
    }

    .grid {

        display:block;
        padding:0px;
    }
        .grid figure{
            width:100%;
        }
    .coloredBg .coloredTitle {
        font-size: 19px;
        max-width: 100%;
    }
    }