
@font-face {
    font-family: 'nunito';
    src: url('../Fonts/fonts/nunito-sans.semibold.ttf'); /* IE9 Compat Modes */
   
  }
@font-face {
    font-family: 'Poppins';
    src: url('../Fonts/fonts/Poppins-Black.ttf');
}
@font-face {
    font-family: 'Nunito-sans';
    src: url('../Fonts/fonts/NunitoSans-Black.ttf');
}
@font-face {
    font-family: 'Poppons-Bold';
    src: url('../Fonts/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'Nunito-Bold';
    src: url('../Fonts/fonts/NunitoSans-Bold.ttf');
}
@font-face {
    font-family: 'Nunito-regular';
    src: url('../Fonts/fonts/NunitoSans-Regular.ttf');
}
@font-face {
    font-family: 'Proxima';
    src: url('../Fonts/fonts/proxima bold/Proxima Nova Bold.otf') format('opentype');
  
}


.bg_audio {
    /* The image used */
    background-image: url("../Images/New_UI/audio_prod/audio_prodbg.png");
    /* Half height */
    height: 100%;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.audio-prod.sub-bg {
    background-image: url("/images/New_UI/audio_prod/sub_bg.png") !important;
    display: flex;
    height: unset;
    align-items: center;
    justify-content: space-around;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: #fff;
}
.qa-wraptxt.the-best h2 {
    color: #48D63F;
    font-family: 'Nunito-sans';
    font-size: 40px;
}
.qa-wraptxt.the-best p {
    color: #1F1F24;
    opacity: 0.7;
    font-family: 'Nunito-sans';
}
.mSec-part {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.audio-prod.sub-bg .mSec .num {
    font-size: 50px;
    font-family: 'Nunito-sans';
    margin-bottom: 5px;
}

.audio-prod.sub-bg .mSec {
    text-align: center;
}
.audio-prod .ReadMeBtn {
    color: #2BBA21;
    border: 3px solid #2bba21;
}
.audio-prod .ReadMeBtn:before {
    content: '';
    width: 21px;
    height: 20px;
    background: #fff;
    border: 3px solid #2bba21;
    transform: rotate(136deg);
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    top: -11px;
    right: -13px;
}
    .audio-prod .ReadMeBtn:hover {
        background: #2BBA21;
        color: white;
        text-decoration: none;
    }

.audio-prod.ReadMeBtn {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #EE6E03;
    margin: 20px;
    position: relative;
    color: #EE6E03;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: 'Nunito-sans';
}
.audio-prod .visit-site {
    color: #2BBA21;
    border: 3px solid #2bba21;
}
    .audio-prod .visit-site:before {
        content: '';
        width: 21px;
        height: 20px;
        background: #fff;
        border: 3px solid #2bba21;
        transform: rotate(136deg);
        position: absolute;
        border-top: 0;
        border-left: 0;
        border-bottom: 0;
        top: -11px;
        right: -13px;
    }
    .audio-prod .visit-site:hover {
        background: #2BBA21;
        color: white;
        text-decoration: none;
    }
.how-we-work .techDiv p {
    color: #31C426;
    text-align: center;
    font-size: 30px;
    font-family: 'Nunito-sans';
}
.how-we-work h2 {
    color: #31C426;
    font-size: 25px;
    font-family: 'Nunito-sans';
}
.how-we-work p {
    color: #1F1F24;
    opacity: 0.7;
    font-family: 'Nunito-sans';
}
.how-we-work .col-md-4{
    padding-top: 50px;
}
.audio-prod .squaredBorder {
    border: 2px solid #31C426;
    height: 250px;
}
    .audio-prod .squaredBorder::before {
        content: '';
        position: absolute;
        background: url(../Images/New_UI/ProductDev/beforeImg.svg) !important;
        background-size: 100%;
        width: 20%;
        height: 100%;
        background-repeat: no-repeat !important;
        top: -9px;
    }







@media only screen and (min-width: 320px) and (max-width: 576px) {

    .mSec-part {
        display: block;
    }

    .audio-prod.sub-bg .mSec .num {
        font-size: 30px !important;
        margin: 0;
    }

    .audio-prod.sub-bg .mSec .desc {
        font-size: 16px;
    }

    .videoSection.localicon {
        margin-bottom: 20px;
    }

    .ReadMeSection {
        padding: 0;
    }
}