
@font-face {
    font-family: 'nunito';
    src: url('../Fonts/fonts/nunito-sans.semibold.ttf'); /* IE9 Compat Modes */
   
  }
@font-face {
    font-family: 'Poppins';
    src: url('../Fonts/fonts/Poppins-Black.ttf');
}
@font-face {
    font-family: 'Nunito-sans';
    src: url('../Fonts/fonts/NunitoSans-Black.ttf');
}
@font-face {
    font-family: 'Poppons-Bold';
    src: url('../Fonts/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'Nunito-Bold';
    src: url('../Fonts/fonts/NunitoSans-Bold.ttf');
}
@font-face {
    font-family: 'Nunito-semibold';
    src: url('../Fonts/fonts/NunitoSans-SemiBold.ttf');
}
@font-face {
    font-family: 'Nunito-regular';
    src: url('../Fonts/fonts/NunitoSans-Regular.ttf');
}
@font-face {
    font-family: 'Popins-regular';
    src: url('../Fonts/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Proxima';
    src: url('../Fonts/fonts/proxima bold/Proxima Nova Bold.ott');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../Fonts/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('../Fonts/fonts/Montserrat/Montserrat-Black.ttf');
}

.contact_bg {
    /* The image used */
    background-image: url("../Images/New_UI/ABOUT/bg.png");
    /* Half height */
    height: 100%;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 100px;
}

.about .coloredBg {
    background: url("../Images/New_UI/ABOUT/Union_prod.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-color: #fff;
}


.desc-p{
    color: #000000;
    font-family: Montserrat-Regular;
    padding: 34px;
    margin-top: 58px;
    font-size: 18px;
}
.name {
    color: #000000;
    font-family: Montserrat-Black;
    padding: 34px;
    font-size: 25px;
}

.table {
    font-family: Montserrat-Regular;
    font-size:22px
}

    .table > thead > tr > th {
        font-size: 20px;
        padding: 35px !important;
        font-family: Nunito-semibold;
         font-weight: 400;
         border:none;
    }



.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.table > tbody > tr > td {
    padding: 35px !important;
}

.table-responsive {
    padding: 0px 16%;
    max-height: 548px;
    overflow-x: unset;
}


table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

thead {
    flex: 0 0 auto;
}

tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 385px;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}
select {
    /* styling */
    background-color: white;
    border: none;
   
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

    select.classic {
        border: none;
        background: url(../images/New_UI/tiangle-dd.png) no-repeat center right;
        background-size: 25px 15px;
        width: 200px;
        font-size: 21px;
        /* color: #545452; */
        /* height: 47px; */
        /* border-radius: 7.5px; */
        padding-left: 5px;
      
    }

        select.classic::after{
            border:none;
        }

        .department {
            border: none;
            border-bottom: 2px solid lightgrey;
            text-align: center;
        }

.ddselect::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 1.255em;
    vertical-align: .255em;
    content: "";
    border-top: 0.4em solid #EE6E03;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: 0.4em solid transparent;
}

.ddselect {
    border: none;
    background: transparent;
    font-size: 25px;
    font-family: Nunito-semibold;
    font-weight: 300;
}
.text-careers {
    margin-top: 25%;
}


    .text-careers p {
        font-family: Nunito-sans;
        font-size: 80px;
        text-shadow: 0px 0px 10px #000000B0;
        text-transform: uppercase;
        letter-spacing: 0px;
        margin-bottom: 30px;
    }

    .text-careers .squad-car {
        color: #2B2C3A;
        font-size: 8rem;
        line-height: 20px;
    }

.career {
    font-family: Montserrat-Black;
}

.carrer-search {
    border-color: #EE6E03;
    background-color: #EE6E03;
    color: #fff;
    clip-path: polygon( 0% 0%, /* top left */ 0% 0%, /* top left */ 100% 0%, /* top right */ 90% 0, /* top right */ 100% 20%, /* bottom right */ 100% 100%, /* bottom right */ 0% 100%, /* bottom left */ 0% 100% /* bottom left */ );
        font-family: 'Nunito-regular';
        font-weight: 500;
        font-size: 15px;
    }

.input-group .form-control {
    padding: 23px;
    margin-bottom: 0;
    border: 2px solid #EE6E03;
}
/* Contact and Location CSS*/
.contact_bg {
    /* The image used */
    background-image: url("../Images/New_UI/Contact&Location/bg.png");
    /* Half height */
    height: 100%;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: contain;
}

.cont-header {
    color: #EE6E03;
    font-size: 25px;
    font-family: Nunito-sans;
    padding: 0px 10px 10px;
    border-bottom: 1px solid #707070;
    margin-bottom: 20px;
    margin-top: 50px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 19px solid #EE6E03;
    margin-top: 20px;
}

.location-details {
  
    width: 90%;
    margin: 0px 10%;
}
.fa-map-marker {
    color: #EE6E03;
    font-size: 30px;
    margin: 15px 10px;
}

h4 {
    font-family: Nunito-Bold;
    color: #1F1F24;
}

.loc p {
    font-family: Nunito-Bold;
    color: #1F1F24;
    width: 55%;
    opacity: 0.7;
}

.contact-details .col-md-6,
.contact-details .col-md-12{
    margin-bottom: 20px;
}
.contact-details input {
    background: #fff;
    padding: 10px;
    width: 100%;
    display: block;
    border: unset;
    color: #000;
}
.contact-details input:focus{
    outline: none !important;
}
.contact-details textarea {
    background: #fff;
    padding: 10px;
    width: 100%;
    border: unset;
    color: #000;
}
.contact-details textarea:focus{
    outline: none !important;
}

.contact-details label {
    all: unset;
    color: #fff;
    display: block;
}
    .contact-details label::before,
    .contact-details label::after {
        all: unset;
    }
.get-quote-btn {
    font-family: 'Nunito-regular';
    background: transparent linear-gradient(180deg, #FF7A17 0%, #D85E02 100%);
    padding: 7px 15px;
    border: unset;
    border-radius: 3px;
    color: #fff;
}
.get-quote-btn:focus{
    outline: none !important;
}

.contact.localiz_sub-bg {
    background-image: url("/images/New_UI/Contact&Location/sub_bg.png") !important;
    display: flex;
    height: unset;
    align-items: center;
    justify-content: space-around;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: #fff;
}

.mSec-part {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.contact.localiz_sub-bg .mSec .num {
    font-size: 50px;
    font-family: 'Nunito-sans';
    margin-bottom: 5px;
}

.contact.localiz_sub-bg .mSec {
    text-align: center;
}
    .contact.localiz_sub-bg .mSec .desc {
        font-size: 20px;
    }


/*CUSTOM CHECKBOX*/
.contact-form-group {
    display: block;
    margin-bottom: 15px;
}

    .contact-form-group input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    .contact-form-group label {
        position: relative;
        cursor: pointer;
    }

        .contact-form-group label:before {
            content: '';
            -webkit-appearance: none;
            background-color: transparent;
            border: 2px solid #FF7A17;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 6px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 5px;
        }

    .contact-form-group input:checked + label:after {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 6px;
        width: 3px;
        height: 8px;
        border: solid #FF7A17;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #fff;
}
.sm-border-contact {
    width: 32px;
    border-bottom: 3px solid #1F1F24;
    margin: 0 auto;
}
.contact .ReadMeBtn:hover {
    background: #EE6E03;
    color: white;
    text-decoration: none;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .loc p {
        width: 100%;
    }
}

    @media only screen and (min-width: 320px) and (max-width: 576px) {

        .contact_bg {
            /* The image used */
            background-image: url("../Images/New_UI/Career/mobbg.png");
            /* Half height */
            height: 100%;
            /* Center and scale the image nicely */
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding-bottom: 100px;
        }
        .mSec-part {
            display: block;
        }

        .contact.localiz_sub-bg .mSec .num {
            font-size: 30px !important;
            margin: 0;
        }

        .contact.localiz_sub-bg .mSec .desc {
            font-size: 16px;
        }

        .loc p {
            width: 100%;
        }
        .desc-p {
            font-size: 11px;
        }
        .name {
            font-size: 18px;
            padding-top: 0;
        }
    }