@font-face {
    font-family: 'BebasNeue';
    src: url('../Fonts/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

.lab-bg {
    /* The image used */
    background-image: url("../Images/New_UI/Lab/bg.png");
    /* Half height */
    height: 100%;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: contain;
}


.txt-color {
    color: #F47F2C;
    white-space: nowrap;
}

h6 {
    color: black !important;
    white-space: nowrap;
}

.icons-holder {
    margin: 20px 150px;
    height: 90px;
    align-items: center;
}

    .icons-holder img {
        width: 70% ;
       
    }