/* Loader Start*/

#PostBackMsg, #PostBackMsg-1 {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.6509803921568628);
    z-index: 1001;
}

    #PostBackMsg img, #PostBackMsg-1 img {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        height: auto;
    }

/* Loader End*/
