
@font-face {
    font-family: 'nunito';
    src: url('../fonts/nunito-sans.semibold.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.ttf');
}

@font-face {
    font-family: 'Nunito-sans';
    src: url('../fonts/NunitoSans-Black.ttf');
}

@font-face {
    font-family: 'Poppons-Bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url('../fonts/NunitoSans-Bold.ttf');
}

@font-face {
    font-family: 'Nunito-regular';
    src: url('../fonts/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: 'Popins-regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*img {
    width: 100%;
}*/



.navbar-nav li {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    float: block;
}

.navbar-nav a {
    padding-left: 12px;
    padding-right: 8px;
    color: #fff;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-toggle {
    z-index: 3;
}
    .navbar-toggle .icon-bar {
        background: #fff !important;
    }

.nav-lispace {
    margin-left: 65px;
}





.vericaltext {
    transform: rotate(-90deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    font-family: Poppins; /* this is just for good looks */
}


.wrapper {
    position: fixed;
    width: 250px;
    height: 660px;
    margin: 0px;
}






.deb {
  /*  width: 548px;
    height: 750px;*/
}

.h5txt {
    text-align: center;
    color: #EE6E03;
    font-size: 40px;
    font-family: Nunito-sans;
}

.image1 {
    position: absolute;
    top: 58px;
    left: 53px;
    z-index: 2;
    width: 80%;
}

.image2 {
    width: 166px;
    margin: 40px 5px 85px 64px;
    z-index: 1;
}

.wrap-txt1 {
    position: absolute;
    top: 82px;
    left: 227px;
    padding: 0px 45px 0px;
    color: #2B2C3A;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 26px;
}


.read-morebtn {
    color: #EE6E03;
    border: 1px solid #EE6E03;
    clip-path: polygon( 0% 10px, /* top left */
    10px 0%, /* top left */
    calc(100%) 0%, /* top right */
    100% 0px, /* top right */
    100% calc(100%), /* bottom right */
    calc(100%) 100%, /* bottom right */
    0px 100%, /* bottom left */
    0 calc(100%) /* bottom left */
    );
}


.sub-txt {
    font-family: Nunito-regular;
    font-size: 30px;
    text-shadow: 0px 0px 6px #000000AB;
}

.prod .home-text {
    margin-top: 25%;
}
.map-txt {
    position: absolute;
    left: 10%;
    color: black;
    font-size: 40px;
    font-family: Nunito-sans;
    letter-spacing: 1px;
}

.prod .home-text .servicebg-title {
  
    background: #F1672499;

}
/* Product Development */
.bg-prodDev {
    /*background-image: url("../Images/New_UI/ProductDev/ProdDevBg.png");*/
    height: 90vh;
    background-repeat: no-repeat;
    background-size: 100%;
}

.wordwrapper.prodWrap {
    top: 40%;
}

.prodVision {
    display: flex;
}

    .prodVision p {
        font-size: 25px;
        margin-right: 15px;
        font-family: 'Nunito-sans', 'sans-serif';
        font-weight: 500;
    }

.right-num {
    margin-top: 10%;
    text-align: center;
}

    .right-num span {
        font-family: Poppons-Bold;
        text-align: center;
        text-shadow: 0px 3px 6px #0000008C;
        font-size: 25px;
    }

    .right-num p {
        font-size: 15px;
    }



.prodContent {
    padding-left: 50px;
    padding-right: 50px;
}

.prodDev .stripe p {
    color: #EE6E03;
    font-size: 40px;
    margin: 0px;
    line-height: 44px;
    text-transform: uppercase;
    font-family: Poppons-Bold;
}

.prodDev .stripe_subtxt {
    font-family: Popins-regular !important;
    font-size: 18px !important;
    color: #fff !important;
}


.platformSection {
    margin-bottom: 5rem;
}

    .platformSection p {
        text-align: center;
        color: #FF7A17;
    }

        .platformSection p.title {
            text-align: center;
            font-family: 'Nunito-sans', sans-serif;
            font-size: 25px;
            color: #FF7A17;
            font-weight: 800;
        }

    .platformSection .Allplatforms {
        display: flex;
        align-items: center;
    }

        .platformSection .Allplatforms .platform {
            text-align: center;
          /*  margin: 0 45px;*/
        }

    .platformSection .platform img{
        height: 75px;
        width: 75px;
        margin-bottom: 10px;
        padding: 5px;
    }

    .platformSection .platform .iosPlatform {
        height: 90px;
        width: 100%;
    }

    .platformSection .platform .pcPlatform {
        height: 90px;
        width: 100%;
        object-fit: contain;
    }

.productLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .productLogo .poweredBy {
        color: #1F1F24;
        font-family: 'Nunito-sans';
        opacity: 0.7;
        font-size: 15px;
        font-weight: normal;
    }

    .productLogo img {
        height: 200px;
        object-fit: contain;
    }

.techSection .Alltechs {
    display: flex;
}

    .techSection .Alltechs img {
        height: 50px;
        object-fit: contain;
    }

.techSection p {
    text-align: center;
    font-family: 'Nunito-Sans', sans-serif;
    font-size: 25px;
    color: #FF7A17;
    font-weight: 800;
}
.portText p.head {
    color: #FF7A17;
    font-family: 'Nunito-Sans', sans-serif;
    font-size: 30px;
    display: inline-block;
    position: relative;
}
    .portText p.head::after {
        position: absolute;
        content: '';
        border-bottom: 3px solid black;
        width: 20px;
        left: 45%;
        bottom: 0;
    }
.portText p.sub {
    color: #1F1F24;
    opacity: 0.7;
    font-family: 'Nunito-Sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.squaredBorder {
    border: 2px solid #FF7A17;
    height: 300px;
}

.videoSection {
    position: relative;
}

.prod .squaredBorder::before {
    content: '';
    position: absolute;
    background: url("../Images/New_UI/ProductDev/beforeImg.png");
    background-size: 100%;
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    top: -12px;
}

.coloredBg {
    background: url("../Images/New_UI/ProductDev/Union_prod.png");
    display: flex !important;
    height: unset;
    align-items: center;
    justify-content: space-around;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: #fff;
}
.mSec-part {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
    .coloredBg .mSec .num {
        font-size: 50px;
        font-family: 'Nunito-sans';
        margin-bottom: 5px;
    }
.coloredBg .mSec {
    text-align: center;
}
.coloredBg .coloredTitle {
    font-size: 25px;
    color: #FFFFFF;
    font-family: 'Nunito-sans';
    font-weight: bold;
    position: relative;
    top: 15%;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
}
.coloredBg .mSec .desc {
    font-size: 20px;
}

    .coloredBg .coloredList p {
        font-size: 28px;
        color: #ffff;
        opacity: 0.6;
    }


    .coloredBg .coloredList {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 30%;
    }

/* Animation Section */

.d-flex {
    display: flex;
}

.animBtn {
    border: 2px solid #F47F2C;
    position: relative;
}

    .animBtn img {
        height: 120px;
    }

.animBtn p {
    max-width: 50%;
    margin-bottom: 0;
    padding: 10px;
}


    .squaredDiv:hover:before {
        -webkit-transition: left 0.5s ease-in-out;
        left: 72%;
    }

    .squaredDiv:hover:after {
        -webkit-transition: right 0.5s ease-in-out;
        right: 75%;
    }


.MoreDiv {
    position: absolute;
    top: 75%;
    right: 10px;
    display: none;
}

    .MoreDiv p {
        font-size: 10px;
        color: #F47F2C;
    }

.squaredDiv:hover .MoreDiv {
    display: block;
}


/* End Animation Section */

/* End Product Development */


@media (max-width:1400px) {
    .platformSection .Allplatforms .platform{
       /* margin: 0 20px;*/
    }

    .platformSection .platform .iosPlatform {
        height: 75px;
        width: 100%;
        object-fit: contain;
    }

    .platformSection .platform .pcPlatform {
        height: 75px;
        width: 100%;
        object-fit: contain;
    }

    .platformSection .platform img {
        height: 75px;
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        object-fit: contain;
    }
}

@media (max-width:1300px) {

    .navbar-nav li {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width:1250px) {
    .navbar-nav li {
        margin-left: 5px;
        margin-right: 5px;
    }
}


@media (max-width:1200px) {
}


@media (max-width:1100px) {
    .navbar-nav li {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px){

}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .platformSection .Allplatforms .platform {
       /* margin: 0px 9px;*/
    }

    .prod .servicebg-title p {
        font-size: 2.5rem;
        line-height: 34px;
    }
    .prod .home-text {
        margin-top: 16%;
    }
    .prodContent {
        padding-left: 35px;
        padding-right: 35px;
    }   
    .bg-prodDev{
        height: 30vh;
    }
    .techSection .Alltechs {
        display: flex;
        overflow: scroll;
        margin-top: 25px;
    }
    .techSection .Alltechs::-webkit-scrollbar{
        display: none;
    }
        .mSec-part {
        display: block;
    }
    .coloredBg .mSec .num {
        font-size: 30px !important;
        margin: 0;
    }
    .coloredBg .mSec .desc {
        font-size: 16px;
    }
    .coloredBg {
        padding: 75px 50px 125px;
    }
    .portText {
        text-align: center;
        margin-bottom: 30px;
    }
    .squaredBorder::before {
        top: -7px;
    }
    .prodContent .column-reverse{
        flex-direction: column-reverse;
    }
    .prodContent .portText.live-ops {
        text-align: left;
    }
    .prodContent .portText.live-ops p.head {
        display: flex;
        justify-content: center;
    }
    .portText p.head {
        font-size: 25px;
    }
    .portText p.sub {
        font-size: 12px;
    }
    .prodDev .stripe p {
        font-size: 30px;
        line-height: 32px;
    }
    .stripe_subtxt {
        font-family: Popins-regular !important;
        font-size: 15px !important;
    }

}

