@model PTW.DataAccess.Models.MasterPage
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "GetServicecontent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/CSS/videobackground.css" />
<link rel="stylesheet" href="/CSS/animate.min.css" />
<link rel="stylesheet" href="/CSS/clean-blog.min.css" />
<link rel="stylesheet" href="/CSS/custom.css" />

<h2>GetServicecontent</h2>

<script type="text/javascript">
    import { Session } from "inspector";

    $(document).ready(function () {

    });

</script>

@Html.Raw(Model.HtmlContent)

        $("#Languages").val(lan);

