@model PTW.DataAccess.Models.MasterPage
@{
    Layout = "_Layout";
    ViewData["Title"] = " ";
}
@Html.Raw(Model.HtmlContent)



@*
    <div class="container_div bg_LocalozationQA" style="background-image: url(../images/LocalizationQA/Local/LocalizatonQAHearder.png);">
        <div class="row">
            <div class="col-md-1">
                <div class="wrapper">
                    <div class="line"></div>
                    <div class="wordwrapper">
                        <p class="vericaltext">
                            SERVICES
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="home-text">
                    <div>
                        <img style="width:100px " src="../images/LocalizationQA/Local/L-RUNE.png" alt="L-RUNE" />
                    </div>
                    <p>LOCALIZATION QA</p>
                </div>
                <p class="sub-txt">Protect your players against language-related bugs and defects</p>
            </div>
            <div class="col-md-4 left-num col-sm-block d-none">
                <div>
                    <span class="">38+</span>
                    <p>Languages</p>
                </div>
                <div class="mt-5">
                    <span>220+</span>
                    <p>Unique voice cast</p>
                </div>
                <div class="mt-5">
                    <span>22 Mn+</span>
                    <p>Words Recorded</p>
                </div>
                <div class="mt-5">
                    <span>9 Yrs</span>
                    <p>Experience</p>
                </div>
            </div>
        </div>


    </div>


    <div class="row mx-0 justify-content-center mt-5">
        <div class="col-lg-4 col-md-6">
            <div class="qa-wraptxt">
                <img style=" width: 100px;" src="../images/LocalizationQA/Local/LinguisticTesting.svg" />
                <p style="color: #5B7CDB; font-size: 21px; padding: 10px;"> Linguistic Testing   </p>
                <p>
                    Verify the accuracy of your translations. Our native-language testers play through your game to check the functionality and implementation of all audio-visual content in each localized language.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="qa-wraptxt Linguistic">
                <img style=" width: 100px;" src="../images/LocalizationQA/Local/LinguisticCertification.svg" />
                <p style="color: #5B7CDB; font-size: 21px; padding: 10px;"> Linguistic Certification</p>
                <p>
                    Meet the official content requirements of any country. Our localization compliance testing verifies hardware manufacturer terminology and naming conventions on all platforms through a comprehensive test case library.
                </p>
            </div>
        </div>
    </div>



    <div class="localization_QA localiz_sub-bg">
        <div class="mSec-part">
            <div class="mSec">
                <p class="num">38+</p>
                <p class="desc">Languages</p>
            </div>

            <div class="mSec">
                <p class="num">220+</p>
                <p class="desc">Experience</p>
            </div>
        </div>
        <div class="mSec-part">
            <div class="mSec">
                <p class="num">22 Mn+</p>
                <p class="desc">Words Recorded</p>
            </div>

            <div class="mSec">
                <p class="num">9 Yrs</p>
                <p class="desc">Experience</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5 mb-3 ml-3">

        <p style="color: #5B7CDB; font-size: 35px;">HOW WE WORK?</p>


    </div>
    <div class="row mx-5 justify-content-center column-reverse-sm">
        <div class="col-md-4">
            <div>
                <div class="list_num-local d-flex align-items-center">
                    <div class="circle-number">1</div>
                    <p class="m-0">Project Preparation of schedule and a test plan.</p>
                </div>
                <div class="list_num-local d-flex align-items-center">
                    <div class="circle-number">2</div>
                    <p class="m-0">Tester Preparation</p>
                </div>
                <div class="list_num-local d-flex align-items-center">
                    <div class="circle-number">3</div>
                    <p class="m-0">Testing</p>
                </div>
                <div class="list_num-local d-flex align-items-center">
                    <div class="circle-number">4</div>
                    <p class="m-0">Implementation</p>
                </div>
            </div>

        </div>
        <div class="col-md-6">

            <div class="videoSection localiconQA">
                <div class="squaredBorder"> </div>
            </div>

        </div>
    </div>

    <div class="mt-5 localizationQA row justify-content-center">
        <h5 class="prod5txt">HELPFUL LINKS</h5>
        <div class="row helpfulDivs">
            <div class="">
                <div class="localization_qa animationDiv">
                    <img class="btnImage" src="../images/New_UI/pic1.png">

                    <div class="squaredDiv">
                        <div class="squaredText">
                            <p>How to manage your users on mobile devices</p>
                        </div>
                        <div class="MoreDiv">
                            <p>More..</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="">
                <div class="localization_qa animationDiv">
                    <img class="btnImage" src="../Images/New_UI/pic2.png">

                    <div class="squaredDiv">
                        <div class="squaredText">
                            <p>How to build a localization strategy</p>
                        </div>
                        <div class="MoreDiv">
                            <p>More..</p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="">
                <div class="localization_qa animationDiv">
                    <img class="btnImage" src="../Images/New_UI/pic3.png">

                    <div class="squaredDiv">
                        <div class="squaredText">
                            <p>Building your first open world game</p>
                        </div>
                        <div class="MoreDiv">
                            <p>More..</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="ReadMeSection localizationQA mt-5">
                <a href="#" class="btn ReadMeBtn">Read More</a>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="stripe">
            <p class="d-sm-block d-none" style="color: #5B7CDB">Speak to PTW now, in any language</p>
            <p style="color: #5B7CDB" class="d-sm-none d-block">SHOUT OUT!</p>
            <p class="stripe_subtxt d-sm-none d-block">Get in touch with us</p>
        </div>
    </div>


    <!-- Footer -->
    <section class=" position-relative  footer-LocalizationQA">

        <footer class="text-white d-sm-block d-none">
            <div class="row no-padding">
                <div class="col-md-3 col-sm-3    footer-info footer-font f1">
                    <div class="mb-3 p-3 pl-5"> <img style="width: 45%;" src="../images/Logo/PTW.svg" /></div>
                    <div style="opacity: .4; margin-left:25px">Follow us</div>
                    <div class="pull-xs-right d-flex nav navbar-nav navbar-toggleable-sm pl-4" style=" flex-direction: row;">
                        <div class="nav-item"><a href="https://twitter.com/PTW" target="_blank" rel="noopener noreferrer" class="twitter nav-link" title="Twitter" style="color: rgb(255, 255, 255);"><i class="fa fa-twitter"></i><span class="m-l-20"></span></a></div>
                        <div class="nav-item"><a href="https://www.facebook.com/PTWintl/" target="_blank" rel="noopener noreferrer" class="facebook nav-link" title="Facebook" style="color: rgb(255, 255, 255);"><i class="fa fa-facebook"></i><span class="m-l-20"></span></a></div>
                        <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-linkedin-square"></i><span class="m-l-20"></span></a></div>
                        <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-instagram"></i><span class="m-l-20"></span></a></div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2  footer-info footer-font f1">

                    <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm">
                        <li class="nav-item">
                            <a href="/home" id="Footer1_A1" class="nav-link footer-nav-text" titlevalue="1" style="color: rgb(255, 255, 255);font-size: 15px;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Service" id="Footer1_A2" class="nav-link footer-nav-text" titlevalue="2" style="color: rgb(255, 255, 255);font-size: 15px;">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="about" id="Footer1_A3" class="nav-link footer-nav-text" titlevalue="3" style="color: rgb(255, 255, 255);font-size: 15px;">About</a>
                        </li>

                        <li class="nav-item">
                            <a href="careers" id="Footer1_A5" class="nav-link footer-nav-text" titlevalue="5" style="color: rgb(255, 255, 255);font-size: 15px;">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Contact" id="Footer1_A6" class="nav-link contact footer-nav-text" titlevalue="6" style="color: rgb(255, 255, 255);font-size: 15px;">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="lab" id="Footer1_A7" class="nav-link footer-nav-text" titlevalue="7" style="color: rgb(255, 255, 255);font-size: 15px;">Lab</a>
                        </li>
                    </ul>
                </div>



                <div class="col-md-3 col-sm-3 footer-social footer-font   f3">
                    <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm footer-font" style="flex-direction: column;">
                        <li class="nav-item">
                            <a href="PDF/PTW_New_Website_Terms_of_Usage_2018.pdf" id="Footer1_A8" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255); font-size: 15px;">Website Terms of Usage</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/PTW_Privacy_Policy.pdf" id="Footer1_A9" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/PTW_Modern_Slavery_Statement_2018.pdf" id="Footer1_A18" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Modern Slavery Statement</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/Corporate_Social_Responsibility_V2.pdf" id="Footer1_A21" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">CSR Policy (India)</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/2019_Gender_Pay_Gap_Report.pdf" id="Footer1_A23" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Gender Pay Gap Report</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 col-sm-4">

                    <div class="d-flex justify-content-between">
                        <a href="#" class="mr-4"><img src="../images/Logo/SIDE-foooter-logo.svg" class="mr-2"></a>
                        <a href="#" class="mr-4"><img src="../images/Logo/OR-footer-logo.svg" class="mr-2"></a>
                        <a href="#" class="mr-4"><img src="../images/Logo/entalize-footer-logo.svg" class="mr-2"></a>
                    </div>
                    <div class="iso mt-5 text-right">
                        <img src="../images/Logo/ISO.png" title="ISO 27001" class="no-margin-bottom ml-auto text-white text-center iso-logo">
                    </div>
                </div>

            </div>
        </footer>
        <!--<div class="col-lg-12 col-md-4 col-sm-4 order-lg-6 order-md-6 order-sm-6 order-sx-6 footer-copyright">
                    <p id="Footer1_P5" class="poppins-copyright v-d">Copyright © 2020. All Rights Reserved. Pole To Win International is a group of subsidiaries of <a class="Pitcrew" href="http://www.poletowin-pitcrew-holdings.co.jp/en/" target="_blank" rel="noopener noreferrer">Poletowin Pitcrew Holdings Inc.</a></p>
                </div> -->
        <footer class="text-white d-sm-none d-block">
            <div class="row no-padding">
                <div class="col-xs-6 footer-info footer-font f1">
                    <div>
                        <div class="mb-4 pl-0"> <img style="width: 45%;" src="../images/Logo/PTW.svg" /></div>
                    </div>
                    <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm m-0">
                        <li class="nav-item">
                            <a href="/home" id="Footer1_A1" class="nav-link p-0" titlevalue="1" style="color: rgb(255, 255, 255);font-size: 11px;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Service" id="Footer1_A2" class="nav-link p-0" titlevalue="2" style="color: rgb(255, 255, 255);font-size: 11px;">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="about" id="Footer1_A3" class="nav-link p-0" titlevalue="3" style="color: rgb(255, 255, 255);font-size: 11px;">About</a>
                        </li>

                        <li class="nav-item">
                            <a href="careers" id="Footer1_A5" class="nav-link p-0" titlevalue="5" style="color: rgb(255, 255, 255);font-size: 11px;">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Contact" id="Footer1_A6" class="nav-link p-0 contact" titlevalue="6" style="color: rgb(255, 255, 255);font-size: 11px;">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="lab" id="Footer1_A7" class="nav-link p-0" titlevalue="7" style="color: rgb(255, 255, 255);font-size: 11px;">Lab</a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-6 footer-social footer-font f3">
                    <div style="opacity: .4;">Follow us</div>
                    <div class="pull-xs-right d-flex nav navbar-nav navbar-toggleable-sm pl-4 mb-4 mt-0" style=" flex-direction: row;">
                        <div class="nav-item"><a href="https://twitter.com/PTW" target="_blank" rel="noopener noreferrer" class="twitter nav-link pl-0 pr-0" title="Twitter" style="color: rgb(255, 255, 255);"><i class="fa fa-twitter"></i><span class="m-l-20"></span></a></div>
                        <div class="nav-item"><a href="https://www.facebook.com/PTWintl/" target="_blank" rel="noopener noreferrer" class="facebook nav-link pl-0 pr-0" title="Facebook" style="color: rgb(255, 255, 255);"><i class="fa fa-facebook"></i><span class="m-l-20"></span></a></div>
                        <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link pl-0 pr-0" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-linkedin-square"></i><span class="m-l-20"></span></a></div>
                        <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link pl-0 pr-0" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-instagram"></i><span class="m-l-20"></span></a></div>
                    </div>
                    <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm footer-font m-0">
                        <li class="nav-item">
                            <a href="PDF/PTW_New_Website_Terms_of_Usage_2018.pdf" id="Footer1_A8" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255); font-size: 11px;">Website Terms of Usage</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/PTW_Privacy_Policy.pdf" id="Footer1_A9" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/PTW_Modern_Slavery_Statement_2018.pdf" id="Footer1_A18" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">Modern Slavery Statement</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/Corporate_Social_Responsibility_V2.pdf" id="Footer1_A21" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">CSR Policy (India)</a>
                        </li>
                        <li class="nav-item">
                            <a href="PDF/2019_Gender_Pay_Gap_Report.pdf" id="Footer1_A23" class="nav-link p-0 target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">Gender Pay Gap Report</a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12 mt-5 align-items-center">
                    <div class="d-flex justify-content-between">
                        <a href="#" class="mr-4"><img src="../images/Logo/SIDE-foooter-logo.svg" class="mr-2" style="max-width: 100%"></a>
                        <a href="#" class="mr-4"><img src="../images/Logo/OR-footer-logo.svg" class="mr-2" style="max-width: 100%"></a>
                        <a href="#" class="mr-4"><img src="../images/Logo/entalize-footer-logo.svg" class="mr-2" style="max-width: 100%"></a>
                    </div>
                </div>

                <div class="col-xs-12 d-flex align-items-center">
                    <div class="backtop pull-right" style="">
                        <a href="#top"><img src="../images/up-arrow.png" class="a-to-top"></a>
                    </div>
                    <div class="iso pull-right">
                        <img src="../images/Logo/ISO.png" title="ISO 27001" class="no-margin-bottom text-white text-center iso-logo">
                    </div>
                </div>
            </div>
        </footer>

    </section>

*@