@model PTW.DataAccess.Models.MasterPage
@{
    Layout = "_Layout";
    ViewData["Title"] = " ";
}
@Html.Raw(Model.HtmlContent)

@*
    <div class="container_div  player-support-bg" style="background-image: url(../images/PlayerSupport/PS/PlayerSupportHearder.png);">
        <div class="row   player">
            <div class="col-md-2">

                <div class="wrapper">
                    <div class="line"></div>
                    <div class="wordwrapper">
                        <p class="vericaltext">
                            SERVICES
                        </p>
                    </div>
                </div>
            </div>
            <div class="home-text ">
                <div class="d-flex ">
                    <img style=" width: 130px; z-index: 1;" src="../images/Lab/Assets/RUNES/purple.png" alt="L-RUNE" />
                    <div class="servicebg-title">
                        <p>PLAYER SUPPORT</p>
                        <p class="qa-sub-txt d-none  d-md-block">Love the player. Love the game</p>
                    </div>
                </div>

            </div>


        </div>
        <div style="height:43rem" class="d-sm-none"></div>
        <div style="height:29rem" class="d-none d-md-block"></div>

        <div class="row justify-content-center">
            <div style="text-align:center">
                <p class=" player-txt">ENGAGEMENT CENTER</p>
                <p class="txt-wrap">Players want quick fixes for their problems. Our teams deliver personalized 24/7 support wherever it’s needed, so players stay happy.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="qa-wraptxt">
                    <img style=" width: 20%;" src="../images/PlayerSupport/PS/AnyPlatform.svg" />
                    <p style="color: #8455CE; font-size: 21px; padding: 10px;">Any Platform</p>
                    <p class="txt-wrap">
                        Deliver first-class, 24/7 support across all platforms: console, PC, VR, Mobile, social channels, and more.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="qa-wraptxt">
                    <img style=" width: 20%;" src="../images/PlayerSupport/PS/AnyLanguage.svg" />
                    <p style="color: #8455CE; font-size: 21px; padding: 10px;">Any Language</p>
                    <p class="txt-wrap">
                        Our advisor networks across Asia, Europe, and North America deliver native-language support in 30+ languages.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="qa-wraptxt">
                    <img style=" width: 20%;" src="../images/PlayerSupport/PS/AnyComplexityLevel.svg" />
                    <p style="color: #8455CE; font-size: 21px; padding: 10px;">Any Complexity Level </p>
                    <p class="txt-wrap">
                        Get customized support that ranges from basic queries to advanced development challenges.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="qa-wraptxt">
                    <img style=" width: 20%;" src="../images/PlayerSupport/PS/CompletelyWhiteLebeled.svg" />
                    <p style="color: #8455CE; font-size: 21px; padding: 10px;"> Completely White-Labeled </p>
                    <p class="txt-wrap">
                        We’ll personalize your support, so our teams speak for your brand with your voice and values.
                    </p>
                </div>
            </div>
        </div>


        <div class=" ps-bg d-sm-none d-block pt-5">

            <div class="  text-wrap-qa d-flex mt-5 ">

                <div class="col-sm-2">
                    <p class="fnt-style">38+</p>
                    <p style="font-size:10px">Languages</p>
                </div>
                <div class="col-sm-2">
                    <p class="fnt-style">220+</p>
                    <p style="font-size:10px">Unique voice chat</p>
                </div>
            </div>
            <div class="  text-wrap-qa d-flex">
                <div class="col-sm-4">
                    <p class="fnt-style">22 Mn+</p>
                    <p style="font-size:10px">Words Recorded</p>
                </div>
                <div class="col-sm-6">
                    <p class="fnt-style">9 Yrs</p>
                    <p style="font-size:10px">Experience</p>
                </div>

            </div>


        </div>

        <div class="row justify-content-center">
            <div style="text-align:center">
                <p class=" player-txt">COMUNITY MANAGEMENT</p>
                <p class="txt-wrap">Make your players feel like they belong, and keep them coming back for more.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="qa-wraptxt">
                    <img style=" width: 20%;" src="../images/PlayerSupport/PS/CommunityModeration.svg" />
                    <p style="color: #8455CE; font-size: 21px; padding: 10px;">Community Moderation</p>
                    <p class="txt-wrap">
                        We offset and manage inbound traffic through moderation of customer interactions, posts, and user-generated content with front-line troubleshooting, alerts, and case management.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="qa-wraptxt">
                    <img style=" width: 20%;" src="../images/PlayerSupport/PS/CommunityNature.svg" />
                    <p style="color: #8455CE; font-size: 21px; padding: 10px;">Community Nurture</p>
                    <p class="txt-wrap">
                        We’ll help drive relationship management, content distribution, cross-selling, and custom reporting that supports your retention strategies.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="qa-wraptxt">
                    <img style=" width: 20%;" src="../images/PlayerSupport/PS/CommunityAnalysis.svg" />
                    <p style="color: #8455CE; font-size: 21px; padding: 10px;">Community Analysis</p>
                    <p class="txt-wrap">
                        Our analytics reporting offers regular insights into your customers’ forum and social media activities. We’ll highlight trends and early warnings and offer actionable feedback on inputs and outcomes.
                    </p>
                </div>
            </div>

        </div>



        <div class=" ps-bg">

            <div class="row justify-content-center text-wrap-qa">
                <p>"Even the best planning is not so omniscient as to get it right the first time"</p>
            </div>
            <div class="row d-flex justify-content-between list-qa">
                <p>DEEP SILVER</p>
                <p>EA</p>
                <p>CCP</p>
                <p>BANDAI NAMCO</p>
                <p>SEGA</p>
                <p>SQUARE ENIX</p>
                <p>UBI SOFT</p>
            </div>
        </div>
        <div class="d-none d-md-block">
            <div class="row  p-5 d-flex justify-content-center">

                <p class=" player-txt">Machine Translation for Player Support</p>
                <p class="txt-wrap" style="text-align:center">When it comes to Player Support, the conversation is overwhelmingly about the interface between human and machine support. One way this is currently playing out for us is by using Machine Translation to transmute monolingual agents into multilingual agents. In a world that is better connected than ever, to continually engage customers is becoming increasingly complex, and that complexity is further multiplied by language barriers. Offering multilingual support can be a cost-intensive proposition. But what if a monolingual agent could become multilingual through machine intelligence? This is exactly the turn that machine translation can provide to customer support agents. There are complications to consider, as well as plusses and minuses to using MT to enable multilingual support.</p>

            </div>

            <div style="padding: 100px;">
                <img src="../images/PlayerSupport/PS/MachineTranslationforPlayerSupport.svg" />
            </div>
            <div class="col-md-12">
                <div class="ReadMeSection ps mt-5">
                    <a href="#" class="btn ReadMeBtn">Visit Link</a>
                </div>
            </div>

            <div class="row " style=" padding: 58px;">
                <div class="col-6 p-5 ps">

                    <div class="videoSection localiconQA">
                        <div class="squaredBorder"> </div>
                    </div>

                </div>

                <div class="col-6">
                    <div class="ps ">
                        <p class=" player-txt m-3">The Human Touch</p>
                        <p class="txt-wrap m-3">
                            We have been engaging players across the globe for two decades, and one thing that we firmly believe is that the human soul cannot be replicated by even the best Ai. <br><br /> The future of CX is built on the interface and integration of Machine Learning with human agents; this is one step toward making that possible, feasible, and simple. From what we have seen, a workman is only as good as his tools. In the case of MT-enabled multilingual support, human interaction enables the tech and the tech enables the human.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row " style=" padding: 58px;">


                <div class="col-6">
                    <div class="ps ">
                        <p class=" player-txt">Support, Honed</p>
                        <p class="txt-wrap ">
                            Every player is important, and they all deserve support. Our teams are focused on giving your players the support they need, whenever they need it. <br />But we know that some players invest more time in your game than others and know everything about it. Your most dedicated and knowledgeable players need support quickly, as their issues are getting in the way of their favourite game. Our reactive support teams help to keep those players moving with knowledgeable support, so that nothing gets in the way of their fun.<br /><br /> We match your players’ dedication by going above and beyond, because they would do the same for your game.
                        </p>
                    </div>
                </div>
                <div class="col-6 p-5 ps">

                    <div class="videoSection localiconQA">
                        <div class="squaredBorder"> </div>
                    </div>

                </div>
            </div>


            <div class="row " style=" padding: 58px;">
                <div class="col-6 p-5 ps">

                    <div class="videoSection localiconQA">
                        <div class="squaredBorder"> </div>
                    </div>

                </div>

                <div class="col-6">
                    <div class="ps ">
                        <p class=" player-txt m-3">The Human Touch</p>
                        <p class="txt-wrap m-3">
                            We have been engaging players across the globe for two decades, and one thing that we firmly believe is that the human soul cannot be replicated by even the best Ai. <br><br /> The future of CX is built on the interface and integration of Machine Learning with human agents; this is one step toward making that possible, feasible, and simple. From what we have seen, a workman is only as good as his tools. In the case of MT-enabled multilingual support, human interaction enables the tech and the tech enables the human.
                        </p>
                    </div>
                </div>
            </div>

            <div class="bar">
                <p>Boost your player support and boost your player base.</p>
            </div>
        </div>
        <div class="mt-5 ps row justify-content-center">
            <h5 class="prod5txt" style=" color: #8455CE">HELPFUL LINKS</h5>
            <div class="row helpfulDivs">
                <div class="">
                    <div class="animationDiv">
                        <img class="btnImage" src="../images/New_UI/pic1.png">

                        <div class="squaredDiv">
                            <div class="squaredText">
                                <p>How to manage your users on mobile devices</p>
                            </div>
                            <div class="MoreDiv">
                                <p>More..</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="">
                    <div class="animationDiv">
                        <img class="btnImage" src="../Images/New_UI/pic2.png">

                        <div class="squaredDiv">
                            <div class="squaredText">
                                <p>How to build a localization strategy</p>
                            </div>
                            <div class="MoreDiv">
                                <p>More..</p>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="">
                    <div class="animationDiv">
                        <img class="btnImage" src="../Images/New_UI/pic3.png">

                        <div class="squaredDiv">
                            <div class="squaredText">
                                <p>Building your first open world game</p>
                            </div>
                            <div class="MoreDiv">
                                <p>More..</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row ps">
            <div class="col-md-12">
                <div class="ReadMeSection mt-5">
                    <a href="#" class="btn ReadMeBtn">Read More</a>
                </div>
            </div>
        </div>



    </div>


    <!-- Footer -->
    <div class="footerbg">
        <div class="row home  footerStripe  justify-content-center">

            <div class="  stripe">

                <p style="color: #8455CE">Need Testing? We’re ready.</p>

            </div>
        </div>
        <section class=" position-relative clip-footer psfooter">

            <footer class="text-white d-sm-block d-none">
                <div class="row no-padding">
                    <div class="col-md-3 col-sm-3  footer-info footer-font f1">
                        <div class="mb-3 p-3 pl-5"> <img style="width: 45%;" src="../images/Logo/PTW.svg" /></div>
                        <div style="opacity: .4; margin-left:25px">Follow us</div>
                        <div class="pull-xs-right d-flex nav navbar-nav navbar-toggleable-sm pl-4" style=" flex-direction: row;">
                            <div class="nav-item"><a href="https://twitter.com/PTW" target="_blank" rel="noopener noreferrer" class="twitter nav-link" title="Twitter" style="color: rgb(255, 255, 255);"><i class="fa fa-twitter"></i><span class="m-l-20"></span></a></div>
                            <div class="nav-item"><a href="https://www.facebook.com/PTWintl/" target="_blank" rel="noopener noreferrer" class="facebook nav-link" title="Facebook" style="color: rgb(255, 255, 255);"><i class="fa fa-facebook"></i><span class="m-l-20"></span></a></div>
                            <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-linkedin-square"></i><span class="m-l-20"></span></a></div>
                            <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-instagram"></i><span class="m-l-20"></span></a></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2  footer-info footer-font f1">

                        <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm">
                            <li class="nav-item">
                                <a href="/home" id="Footer1_A1" class="nav-link footer-nav-text" titlevalue="1" style="color: rgb(255, 255, 255);font-size: 15px;">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Service" id="Footer1_A2" class="nav-link footer-nav-text" titlevalue="2" style="color: rgb(255, 255, 255);font-size: 15px;">Services</a>
                            </li>
                            <li class="nav-item">
                                <a href="about" id="Footer1_A3" class="nav-link footer-nav-text" titlevalue="3" style="color: rgb(255, 255, 255);font-size: 15px;">About</a>
                            </li>

                            <li class="nav-item">
                                <a href="careers" id="Footer1_A5" class="nav-link footer-nav-text" titlevalue="5" style="color: rgb(255, 255, 255);font-size: 15px;">Careers</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Contact" id="Footer1_A6" class="nav-link contact footer-nav-text" titlevalue="6" style="color: rgb(255, 255, 255);font-size: 15px;">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a href="lab" id="Footer1_A7" class="nav-link footer-nav-text" titlevalue="7" style="color: rgb(255, 255, 255);font-size: 15px;">Lab</a>
                            </li>
                        </ul>
                    </div>



                    <div class="col-md-4 col-sm-3  col-lg-3  footer-social footer-font   f1">
                        <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm footer-font">
                            <li class="nav-item">
                                <a href="PDF/PTW_New_Website_Terms_of_Usage_2018.pdf" id="Footer1_A8" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255); font-size: 15px;">Website Terms of Usage</a>
                            </li>
                            <li class="nav-item">
                                <a href="PDF/PTW_Privacy_Policy.pdf" id="Footer1_A9" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Privacy Policy</a>
                            </li>
                            <li class="nav-item">
                                <a href="PDF/PTW_Modern_Slavery_Statement_2018.pdf" id="Footer1_A18" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Modern Slavery Statement</a>
                            </li>
                            <li class="nav-item">
                                <a href="PDF/Corporate_Social_Responsibility_V2.pdf" id="Footer1_A21" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">CSR Policy (India)</a>
                            </li>
                            <li class="nav-item">
                                <a href="PDF/2019_Gender_Pay_Gap_Report.pdf" id="Footer1_A23" class="nav-link footer-nav-text" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Gender Pay Gap Report</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3  col-lg-4  col-sm-4">

                        <div class="d-flex justify-content-between">
                            <a href="#" class="mr-4"><img src="../images/Logo/SIDE-foooter-logo.svg" class="footer-logoImg mr-2"></a>
                            <a href="#" class="mr-4"><img src="../images/Logo/OR-footer-logo.svg" class="mr-2 footer-logoImg"></a>
                            <a href="#" class="mr-4"><img src="../images/Logo/entalize-footer-logo.svg" class="mr-2 footer-logoImg"></a>
                        </div>
                        <div class="iso mt-5 text-right">
                            <img src="../images/Logo/ISO.png" title="ISO 27001" class="no-margin-bottom ml-auto text-white text-center iso-logo">
                        </div>
                    </div>


                </div>
            </footer>

            <footer class="text-white d-sm-none d-block">
                <div class="row no-padding">
                    <div class="col-xs-6 footer-info footer-font f1">
                        <div>
                            <div class="mb-4 pl-0"> <img style="width: 45%;" src="../images/Logo/PTW.svg" /></div>
                        </div>
                        <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm m-0">
                            <li class="nav-item">
                                <a href="/home" id="Footer1_A1" class="nav-link p-0" titlevalue="1" style="color: rgb(255, 255, 255);font-size: 11px;">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Service" id="Footer1_A2" class="nav-link p-0" titlevalue="2" style="color: rgb(255, 255, 255);font-size: 11px;">Services</a>
                            </li>
                            <li class="nav-item">
                                <a href="about" id="Footer1_A3" class="nav-link p-0" titlevalue="3" style="color: rgb(255, 255, 255);font-size: 11px;">About</a>
                            </li>

                            <li class="nav-item">
                                <a href="careers" id="Footer1_A5" class="nav-link p-0" titlevalue="5" style="color: rgb(255, 255, 255);font-size: 11px;">Careers</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Contact" id="Footer1_A6" class="nav-link p-0 contact" titlevalue="6" style="color: rgb(255, 255, 255);font-size: 11px;">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a href="lab" id="Footer1_A7" class="nav-link p-0" titlevalue="7" style="color: rgb(255, 255, 255);font-size: 11px;">Lab</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-6 footer-social footer-font f3">
                        <div style="opacity: .4;">Follow us</div>
                        <div class="pull-xs-right d-flex nav navbar-nav navbar-toggleable-sm pl-4 mb-4 mt-0" style=" flex-direction: row;">
                            <div class="nav-item"><a href="https://twitter.com/PTW" target="_blank" rel="noopener noreferrer" class="twitter nav-link pl-0 pr-0" title="Twitter" style="color: rgb(255, 255, 255);"><i class="fa fa-twitter"></i><span class="m-l-20"></span></a></div>
                            <div class="nav-item"><a href="https://www.facebook.com/PTWintl/" target="_blank" rel="noopener noreferrer" class="facebook nav-link pl-0 pr-0" title="Facebook" style="color: rgb(255, 255, 255);"><i class="fa fa-facebook"></i><span class="m-l-20"></span></a></div>
                            <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link pl-0 pr-0" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-linkedin-square"></i><span class="m-l-20"></span></a></div>
                            <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link pl-0 pr-0" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-instagram"></i><span class="m-l-20"></span></a></div>
                        </div>
                        <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm footer-font m-0">
                            <li class="nav-item">
                                <a href="PDF/PTW_New_Website_Terms_of_Usage_2018.pdf" id="Footer1_A8" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255); font-size: 11px;">Website Terms of Usage</a>
                            </li>
                            <li class="nav-item">
                                <a href="PDF/PTW_Privacy_Policy.pdf" id="Footer1_A9" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">Privacy Policy</a>
                            </li>
                            <li class="nav-item">
                                <a href="PDF/PTW_Modern_Slavery_Statement_2018.pdf" id="Footer1_A18" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">Modern Slavery Statement</a>
                            </li>
                            <li class="nav-item">
                                <a href="PDF/Corporate_Social_Responsibility_V2.pdf" id="Footer1_A21" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">CSR Policy (India)</a>
                            </li>
                            <li class="nav-item">
                                <a href="PDF/2019_Gender_Pay_Gap_Report.pdf" id="Footer1_A23" class="nav-link p-0 target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">Gender Pay Gap Report</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-12 mt-5 align-items-center">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="mr-4"><img src="../images/Logo/SIDE-foooter-logo.svg" class="mr-2" style="max-width: 100%"></a>
                            <a href="#" class="mr-4"><img src="../images/Logo/OR-footer-logo.svg" class="mr-2" style="max-width: 100%"></a>
                            <a href="#" class="mr-4"><img src="../images/Logo/entalize-footer-logo.svg" class="mr-2" style="max-width: 100%"></a>
                        </div>
                    </div>

                    <div class="col-xs-12 d-flex align-items-center">
                        <div class="backtop pull-right" style="">
                            <a href="#top"><img src="../images/up-arrow.png" class="a-to-top"></a>
                        </div>
                        <div class="iso pull-right">
                            <img src="../images/Logo/ISO.png" title="ISO 27001" class="no-margin-bottom text-white text-center iso-logo">
                        </div>
                    </div>
                </div>
            </footer>

        </section>
        </div>
*@