@model PTW.DataAccess.Models.MasterPage
@{
    Layout = "_Layout";
    ViewData["Title"] = "About | PTW -Pole To Win";
}


@*@Html.Raw(Model.HtmlContent)*@

<div class="container_div about_bg">
    <div class="row mb-5">
        <div class="col-md-2">

            <div class="wrapper">
                <div class="line"></div>
                <div class="wordwrapper">
                    <p class="vericaltext">
                        HOME
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="home-text">
                <p>GET TO KNOW US</p>
            </div>

        </div>

    </div>


    <div style="height:20px"></div>

    <div class="row justify-content-center mt-5">
        <div style="text-align:center">
            <p class=" player-txt" style="color:#EE6E03">WHO WE ARE</p>
            <p class="sm-border"></p>
            <p class="txt-wrap">We’re a team of wildly passionate and ambitious gamers, innovators, and thinkers, moonlighting as digital engineers, QA testers, player support agents, linguists, and software hustlers. We accelerate innovation across the globe by putting our 25 years of experience to work.<br /><br /> We believe great work gets done by teams who love what they do. This is why we approach complex problems with an all-minds-on-deck strategy that leverages the strength and creativity of our global workforce.</p>
        </div>
    </div>

    <div class=" coloredBg">
        <p class="coloredTitle">" Even the best planning is not so omniscient as to get it right the first time "</p>
        <div class="coloredList">
            <p>DEEP SILVER</p>
            <p>EA</p>
            <p>CCP</p>
            <p>BANDAI NAMCO</p>
            <p>SEGA</p>
            <p>SQUARE ENIX</p>
            <p>UBISOFT</p>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div style="text-align:center">
            <p class=" player-txt" style="color:#EE6E03">OUR CORE VALUES</p>
            <p class="sm-border"></p>
        </div>
    </div>


    <div class="row " style=" padding: 58px;">
        <div class="col-6 p-5 ps">

            <div class="videoSection localiconQA">
                <div class="squaredBorder"> </div>
            </div>

        </div>

        <div class="col-6">
            <div class="ps ">
                <p class=" player-txt m-3" style="color:#EE6E03">Our promise</p>
                <p class="txt-wrap m-3">
                    As a brand we promise to satisfy our creatively unique, technologically innovative clients with reliable and forward-thinking services no matter where they are in the world.
                </p>
            </div>
        </div>
    </div>

    <div class="row " style=" padding: 58px;">


        <div class="col-6">
            <div class="ps ">
                <p class=" player-txt" style="margin-left:17%; color:#EE6E03">Our values</p>
                <p class="txt-wrap ">
                    We’re a brand with a unique voice and style, a brand with a holistic approach that understands that everything we do is interconnected and continuous, a brand that performs best when out-of-the-box thinking meets nose-to-the-grindstone hard work.
                </p>
            </div>
        </div>
        <div class="col-6 p-5 ps">

            <div class="videoSection localiconQA">
                <div class="squaredBorder"> </div>
            </div>

        </div>
    </div>

    <div class="row " style=" padding: 58px;">
        <div class="col-6 p-5 ps">

            <div class="videoSection localiconQA">
                <div class="squaredBorder"> </div>
            </div>

        </div>

        <div class="col-6">
            <div class="ps ">
                <p class=" player-txt m-3" style="color:#EE6E03">Our mission</p>
                <p class="txt-wrap m-3">
                    ..is to be the only destination for games, eLearning, and tech companies to improve the way they connect and present themselves to their consumers. We’re the enablers of quality and reach.
                </p>
            </div>
        </div>
    </div>

    <div class="about coloredBg">
        <p class="coloredTitle">" COMPANY HISTORY "</p>

    </div>

    <div class="row justify-content-center mt-5">
        <div style="text-align:center">
            <p class=" player-txt" style="color:#EE6E03">THE OG CREW</p>
            <p class="sm-border"></p>
        </div>
    </div>

    <div class="row">

        <div class="grid">
            <figure class="effect-sadie">
                <img src="~/images/New_UI/ABOUT/G1.png" alt="img02" />
                <figcaption>

                    <p>
                        Teppei Tachibana
                        As Chairman of PTW, Teppei Tachibana is recognized as a diplomatic and trustworthy leader who has unwavering loyalty to our heritage, culture, and values. Teppei became President and CEO of Pole To Win America, Inc. in 2009 when Pole To Win opened its first overseas studio. Now in the role of Chairman of PTW, and President & CEO of PTW’s parent company, Poletowin Pitcrew Holdings Inc., Teppei oversees a successful global enterprise that has grown from a single studio in one country to 35 studios across 11 countries, with all overseas studios under a single holding company since January 2016.
                    </p>
                    <a href="#">View more</a>
                </figcaption>

            </figure>
            <figure class="effect-sadie">
                <img src="~/images/New_UI/ABOUT/G2.png" alt="img14" />
                <figcaption>
                    @*<h2>Holy <span>Sadie</span></h2>*@
                    <p>
                        Deborah Kirkham
                        As CEO of PTW and a board member of PPHD, Deborah Kirkham is committed to leading transformative change while achieving demanding financial and operational goals. Deborah has been with PTW nearly a decade. Under her leadership, PTW has grown to over 1,800 employees across 16 studios in 10 countries around the world. In her role as President and COO, the company celebrated double digit growth year-on-year. Deborah’s infectious love of her company has built a company culture centered around loyalty, speed, and growth, and has allowed her to lead a high-performing team that is laser-focused on accelerating innovation worldwide.
                    </p>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <figure class="effect-sadie">
                <img src="~/images/New_UI/ABOUT/G3.png" alt="img14" />
                <figcaption>
                    @*<h2>Holy <span>Sadie</span></h2>*@
                    <p>
                        Steve Moseley
                        With extensive cross-functional and multinational experience, Steve Moseley brings a unique perspective to the CFO role at Pole to Win International. Steve is a highly effective hands-on leader with over 20 years’ experience in Finance, M&A, Legal, Operations, Sales, Technology and Administration. Steve has proven ability to conceptualize and implement vision through collaboration and alignment of all stakeholders to drive profitable results.
                    </p>
                    <a href="#">View more</a>
                </figcaption>
            </figure>

        </div>

    </div>

    <div class="row">

        <div class="grid">
            <figure class="effect-sadie">
                <img src="~/images/New_UI/ABOUT/G4.png" alt="img02" />
                <figcaption>
                    @*<h2>Holy <span>Sadie</span></h2>*@
                    <p>
                        Masaru ‘Mikey’ Harada
                        Mikey Harada joined Pole To Win in 2009 as Head of the Global Business Division and was responsible for the company’s global expansion. He played a key role in setting up subsidiaries and acquisitions as part of the development of Pole To Win International. As Chief Liaison Officer, Mikey develops strategies to utilize synergies across all PTW group companies, creating added value for clients. He is a valued knowledge resource on culture, business, law and finance, with over 30 years’ experience in marketing, management and international business development.
                    </p>
                    <a href="#">View more</a>
                </figcaption>

            </figure>
            <figure class="effect-sadie">
                <img src="~/images/New_UI/ABOUT/G5.png" alt="img14" />
                <figcaption>
                    <h2>Holy <span>Sadie</span></h2>
                    <p>

                        Kasturi Rangan
                        Our Chief Product Officer, Kasturi Rangan is our visionary of the future and our evangelist for great product. Rangan is an industry veteran and has been with PTW for nearly a decade, significantly growing and leading operations across the Quality Assurance, Innovation, and the Customer Experience line of business. In his most recent role at PTW, Rangan was the Regional President, over North American and India operations. He was also recently appointed as the CEO of PTW’s new game and product development brand, Orange Rock Studios. In his role as CPO of PTW, Rangan oversees the product innovation and transformation arm for PTW globally.
                    </p>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <figure class="effect-sadie">
                <img src="~/images/New_UI/ABOUT/G6.png" alt="img14" />
                <figcaption>
                    <h2>Holy <span>Sadie</span></h2>
                    <p>
                        Andy Emery
                        As COO, Andy brings a proven track record of driving operational success within complex international organizations, building strong cross-cultural teams, and helping companies achieve their full potential through strategic focus and operational improvement. Prior to joining PTW in 2015, he gained considerable experience in the interactive entertainment sector, co-founding and building SIDE into Europe’s leading provider of videogame audio services and winning multiple Industry Excellence Awards along the way. Post-acquisition, Andy played a key role in SIDE’s integration into the PTW group, launching SIDE Shanghai in 2016 and SIDE LA in 2017.
                    </p>
                    <a href="#">View more</a>
                </figcaption>
            </figure>

        </div>

    </div>

    <div class="mt-5 row justify-content-center">
        <h5 class="prod5txt">HELPFUL LINKS</h5>
        <div class="row helpfulDivs">
            <div class="col-md-4">
                <div class="animationDiv">
                    <img class="btnImage" src="~/images/New_UI/pic1.png">

                    <div class="squaredDiv">
                        <div class="squaredText">
                            <p>How to manage your users on mobile devices</p>
                        </div>
                        <div class="MoreDiv">
                            <p>More..</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="animationDiv">
                    <img class="btnImage" src="Images/New_UI/pic2.png">

                    <div class="squaredDiv">
                        <div class="squaredText">
                            <p>How to build a localization strategy</p>
                        </div>
                        <div class="MoreDiv">
                            <p>More..</p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="animationDiv">
                    <img class="btnImage" src="Images/New_UI/pic3.png">

                    <div class="squaredDiv">
                        <div class="squaredText">
                            <p>Building your first open world game</p>
                        </div>
                        <div class="MoreDiv">
                            <p>More..</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-12">
                <div class="ReadMeSection mt-5">
                    <a href="#" class="btn ReadMeBtn">Read More</a>
                </div>
            </div>
        </div>
    </div>





    <div class="row">
        <div class="stripe">
            <p>SHOUT OUT!</p>
            <p class="stripe_subtxt">Get in touch with us</p>
        </div>
    </div>
</div>


<!-- Footer -->
<section class=" position-relative  footer-parent">

    <footer class="text-white">
        <div class="row no-padding">
            <div class="col-md-4 order-lg-1 order-md-1  order-sm-1 v-excmob footer-info footer-font f1">
                <div class="mb-3 p-3 pl-5"> <img style="width: 45%;" src="~/images/Logo/PTW.svg" /></div>
                <div style="opacity: .4; margin-left:25px">Follow us</div>
                <div class="pull-xs-right d-flex nav navbar-nav navbar-toggleable-sm pl-4" style=" flex-direction: row;">
                    <div class="nav-item"><a href="https://twitter.com/PTW" target="_blank" rel="noopener noreferrer" class="twitter nav-link" title="Twitter" style="color: rgb(255, 255, 255);"><i class="fa fa-twitter"></i><span class="m-l-20"></span></a></div>
                    <div class="nav-item"><a href="https://www.facebook.com/PTWintl/" target="_blank" rel="noopener noreferrer" class="facebook nav-link" title="Facebook" style="color: rgb(255, 255, 255);"><i class="fa fa-facebook"></i><span class="m-l-20"></span></a></div>
                    <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-linkedin-square"></i><span class="m-l-20"></span></a></div>
                    <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-instagram"></i><span class="m-l-20"></span></a></div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 order-lg-1 order-md-1  order-sm-1 v-excmob footer-info footer-font f1">

                <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm">
                    <li class="nav-item">
                        <a href="/home" id="Footer1_A1" class="nav-link" titlevalue="1" style="color: rgb(255, 255, 255);font-size: 15px;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Service" id="Footer1_A2" class="nav-link" titlevalue="2" style="color: rgb(255, 255, 255);font-size: 15px;">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="about" id="Footer1_A3" class="nav-link" titlevalue="3" style="color: rgb(255, 255, 255);font-size: 15px;">About</a>
                    </li>

                    <li class="nav-item">
                        <a href="careers" id="Footer1_A5" class="nav-link" titlevalue="5" style="color: rgb(255, 255, 255);font-size: 15px;">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Contact" id="Footer1_A6" class="nav-link contact" titlevalue="6" style="color: rgb(255, 255, 255);font-size: 15px;">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="lab" id="Footer1_A7" class="nav-link" titlevalue="7" style="color: rgb(255, 255, 255);font-size: 15px;">Lab</a>
                    </li>
                </ul>
            </div>



            <div class="col-lg-2 col-md-4 col-sm-12  order-lg-3 order-md-5 order-sm-3 order-sx-2 footer-social footer-font  mob-hidden f3">
                <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm footer-font">
                    <li class="nav-item">
                        <a href="PDF/PTW_New_Website_Terms_of_Usage_2018.pdf" id="Footer1_A8" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255); font-size: 15px;">Website Terms of Usage</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/PTW_Privacy_Policy.pdf" id="Footer1_A9" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/PTW_Modern_Slavery_Statement_2018.pdf" id="Footer1_A18" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Modern Slavery Statement</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/Corporate_Social_Responsibility_V2.pdf" id="Footer1_A21" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">CSR Policy (India)</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/2019_Gender_Pay_Gap_Report.pdf" id="Footer1_A23" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Gender Pay Gap Report</a>
                    </li>
                </ul>
            </div>



            <div class="backtop pull-right" style="">
                <a href="#top"><img src="/Images/up-arrow.png" class="a-to-top"></a>
            </div>
            <div class="iso pull-right">
                <img src="/Images/Logo/ISO.png" title="ISO 27001" class="no-margin-bottom text-white text-center iso-logo">
            </div>


            <div class="col-lg-12 col-md-4 col-sm-12 order-lg-6 order-md-6 order-sm-6 order-sx-6 footer-copyright">
                <p id="Footer1_P2" class="poppins-copyright v-tab">Copyright © 2020.</p>
                <p id="Footer1_P3" class="poppins-copyright v-tab">All Rights Reserved. Pole To Win International is a group of subsidiaries of <a class="Pitcrew" href="http://www.poletowin-pitcrew-holdings.co.jp/en/" target="_blank" rel="noopener noreferrer">Poletowin Pitcrew Holdings Inc.</a></p>
                <p id="Footer1_P4" class="poppins-copyright v-mob">Copyright © 2020. All Rights Reserved. Pole To Win International is a group of subsidiaries of <a class="Pitcrew" href="http://www.poletowin-pitcrew-holdings.co.jp/en/" target="_blank" rel="noopener noreferrer">Poletowin Pitcrew Holdings Inc.</a></p>
            </div>
        </div>
    </footer>
    <!--<div class="col-lg-12 col-md-4 col-sm-4 order-lg-6 order-md-6 order-sm-6 order-sx-6 footer-copyright">
                <p id="Footer1_P5" class="poppins-copyright v-d">Copyright © 2020. All Rights Reserved. Pole To Win International is a group of subsidiaries of <a class="Pitcrew" href="http://www.poletowin-pitcrew-holdings.co.jp/en/" target="_blank" rel="noopener noreferrer">Poletowin Pitcrew Holdings Inc.</a></p>
            </div> -->
    <div id="mobile-footer" class="p-40px v-mob">
        <ul class="navbar-nav">
            <li class="nav-item-t dropdown">
                <a class="dropdown-toggle color-black" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="Footer1_fLanguage">English</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right " aria-labelledby="bd-versions">
                    <p onclick="languageChange('en-US')" class="dropdown-item" meta:resourcekey="EnglishListItem">English</p>
                    <div class="dropdown-divider"></div>
                    <p onclick="languageChange('fr-CA')" class="dropdown-item" meta:resourcekey="CAFrenchListItem">Canadian French</p>
                    <div class="dropdown-divider"></div>
                    <p onclick="languageChange('ja')" class="dropdown-item" meta:resourcekey="JapaneseListItem">Japanese 日本語</p>
                    <div class="dropdown-divider"></div>
                    <p onclick="languageChange('ko')" class="dropdown-item" meta:resourcekey="KoreanListItem">Korean 한국어</p>
                    <div class="dropdown-divider"></div>

                    <p onclick="languageChange('zh-CHS')" class="dropdown-item" meta:resourcekey="CHSListItem">Simplified Chinese 简体中文</p>

                </div>
            </li>
            <li class="nav-item-t">
                <a href="home" id="Footer1_A10" class="nav-link" titlevalue="1">Home</a>
            </li>
            <li class="nav-item-t">
                <a href="services-industries" id="Footer1_A11" class="nav-link" titlevalue="2">Services &amp; Industries</a>
            </li>
            <li class="nav-item-t">
                <a href="about" id="Footer1_A12" class="nav-link" titlevalue="3">About</a>
            </li>
            <li class="nav-item-t">
                <a href="news-events" id="Footer1_A13" class="nav-link" titlevalue="4">News &amp; Events</a>
            </li>
            <li class="nav-item-t">
                <a href="careers" id="Footer1_A14" class="nav-link" titlevalue="5">Careers</a>
            </li>
            <li class="nav-item-t">
                <a href="contact" id="Footer1_A15" class="nav-link" titlevalue="6">Contact &amp; Locations</a>
            </li>
            <li class="nav-item-t navitem1">
                <a href="lab" id="Footer1_A20" class="nav-link" titlevalue="7">Lab</a>
            </li>
            <li class="nav-item-t navitem2">
                <a href="PDF/PTW_New_Website_Terms_of_Usage_2018.pdf" id="Footer1_A16" titlevalue="8" target="_blank" rel="noopener noreferrer">Website Terms of Usage</a>
            </li>
            <li class="nav-item-t">
                <a href="PDF/PTW_Privacy_Policy.pdf" id="Footer1_A17" titlevalue="9" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
            </li>
            <li class="nav-item-t">
                <a href="PDF/PTW_Modern_Slavery_Statement_2018.pdf" id="Footer1_A19" target="_blank" rel="noopener noreferrer">Modern Slavery Statement</a>
            </li>
            <li class="nav-item-t">
                <a id="A22" href="../PDF/Corporate_Social_Responsibility_V2.pdf" target="_blank" rel="noopener noreferrer">CSR Policy (India)</a>
            </li>
            <li class="nav-item">
                <a id="A24" href="../PDF/2019_Gender_Pay_Gap_Report.pdf" target="_blank" rel="noopener noreferrer">Gender Pay Gap Report</a>
            </li>
        </ul>
    </div>
</section>
