
@{
    ViewData["Title"] = "NewsArticles";
}
    <link href="~/css/clean-blog.min.css" rel="stylesheet" />
<link href="~/css/custom.css" rel="stylesheet" />
<link href="~/css/sticky.css" rel="stylesheet" />
<link href="~/css/news.css" rel="stylesheet" />
<style>
    div#FooterDiv {
        margin-top: 60px;
    }
</style>
<div id="updatepnl">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

    <div class="article-container no-display">
        <div class="row">
            <div class="col-md-12">
                <div class="article-banner text-center no-hide">
                    <img src="/Images/news/2020/Header/69.png" alt="Game Global Digital Summit 2020">
                </div>
            </div>
        </div>
    </div>
</div>
