@using PTW.DataAccess.ServicesImpl;

@*@{
        MasterService masterService = new MasterService();



        var data = masterService.GetDashboardDetails(0, 1, 1);

    }
    Html.Raw(data.HtmlContent);*@


<div id="navHeader"></div>





<script src="~/js/jquery-3.3.1.min.js"></script>

<script>
    var content;
    $(document).ready(function () {
        LoadHeader();
    });

    function ApplyLocalizaiotn () {
        alert();
        var str = window.location.href.replace(window.location.origin, '');
        console.log(str);

        var values = $(this).children('option').map(function (i, e) {
            return e.value;
        }).get();
        $.each(values, function (i, val) {

            str = str.replace(values[i], '');
        });
        str = str.replace('//', '/');
        console.log(str);

        if ($("#Languages").val() == 'en-US') {
            window.location = window.location.origin + str;
        }
        else {
            window.location = window.location.origin + '/' + $("#Languages").val() + str;
        }

    }

    function LoadHeader() {
        var moduleId = 1;
        var languagecode = "en-US";
        $("#navHeader").html = '';
        $.ajax({
            type: "GET",
            url: '../Home/GetHeaderPageDetails?ModuleId=' + parseInt(moduleId) + '&Languagecode=' + languagecode + '',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                if (result == 'Logout') {
                    window.location = '../Logout';
                }
                $("#navHeader").append(result);

            },

            error: function (err) {
                if (err.status === 0) {
                    window.location = '../Logout';
                }
            }
        });

    }
</script>