@using PTW.DataAccess.ServicesImpl;

<div id="navHeader"></div>

<script src="~/js/jquery-3.3.1.min.js"></script>

<script>

    var content;
    $(document).ready(function () {
     var lan = '@(ViewContext.RouteData.Values["culture"]!=null?ViewContext.RouteData.Values["culture"].ToString():"en-US")';

        LoadHeader(lan);

    });
   
    function ApplyLocalizaiotn() {

        var str = window.location.href.replace(window.location.origin, '');
        console.log(str);

        var values = $("#Languages").children('option').map(function (i, e) {
            return e.value;
        }).get();
        $.each(values, function (i, val) {

            str = str.replace(values[i], '');
        });
        str = str.replace('//', '/');
            console.log(str);
        LoadHeader($("#Languages").val());
        //LoadHeader($("#Languages").val());
        debugger;
        if ($("#Languages").val() == 'en-US') {
            window.location = window.location.origin + str;
        }
        else {
            window.location = window.location.origin + '/' + $("#Languages").val() + str;

            //$("#Languages").val($(this).val());

            //var language = $.session.get('lang');
            //$(this).val(language);
            //var str = window.location.href.replace(window.location.origin, '');
            //str=str.replace('/', '');
            //$(this).val(str);
        }

    }

    function LoadHeader(languagecode) {
        
        var moduleId = 1;
        //if (languagecode == "") {
        //    languagecode = "en-US";
        //}


        $("#navHeader").html = '';
        $.ajax({
            type: "GET",
            url: '../Home/GetHeaderPageDetails?ModuleId=' + parseInt(moduleId) + '&Languagecode=' + languagecode + '',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                if (result == 'Logout') {
                    window.location = '../Logout';
                }
                $("#navHeader").append(result);
          var lan = '@(ViewContext.RouteData.Values["culture"]!=null?ViewContext.RouteData.Values["culture"].ToString():"en-US")';
        console.log(lan);
                $("#Languages").val(lan);
                
            },

            error: function (err) {
                if (err.status === 0) {
                    window.location = '../Logout';
                }
            }
        });

    }




</script>