@model PTW.DataAccess.Models.MasterPage
@{
    ViewData["Title"] = "Contact";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<style>
    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
        background: none;
        border: none;
    }
</style>
@Html.Raw(Model.HtmlContent)


<script>

    $(document).ready(function () {
        LoadLocation();
    });
    function LoadLocation() {
        $.ajax({
            url: "../Location",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                var htmlAsiaContent = '';
                var htmlNorthAmericaContent = '';
                var htmlEuropeContent = '';
                for (var i = 1; i < result.asiaContent.length; i++) {

                    if (i == 1 || (i - 1) % 3 == 0) {
                        htmlAsiaContent = htmlAsiaContent + '<div class="row mx-0">'
                    }
                    if (true) {
                        htmlAsiaContent = htmlAsiaContent + '<div class="col-md-4 d-flex loc" >' +
                            '<a class="btn btn-info btn-lg btn-map" data-toggle="modal" data-target="#Target_' + result.asiaContent[i].ID + '" data-toggle="modal" data-backdrop="static" data-keyboard="false">' +
                            '<p class="ofc-map">' +
                            '<i class="fa fa-map-marker" aria-hidden="true"></i>' +
                            '</p>' +
                            '</a> ' +
                            '<div style=" margin: 8px" ;="" >' +
                            '<h4>' + result.asiaContent[i].GoogleMapHeading + '</h4>' +
                            '<p>' + result.asiaContent[i].Address + '</p > ' +
                            '</div>' +

                            '<div id="Target_' + result.asiaContent[i].ID + '" class="modal fade" role="dialog" tabindex="-1" tabindex="-1">' +
                            '<div class="modal-dialog modal-lg">' +
                            '<div class="modal-content">' +
                            '<div class="modal-header">' +
                            '<p runat="server">' + result.asiaContent[i].GoogleMapHeading + '' +
                            '</p>' +
                            '<button type="button" class="close" data-dismiss="modal">&times;</button>' +
                            '</div>' +
                            '<div class="modal-body">' +
                            '<div class="w100">' +
                            '<iframe src="' + result.asiaContent[i].GoogleMap + '" width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>' +
                            '</div>' +
                            '<br />' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div > ' +

                            '</div>'
                    }
                    else {

                        htmlAsiaContent = htmlAsiaContent + '<div class="col-md-4 d-flex loc" >' +
                            '<a class="btn btn-info btn-lg btn-map" data-toggle="modal" data-target="#Target_' + result.asiaContent[i].ID + '" data-toggle="modal" data-backdrop="static" data-keyboard="false">' +
                            '<p class="ofc-map">' +
                            '<i class="fa fa-map-marker" aria-hidden="true"></i>' +
                            '</p>' +
                            '</a> ' +
                            '<div style=" margin: 8px" ;="" >' +
                            '<h4>' + result.asiaContent[i].GoogleMapHeading + '</h4>' +
                            '<p>' + result.asiaContent[i].Address + '</p > ' +
                            '</div>' +

                            '<div id="Target_' + result.asiaContent[i].ID + '" class="modal fade" role="dialog" tabindex="-1" tabindex="-1">' +
                            '<div class="modal-dialog modal-lg">' +
                            '<div class="modal-content">' +
                            '<div class="modal-header">' +
                            '<p runat="server">' + result.asiaContent[i].GoogleMapHeading + '' +
                            '</p>' +
                            '<button type="button" class="pull-right googleMap m-t-10" onclick="loadIframe(\'iframe' + i + '\',\'ptw-naju\', \'googleMap\',\'' + result.asiaContent[i].GoogleMap +'\'); ">Switch to Google Map</button>'+
        '<button type="button" class="pull-right naverMap m-t-10" onclick="loadIframe(\'iframe' + i + '\',\'ptw-naju\', \'googleMap\',\'https://map.naver.com/v5/search/PTW%20KOREA/place/35507490?c=14112647.3294057,4167175.7105708,15,0,0,0,dh\');">Switch to Naver Map</button>' +
            '<button type="button" class="close" data-dismiss="modal">&times;</button>' +
            '</div>' +
            '<div class="modal-body">' +
            '<div class="w100">' +
            '<iframe id="iframe' + i + '" src="' + result.asiaContent[i].GoogleMap + '" width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>' +
            '</div>' +
            '<br />' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div > ' +

            '</div>'
    }
    if (i % 3 == 0) {
        htmlAsiaContent = htmlAsiaContent + '</div >'
    }
                }
    if (result.asiaContent.length % 3 != 0) {
        htmlAsiaContent = htmlAsiaContent + '</div>'
    }

    for (var i = 1; i < result.northAmericaContent.length; i++) {

        if (i == 1 || (i - 1) % 3 == 0) {
            htmlNorthAmericaContent = htmlNorthAmericaContent + '<div class="row mx-0">'
        }
        if (true) {
            htmlNorthAmericaContent = htmlNorthAmericaContent + '<div class="col-md-4 d-flex loc" >' +
                '<a class="btn btn-info btn-lg btn-map" data-toggle="modal" data-target="#Target_' + result.northAmericaContent[i].ID + '" data-toggle="modal" data-backdrop="static" data-keyboard="false">' +
                '<p class="ofc-map">' +
                '<i class="fa fa-map-marker" aria-hidden="true"></i>' +
                '</p>' +
                '</a> ' +
                '<div style=" margin: 8px" ;="" >' +
                '<h4>' + result.northAmericaContent[i].GoogleMapHeading + '</h4>' +
                '<p>' + result.northAmericaContent[i].Address + '</p > ' +
                '</div >' +

                '<div id="Target_' + result.northAmericaContent[i].ID + '" class="modal fade" role="dialog" tabindex="-1" tabindex="-1">' +
                '<div class="modal-dialog modal-lg">' +
                '<div class="modal-content">' +
                '<div class="modal-header">' +
                '<p runat="server">' + result.northAmericaContent[i].GoogleMapHeading + '' +
                '</p>' +
                '<button type="button" class="close" data-dismiss="modal">&times;</button>' +
                '</div>' +
                '<div class="modal-body">' +
                '<div class="w100">' +
                '<iframe src="' + result.northAmericaContent[i].GoogleMap + '" width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>' +
                '</div>' +
                '<br />' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div > ' +

                '</div >'
        }
        else {

       
            htmlNorthAmericaContent = htmlNorthAmericaContent + '<div class="col-md-4 d-flex loc" >' +
                '<a class="btn btn-info btn-lg btn-map" data-toggle="modal" data-target="#Target_' + result.northAmericaContent[i].ID + '" data-toggle="modal" data-backdrop="static" data-keyboard="false">' +
            '<p class="ofc-map">' +
            '<i class="fa fa-map-marker" aria-hidden="true"></i>' +
            '</p>' +
            '</a> ' +
            '<div style=" margin: 8px" ;="" >' +
            '<h4>' + result.northAmericaContent[i].GoogleMapHeading + '</h4>' +
            '<p>' + result.northAmericaContent[i].Address + '</p > ' +
            '</div >' +

            '<div id="Target_' + result.northAmericaContent[i].ID + '" class="modal fade" role="dialog" tabindex="-1" tabindex="-1">' +
            '<div class="modal-dialog modal-lg">' +
            '<div class="modal-content">' +
            '<div class="modal-header">' +
            '<p runat="server">' + result.northAmericaContent[i].GoogleMapHeading + '' +
            '</p>' +
            '<button type="button" class="pull-right googleMap m-t-10" onclick="loadIframe(\'iframe' + i + '\',\'ptw-naju\', \'googleMap\',\'' + result.asiaContent[i].GoogleMap + '\'); ">Switch to Google Map</button>' +
            '<button type="button" class="pull-right naverMap m-t-10" onclick="loadIframe(\'iframe' + i + '\',\'ptw-naju\', \'googleMap\',\'https://map.naver.com/v5/search/PTW%20KOREA/place/35507490?c=14112647.3294057,4167175.7105708,15,0,0,0,dh\');">Switch to Naver Map</button>' +
            '<button type="button" class="close" data-dismiss="modal">&times;</button>' +
            '</div>' +
            '<div class="modal-body">' +
            '<div class="w100">' +
                '<iframe id="iframe' + i + '" src="' + result.northAmericaContent[i].GoogleMap + '" width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>' +
            '</div>' +
            '<br />' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div > ' +

            '</div >'
        }
        if (i % 3 == 0) {
            htmlNorthAmericaContent = htmlNorthAmericaContent + '</div >'
        }
    }
    if (result.northAmericaContent.length % 3 != 0) {
        htmlNorthAmericaContent = htmlNorthAmericaContent + '</div>'
    }

    for (var i = 1; i < result.europeContent.length; i++) {

        if (i == 1 || (i - 1) % 3 == 0) {
            htmlEuropeContent = htmlEuropeContent + '<div class="row mx-0">'
        }
        if (true) {
            htmlEuropeContent = htmlEuropeContent + '<div class="col-md-4 d-flex loc" >' +
                '<a class="btn btn-info btn-lg btn-map" data-toggle="modal" data-target="#Target_' + result.europeContent[i].ID + '" data-toggle="modal" data-backdrop="static" data-keyboard="false">' +
                '<p class="ofc-map">' +
                '<i class="fa fa-map-marker" aria-hidden="true"></i>' +
                '</p>' +
                '</a> ' +
                '<div style=" margin: 8px" ;="" >' +
                '<h4>' + result.europeContent[i].GoogleMapHeading + '</h4>' +
                '<p>' + result.europeContent[i].Address + '</p > ' +
                '</div >' +

                '<div id="Target_' + result.europeContent[i].ID + '" class="modal fade" role="dialog" tabindex="-1" tabindex="-1">' +
                '<div class="modal-dialog modal-lg">' +
                '<div class="modal-content">' +
                '<div class="modal-header">' +
                '<p runat="server">' + result.europeContent[i].GoogleMapHeading + '' +
                '</p>' +
                '<button type="button" class="close" data-dismiss="modal">&times;</button>' +
                '</div>' +
                '<div class="modal-body">' +
                '<div class="w100">' +
                '<iframe src="' + result.europeContent[i].GoogleMap + '" width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>' +
                '</div>' +
                '<br />' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div > ' +

                '</div >'
        }
        else {

            htmlEuropeContent = htmlEuropeContent + '<div class="col-md-4 d-flex loc" >' +
                '<a class="btn btn-info btn-lg btn-map" data-toggle="modal" data-target="#Target_' + result.europeContent[i].ID + '" data-toggle="modal" data-backdrop="static" data-keyboard="false">' +
            '<p class="ofc-map">' +
            '<i class="fa fa-map-marker" aria-hidden="true"></i>' +
            '</p>' +
            '</a> ' +
            '<div style=" margin: 8px" ;="" >' +
            '<h4>' + result.europeContent[i].GoogleMapHeading + '</h4>' +
            '<p>' + result.europeContent[i].Address + '</p > ' +
            '</div >' +

            '<div id="Target_' + result.europeContent[i].ID + '" class="modal fade" role="dialog" tabindex="-1" tabindex="-1">' +
            '<div class="modal-dialog modal-lg">' +
            '<div class="modal-content">' +
            '<div class="modal-header">' +
            '<p runat="server">' + result.europeContent[i].GoogleMapHeading + '' +
                '</p>' +
                '<button type="button" class="pull-right googleMap m-t-10" onclick="loadIframe(\'iframe' + i + '\',\'ptw-naju\', \'googleMap\',\'' + result.asiaContent[i].GoogleMap + '\'); ">Switch to Google Map</button>' +
                '<button type="button" class="pull-right naverMap m-t-10" onclick="loadIframe(\'iframe' + i + '\',\'ptw-naju\', \'googleMap\',\'https://map.naver.com/v5/search/PTW%20KOREA/place/35507490?c=14112647.3294057,4167175.7105708,15,0,0,0,dh\');">Switch to Naver Map</button>' +
            '<button type="button" class="close" data-dismiss="modal">&times;</button>' +
            '</div>' +
            '<div class="modal-body">' +
            '<div class="w100">' +
                '<iframe id="iframe' + i + '" src="' + result.europeContent[i].GoogleMap + '" width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>' +
            '</div>' +
            '<br />' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div > ' +

            '</div >'
        }
        if (i % 3 == 0) {
            htmlEuropeContent = htmlEuropeContent + '</div >'
        }
    }
    if (result.europeContent.length % 3 != 0) {
        htmlEuropeContent = htmlEuropeContent + '</div>'
    }
    $('#asiacontentgrid').append(htmlAsiaContent);
    $('#northamericacontentgrid').append(htmlNorthAmericaContent);
    $('#europecontentgrid').append(htmlEuropeContent);


            },
    error: function (err) {
        // window.location = '../Logout';
    }
        });

    }

    function showMap() {
        $('#myModal').modal('show');;
    }

    $('#myModal').on('shown.bs.modal', (function () {
        var mapIsAdded = false;

        return function () {
            if (!mapIsAdded) {
                $('.modal-body').html('<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9808.974038062652!2d4.3244048859985185!3d52.07529689519739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1snl!2snl!4v1419588821379" width="100%" height="400" frameborder="0" style="border:0"></iframe>');

                mapIsAdded = true;
                $('.modal-backdrop').remove();
            }
        };
    })());

    function loadIframe(iframeName, target, mapName, url) {
        var $iframe = $('#' + iframeName);
        var $studio = $('#' + target);
        //alert($('.' + hideName));
        if ($iframe.length) {
            $iframe.attr('src', url);
            if (mapName.toString() === "googleMap") {
                $studio.find('.googleMap').css('display', 'none');
                $studio.find('.naverMap').css('display', 'block');
            }
            else if (mapName.toString() === 'naverMap') {
                $studio.find('.googleMap').css('display', 'block');
                $studio.find('.naverMap').css('display', 'none');
            }
            //alert($iframe.contents().find('#aside').hide());
            //$iframe.contents().find('#aside').remove();
            return false;
        }
        return true;
    }

</script>