@model PTW.DataAccess.Models.MasterPage
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(Model.HtmlContent)
@*<div class="container_div about_bg" style="background-image: url(../images/Contact/ContactImages/ContactHeader.png);">
    <div class="row mb-5 mx-0">
        <div class="col-md-2">

            <div class="wrapper">
                <div class="line"></div>
                <div class="wordwrapper">
                    <p class="vericaltext">
                        HOME
                    </p> 
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-7 col-sm-6">
            <div class="text-careers">
                <p>Looking for our sales team?</p>
                <div class="row contact-details">
                    <div class="col-md-6">
                        <label>Company</label>
                        <input type="text" name="name" value="" placeholder="Your company name" />
                    </div>
                    <div class="col-md-6">
                        <label>Email</label>
                        <input type="email" name="name" value="" placeholder="Your email address" />
                    </div>
                    <div class="col-md-12">
                        <label>Subject (Optional)</label>
                        <input type="email" name="name" value="" placeholder="Summary of your request" />
                    </div>
                    <div class="col-md-12 mb-0">
                        <label>Message</label>
                        <textarea rows="5" placeholder="Give as many details as possible…"> </textarea>
                    </div>
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <div class="contact-form-group">
                                <input type="checkbox" class="custom-control-input" id="service1">
                                <label class="custom-control-label" for="service1">Service 1</label>
                            </div>
                            <div class="contact-form-group">
                                <input type="checkbox" class="custom-control-input" id="service2">
                                <label class="custom-control-label" for="service2">Service 2</label>
                            </div>
                            <div class="contact-form-group">
                                <input type="checkbox" class="custom-control-input" id="service3">
                                <label class="custom-control-label" for="service3">Service 3</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button class="get-quote-btn">GET QUOTE</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="row justify-content-center mt-5">
    <div style="text-align:center">
        <p class=" player-txt" style="color:#EE6E03;font-family: 'Nunito-sans';">LOCATIONS</p>
        <p class="sm-border-contact"></p>
        <div class="" style="width: 80%;margin-left: 15%;">
            <img src="../images/New_UI/map.svg" style=" width: 100%;" />

        </div>
    </div>
</div>

<div class="contact localiz_sub-bg">
    <div class="mSec-part">
        <div class="mSec">
            <p class="num">38+</p>
            <p class="desc">Languages</p>
        </div>

        <div class="mSec">
            <p class="num">220+</p>
            <p class="desc">Experience</p>
        </div>
    </div>
    <div class="mSec-part">
        <div class="mSec">
            <p class="num">22 Mn+</p>
            <p class="desc">Words Recorded</p>
        </div>

        <div class="mSec">
            <p class="num">9 Yrs</p>
            <p class="desc">Experience</p>
        </div>
    </div>
</div>


<div class="row justify-content-center mt-5">
    <div style="text-align:center">
        <p class=" player-txt" style="color:#EE6E03">STUDIOS</p>
        <p class="sm-border-contact"></p>
    </div>
</div>

<div class="row ">
    <div class="location-details " id="asiacontentgrid">

        <div class="cont-header ">
            ASIA
            <div id="triangle-up" class="float-right"></div>
        </div>


    </div>

</div>


<div class="row ">
    <div class="location-details " id="northamericacontentgrid">

        <div class="cont-header ">
            North America
            <div id="triangle-up" class="float-right"></div>
        </div>



    </div>
</div>

<div class="row ">
    <div class="location-details " id="europecontentgrid">

        <div class="cont-header ">
            EUROPE
            <div id="triangle-up" class="float-right"></div>
        </div>


    </div>
</div>


<div class="mt-5 row justify-content-center">
    <h5 class="prod5txt">HELPFUL LINKS</h5>
    <div class="row helpfulDivs">
        <div class="">
            <div class="animationDiv">
                <img class="btnImage" src="../images/New_UI/pic1.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p>How to manage your users on mobile devices</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="">
            <div class="animationDiv">
                <img class="btnImage" src="../Images/New_UI/pic2.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p>How to build a localization strategy</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="">
            <div class="animationDiv">
                <img class="btnImage" src="../Images/New_UI/pic3.png">

                <div class="squaredDiv">
                    <div class="squaredText">
                        <p>Building your first open world game</p>
                    </div>
                    <div class="MoreDiv">
                        <p>More..</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="contact ReadMeSection mt-5">
            <a href="#" class="btn ReadMeBtn">Read More</a>
        </div>
    </div>
</div>


<div class="row m-0 mt-5">
    <div class="stripe">
        <p style="color: #FF7A17">SHOUT OUT!</p>
        <p class="stripe_subtxt">Get in touch with us</p>
    </div>
</div>


<!-- Footer -->
<section class=" position-relative  footer-parent">

    <footer class="text-white d-sm-block d-none">
        <div class="row no-padding">
            <div class="col-md-3 col-sm-3 footer-info footer-font f1">
                <div class="mb-3 p-3 pl-5"> <img style="width: 45%;" src="../images/Logo/PTW.svg" /></div>
                <div style="opacity: .4; margin-left:25px">Follow us</div>
                <div class="pull-xs-right d-flex nav navbar-nav navbar-toggleable-sm pl-4" style=" flex-direction: row;">
                    <div class="nav-item"><a href="https://twitter.com/PTW" target="_blank" rel="noopener noreferrer" class="twitter nav-link" title="Twitter" style="color: rgb(255, 255, 255);"><i class="fa fa-twitter"></i><span class="m-l-20"></span></a></div>
                    <div class="nav-item"><a href="https://www.facebook.com/PTWintl/" target="_blank" rel="noopener noreferrer" class="facebook nav-link" title="Facebook" style="color: rgb(255, 255, 255);"><i class="fa fa-facebook"></i><span class="m-l-20"></span></a></div>
                    <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-linkedin-square"></i><span class="m-l-20"></span></a></div>
                    <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-instagram"></i><span class="m-l-20"></span></a></div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 footer-info footer-font f1">

                <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm" style="flex-direction: column;">
                    <li class="nav-item">
                        <a href="/home" id="Footer1_A1" class="nav-link" titlevalue="1" style="color: rgb(255, 255, 255);font-size: 15px;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Service" id="Footer1_A2" class="nav-link" titlevalue="2" style="color: rgb(255, 255, 255);font-size: 15px;">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="about" id="Footer1_A3" class="nav-link" titlevalue="3" style="color: rgb(255, 255, 255);font-size: 15px;">About</a>
                    </li>

                    <li class="nav-item">
                        <a href="careers" id="Footer1_A5" class="nav-link" titlevalue="5" style="color: rgb(255, 255, 255);font-size: 15px;">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Contact" id="Footer1_A6" class="nav-link contact" titlevalue="6" style="color: rgb(255, 255, 255);font-size: 15px;">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="lab" id="Footer1_A7" class="nav-link" titlevalue="7" style="color: rgb(255, 255, 255);font-size: 15px;">Lab</a>
                    </li>
                </ul>
            </div>



            <div class="col-md-3 col-sm-3 footer-social footer-font">
                <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm footer-font" style="flex-direction: column;">
                    <li class="nav-item">
                        <a href="PDF/PTW_New_Website_Terms_of_Usage_2018.pdf" id="Footer1_A8" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255); font-size: 15px;">Website Terms of Usage</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/PTW_Privacy_Policy.pdf" id="Footer1_A9" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/PTW_Modern_Slavery_Statement_2018.pdf" id="Footer1_A18" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Modern Slavery Statement</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/Corporate_Social_Responsibility_V2.pdf" id="Footer1_A21" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">CSR Policy (India)</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/2019_Gender_Pay_Gap_Report.pdf" id="Footer1_A23" class="nav-link" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 15px;">Gender Pay Gap Report</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 col-sm-4">

                <div class="d-flex justify-content-between">
                    <a href="#" class="mr-4"><img src="../images/Logo/SIDE-foooter-logo.svg" class="mr-2"></a>
                    <a href="#" class="mr-4"><img src="../images/Logo/OR-footer-logo.svg" class="mr-2"></a>
                    <a href="#" class="mr-4"><img src="../images/Logo/entalize-footer-logo.svg" class="mr-2"></a>
                </div>
                <div class="iso mt-3 text-right">
                    <img src="/Images/Logo/ISO.png" title="ISO 27001" class="no-margin-bottom ml-auto text-white text-center iso-logo">
                </div>
            </div>


        </div>
    </footer>

    <footer class="text-white d-sm-none d-block">
        <div class="row no-padding">
            <div class="col-xs-6 footer-info footer-font f1">
                <div>
                    <div class="mb-4 pl-0"> <img style="width: 45%;" src="../images/Logo/PTW.svg" /></div>
                </div>
                <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm m-0">
                    <li class="nav-item">
                        <a href="/home" id="Footer1_A1" class="nav-link p-0" titlevalue="1" style="color: rgb(255, 255, 255);font-size: 11px;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Service" id="Footer1_A2" class="nav-link p-0" titlevalue="2" style="color: rgb(255, 255, 255);font-size: 11px;">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="about" id="Footer1_A3" class="nav-link p-0" titlevalue="3" style="color: rgb(255, 255, 255);font-size: 11px;">About</a>
                    </li>

                    <li class="nav-item">
                        <a href="careers" id="Footer1_A5" class="nav-link p-0" titlevalue="5" style="color: rgb(255, 255, 255);font-size: 11px;">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Contact" id="Footer1_A6" class="nav-link p-0 contact" titlevalue="6" style="color: rgb(255, 255, 255);font-size: 11px;">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="lab" id="Footer1_A7" class="nav-link p-0" titlevalue="7" style="color: rgb(255, 255, 255);font-size: 11px;">Lab</a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-6 footer-social footer-font">
                <div style="opacity: .4;">Follow us</div>
                <div class="pull-xs-right d-flex nav navbar-nav navbar-toggleable-sm pl-4 mb-4 mt-0" style=" flex-direction: row;">
                    <div class="nav-item"><a href="https://twitter.com/PTW" target="_blank" rel="noopener noreferrer" class="twitter nav-link pl-0 pr-0" title="Twitter" style="color: rgb(255, 255, 255);"><i class="fa fa-twitter"></i><span class="m-l-20"></span></a></div>
                    <div class="nav-item"><a href="https://www.facebook.com/PTWintl/" target="_blank" rel="noopener noreferrer" class="facebook nav-link pl-0 pr-0" title="Facebook" style="color: rgb(255, 255, 255);"><i class="fa fa-facebook"></i><span class="m-l-20"></span></a></div>
                    <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link pl-0 pr-0" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-linkedin-square"></i><span class="m-l-20"></span></a></div>
                    <div class="nav-item"><a href="https://www.linkedin.com/company/ptwintl/" target="_blank" rel="noopener noreferrer" class="linkedin nav-link pl-0 pr-0" title="LinkedIn" style="color: rgb(255, 255, 255);"><i class="fa fa-instagram"></i><span class="m-l-20"></span></a></div>
                </div>
                <ul class="pull-xs-right nav navbar-nav navbar-toggleable-sm footer-font m-0">
                    <li class="nav-item">
                        <a href="PDF/PTW_New_Website_Terms_of_Usage_2018.pdf" id="Footer1_A8" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255); font-size: 11px;">Website Terms of Usage</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/PTW_Privacy_Policy.pdf" id="Footer1_A9" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/PTW_Modern_Slavery_Statement_2018.pdf" id="Footer1_A18" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">Modern Slavery Statement</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/Corporate_Social_Responsibility_V2.pdf" id="Footer1_A21" class="nav-link p-0" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">CSR Policy (India)</a>
                    </li>
                    <li class="nav-item">
                        <a href="PDF/2019_Gender_Pay_Gap_Report.pdf" id="Footer1_A23" class="nav-link p-0 target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);font-size: 11px;">Gender Pay Gap Report</a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 mt-5 align-items-center">
                <div class="d-flex justify-content-between">
                    <a href="#" class="mr-4"><img src="../images/Logo/SIDE-foooter-logo.svg" class="mr-2" style="max-width: 100%"></a>
                    <a href="#" class="mr-4"><img src="../images/Logo/OR-footer-logo.svg" class="mr-2" style="max-width: 100%"></a>
                    <a href="#" class="mr-4"><img src="../images/Logo/entalize-footer-logo.svg" class="mr-2" style="max-width: 100%"></a>
                </div>
            </div>

            <div class="col-xs-12 d-flex align-items-center">

                <div class="iso pull-right">
                    <img src="/Images/Logo/ISO.png" title="ISO 27001" class="no-margin-bottom text-white text-center iso-logo">
                </div>
            </div>
        </div>
    </footer>

</section>
*@
<script>

    $(document).ready(function () {
        LoadLocation();
    });
    function LoadLocation() {
        $.ajax({
            url: "../Location",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                debugger;
                var htmlAsiaContent = '';
                var htmlNorthAmericaContent = '';
                var htmlEuropeContent = '';
                for (var i = 1; i < result.asiaContent.length; i++) {

                    if (i == 1 || (i - 1) % 3 == 0) {
                        htmlAsiaContent = htmlAsiaContent + '<div class="row mx-0">'
                    }

                    htmlAsiaContent = htmlAsiaContent + '<div class="col-md-4 d-flex loc" >' +
                        '<i class="fa fa-map-marker" aria-hidden="true"></i>' +
                        '<div style=" margin: 8px" ;="" >' +
                        '<h4>' + result.asiaContent[i].GoogleMapHeading + '</h4>' +
                        '<p>' + result.asiaContent[i].Address + '</p > ' +
                        '</div >' +
                        '</div >'

                    if (i % 3 == 0) {
                        htmlAsiaContent = htmlAsiaContent + '</div >'
                    }
                }
                if (result.asiaContent.length % 3 != 0) {
                    htmlAsiaContent = htmlAsiaContent + '</div>'
                }

                for (var i = 1; i < result.northAmericaContent.length; i++) {

                    if (i == 1 || (i - 1) % 3 == 0) {
                        htmlNorthAmericaContent = htmlNorthAmericaContent + '<div class="row mx-0">'
                    }

                    htmlNorthAmericaContent = htmlNorthAmericaContent + '<div class="col-md-4 d-flex loc" >' +
                        '<i class="fa fa-map-marker" aria-hidden="true"></i>' +
                        '<div style=" margin: 8px" ;="" >' +
                        '<h4>' + result.northAmericaContent[i].GoogleMapHeading + '</h4>' +
                        '<p>' + result.northAmericaContent[i].Address + '</p > ' +
                        '</div >' +
                        '</div >'

                    if (i % 3 == 0) {
                        htmlNorthAmericaContent = htmlNorthAmericaContent + '</div >'
                    }
                }
                if (result.northAmericaContent.length % 3 != 0) {
                    htmlNorthAmericaContent = htmlNorthAmericaContent + '</div>'
                }

                for (var i = 1; i < result.europeContent.length; i++) {

                    if (i == 1 || (i - 1) % 3 == 0) {
                        htmlEuropeContent = htmlEuropeContent + '<div class="row mx-0">'
                    }

                    htmlEuropeContent = htmlEuropeContent + '<div class="col-md-4 d-flex loc" >' +
                        '<i class="fa fa-map-marker" aria-hidden="true"></i>' +
                        '<div style=" margin: 8px" ;="" >' +
                        '<h4>' + result.europeContent[i].GoogleMapHeading + '</h4>' +
                        '<p>' + result.europeContent[i].Address + '</p > ' +
                        '</div >' +
                        '</div >'

                    if (i % 3 == 0) {
                        htmlEuropeContent = htmlEuropeContent + '</div >'
                    }
                }
                if (result.europeContent.length % 3 != 0) {
                    htmlEuropeContent = htmlEuropeContent + '</div>'
                }
                $('#asiacontentgrid').append(htmlAsiaContent);
                $('#northamericacontentgrid').append(htmlNorthAmericaContent);
                $('#europecontentgrid').append(htmlEuropeContent);


            },
            error: function (err) {
                // window.location = '../Logout';
            }
        });

    }
</script>>